@use '../../shared' as *;
@use 'sass:color';

@mixin dark-mode-body {
    background-color: $dark-bg-color;
    color: $dark-font-color;
}

@mixin dark-mode() {
    article {
        ol {
            background-color: $dark-section-bg;
            border-color: $dark-section-border;
        }
        a {
            color: color.adjust($dark-link-color, $lightness: 5%);
        }
    }
    a {
        color: $dark-link-color;
        &:hover {
            color: black;
            background-color: $dark-link-hover-bg-color;
        }
    }
}