@use '../../shared' as *;

@mixin light-mode-body {
    background-color:  $light-bg-color;
    color: $light-font-color;
}

@mixin light-mode {
    article {
        ol {
            background-color: $light-section-bg;
        }
    }
    a {
        color: $light-link-color;
        &:hover {
            color: $light-link-hover-color;
            background-color: $light-link-hover-bg-color;
        }
    }
}