<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ include('@includes/head.shtml') }}
        <meta name="robots" content="noindex"/>
        <title>subscribe | jasmine's journal</title>
        <meta name="description" content="redirect page from form submission"/>
        <link id="base-theme" rel="stylesheet" href="/_assets/stylesheets/feeds_post.css" type="text/css" media="all"/>
        <noscript>
            <link rel="stylesheet" href="/_assets/stylesheets/feeds_noscript.css" type="text/css" media="all"/>
        </noscript>
    </head>
    <body>
        <div class="layout">
            <header>
                <hgroup>
                    <h1 id="title">subscribe to jasmine's journal</h1>
                </hgroup>
            </header>
            <main>
                <article>
                    <section>
                        <h2>{{ h2 }}</h2>
                        <p>{{ message }}</p>
                        <nav>
                            <a href="https://jasm1nii.xyz/feeds">⬅ return to feeds page</a>
                            <br/>
                            <a href="https://jasm1nii.xyz/">⬅ return to home page</a>
                        </nav>
                    </section>
                </article>
            </main>
        </div>
        
    </body>
</html>