@use '../_shared/assets/font_inconsolata' as *;

// @use '../_shared/components/loader' as *;
@use '../_shared/components/header_2' as *;
@use '../_shared/components/footer_2' as *;
@use '../_shared/components/links_1' as *;
@use '../_shared/components/buttons_1' as *;
@use '../_shared/components/scrollbar' as *;
@use '../_shared/components/webkit_scrollbar' as *;

@use '../_shared/components/comments-webmentions' as *;

@use '../_shared/animations/fade-in' as *;

@mixin base ($override_header: false, $override_footer: false, $add_comments: false) {

    html {
        @include scrollbar-style-1();
        text-rendering: optimizeLegibility;
    }

    body {
        font-weight: 500;
        font-family: 'Inconsolata', monospace;
        @include scrollbar-style-2();
        @include fadeIn();
        background-color: rgb(45, 42, 48);
        transition: all 0.25s ease-out;
    }

    // @include add-loader($width: auto, $min-width: 50%, $max-width: 75%, $left: 21%);

    @if $override_header == false {
        @include header-style-2();
    }

    @if $override_footer == false {
        @include footer-style-2();
    }

    @if $add_comments == true {
        @import url('cactus-chat.css');
        @include comments-webmentions();
    }

    hr {
        border: 1px dashed pink;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    @include link-style-1();
    @include button-style-1();

    ::selection {
        background-color: rgb(248, 208, 170);
        color: black;
    }

    @include webkit-scrollbar-style-1();

}

@mixin paginator {
    .page-nav {
        padding: 1em;
        margin-bottom: 2em;
        line-height: 2em;
        ul {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
        }
        li {
            display: block;
            span {
                font-size: x-large;
            }
        }
        .previous, .next {
            a {
                display: inline-block;
                border-radius: 50px;
                height: 40px;
            }
        }
        .position {
            text-align: center;
            margin: 0 auto;
        }
        .previous {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
            width: 25%;
        }
        .next {
            text-align: right;
            margin-left: auto;
            margin-right: 0;
            width: 25%;
        }
    }
}

$shadow-style-1: 5px 5px 15px;
$shadow-style-2: -5px -5px 15px;

$dark-font-color: white;
$dark-link-color: rgb(255, 166, 181);
$dark-link-hover-bg-color: rgb(255, 234, 176);

$dark-bg-color: black;
$dark-section-bg: rgb(22, 21, 21);
$dark-section-border: rgb(68, 60, 60);

$light-font-color: rgb(63, 48, 48);
$light-link-color: rgb(88, 24, 56);
$light-link-hover-color: white;
$light-link-hover-bg-color: rgb(160, 120, 155);

$light-bg-color: rgb(232, 221, 235);
$light-section-bg: ghostwhite;

@mixin noscript {
    .loader {
        display: none;
    }
    .layout {
        opacity: 1;
    }
}