{% extends layout %}

{% set keywords = ['accountability', 'personal', 'productivity'] %}

{% set published = '21 november 2023' %}

{% block content %}
    {% apply markdown_to_html %}
        **18:03**

        i wanna try using this space for accountability posting... updates to come from my stream of conciousness...
            
        been struggling to eat today, so i'll try to have a big dinner first!

        **19:10**

        ate a proper meal while watching a day-in-my-life vlog <span class="emoji" aria-hidden="true">⸜(｡˃ ᵕ ˂ )⸝♡</span>
    {% endapply %}
    <iframe src="https://www.youtube-nocookie.com/embed/FX1RwfA20wE?si=UJMfcLKLCU8p6rD-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}

{# optional #}

{% set custom_style         = false %}
{% set publish_to_bridgy    = true  %}
{% set webmentions_301      = false %}
{% set enable_webmentions   = true  %}
{% set enable_comments      = true  %}