{% extends layout %}

{% set keywords = ['accountability', 'personal', 'productivity', 'brain dump'] %}

{% set published = '21 november 2023' %}

{% block content %}
    {% apply markdown_to_html %}
        **18:03**

        i wanna try using this space for accountability posting... updates to come from my stream of conciousness...
            
        been struggling to eat today, so i'll try to have a big dinner first!

        **19:10**

        ate a proper meal while watching a day-in-my-life vlog <span class="emoji" aria-hidden="true">⸜(｡˃ ᵕ ˂ )⸝♡</span>
    {% endapply %}
    <iframe src="https://www.youtube-nocookie.com/embed/FX1RwfA20wE?si=UJMfcLKLCU8p6rD-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% apply markdown_to_html %}
        **21:08**

        i think about this song a lot...
    {% endapply %}
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6uyltToZgo3MDKhCJ7F8Wc?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {% apply markdown_to_html %}
        i saw porter robinson back in july this year, by the way! i have a lot of thoughts about it that i haven't been able to put in coherent writing yet...

        **22:12**

        that's only an hour total of school work today... i spent the entire time trying to fix my after effects compositions with very little animation work. it's so annoying that <abbr title="Photoshop Document">PSD</abbr> masks and layer effects don't always stay perfectly intact when i'm switching between programs.
    {% endapply %}
{% endblock %}

{# optional #}

{% set custom_style         = false %}
{% set publish_to_bridgy    = true  %}
{% set webmentions_301      = false %}
{% set enable_webmentions   = true  %}
{% set enable_comments      = true  %}