/* replace with internal font url before pushing*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --bg-color-1: thistle;
    --bg-color-2: ghostwhite;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    background-color: transparent;
    color: darkmagenta;
    transition: all 0.2s ease-out;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    }
    a:hover {
    background-color: palevioletred;
    text-decoration: none;
    color: white;
    }   

::selection {
    background-color: rgb(248, 208, 170);
}

hr {
    border: 1px dashed plum;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }

html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
    text-rendering: geometricPrecision;
}

body {
    background-color: var(--bg-color-1);
    font-family: var(--font-1);
    font-size: 1em;
    width: 50%;
    max-width: 1000px;
    margin: auto;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    }
        @media all and (max-width:768px) {
            body {
                width: fit-content;
            }
        }
    #layout {
        background-color: var(--bg-color-2);
        border: 1px solid;
        margin-top: 5%;
    }
        @media all and (max-width:768px) {
            #layout {
                margin-top: 0;
            }
        }

header div {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
    @media all and (max-width:768px) {
        header div {
            flex-direction: column;
        }
    }
header time {
    font-weight: 600;
    display: block;
}

nav {
    margin: auto;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    letter-spacing: .1em;
    padding-bottom: .25em;
    padding-left: 25px;
    }
    nav ul {
        margin-top: .25em;
        margin-bottom: .25em;
        padding: 0;
    }
    nav li {
        display: inline;
        margin-right: .5em;
    }
    nav li::before {
        content: "✧";
        font-size: 1.25em;
        margin-right: .5em;
        color: pink;
    }
    nav li:last-child::after {
        content: "✧";
        font-size: 1.25em;
        margin-left: .5em;
        color: pink;
    }
    nav a {
        text-decoration: none;
        color: purple;
        padding: 0px 5px 3px 5px;
    }

main {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 3em;
    }
    footer ul {
        padding: 0;
        list-style-type: none;
        }
        footer li:nth-child(1)::before {
            content: "";
        }
        footer li::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        footer li {
            display: inline-block;
            margin-right: 1em;
        }