:root {
    --font-color-light: rgb(78, 73, 78);
    --h1-light: rgb(90, 84, 99);
    --h2-light: rgb(121, 70, 104);
    --link-color-light: darkmagenta;
    --link-hover-bg-light: rgb(216, 112, 147);
    --document-color-light: thistle;
    --page-color-light: rgb(255, 246, 246);
}

@mixin light-mode-body {
    background-color: var(--document-color-light);
    color: var(--font-color-light);
}

@mixin light-mode {
    .layout {
        background-color: var(--page-color-light);
    }
    article {
        > section {
            background-color: var(--page-color-light);
        }
    }
    section {
        &:hover {
            h2 {
                color: rgb(192, 90, 107);
            }
        }
    }
    h1 {
        color: var(--h1-light);
    }
    h2 {
        color: var(--h2-light);
    }
    a {
        color: var(--link-color-light);
        &:hover {
            background-color: var(--link-hover-bg-light);
            color: white;
        }
    }
    button {
        background-color: rgb(245, 233, 245);
        border-color: purple;
        color: rgb(51, 44, 44);
        &:hover {
            background-color: lightgoldenrodyellow;
        }
    }
}