@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            width: fit-content;
        }

        .layout {
            flex-direction: column;
        }

        header {
            nav {
                ul {
                    display: inline-flex;
                    flex-wrap: wrap;
                    ul {
                        display: inline;
                        padding-right: 0;
                        padding-left: 0;
                    }
                }
                li {
                    margin-right: .5em;
                    height: fit-content;
                    display: inline;
                    &:last-child {
                        &::after {
                            content: "✧";
                            margin-left: .5em;
                        }
                    }
                    li {
                        &:last-child {
                            &::after {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
        #headernav ul ul li:not(:first-child)::before {
            content: '/';
        }

        .sidebar {
            position: static;
            max-width: none;
        }

        main {
            margin-top: 5%;
            width: 100%;
        }

        article > section {
            padding: 1em 0;
            h2, h3, p {
                padding: 0 1em;
            }
        }

        .microblog {
            .newest-note {
                flex-direction: column;
                .u-photo {
                    margin-left: 0;
                    margin-top: 1em;
                }
            }
        }
        .blog {
            .h-entry {
                .p-name, time {
                    padding-left: 1.5em;
                }
            }
        }
        
        footer {            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
}