{% extends layout %}

{% set keywords = ['coding', 'indieweb', 'small web'] %}

{% set published = '23 august 2023' %}

{% block content %}
    hey look - my hand-coded site is on mastodon now! (i hope this renders correctly) <a href="https://stream.indieweb.org/" rel="external" class="p-category">#indieweb</a>
{% endblock %}

{# optional #}

{% set custom_style = false %}

{% set publish_to_bridgy = true %}

{% set enable_webmentions = true %}

{% set webmentions_301 = true %}

{% set enable_comments = true %}