{% extends layout %}

{% set title = "credits" %}

{% set description = "accessibility statement for the website" %}

{% block content %}
<section>
    <h3>visual assets</h3>
    <section>
        <h4>fonts</h4>
        <ul>
            <li>
                <a href="https://github.com/indestructible-type/Besley" rel="external">"besley"</a> by owen earl.
            </li>
            <li>
                <a href="https://levien.com/type/myfonts/inconsolata.html" rel="external">"inconsolata"</a> by raph levien.
            </li>
            <li>
                <a href="https://fonts.google.com/specimen/Instrument+Sans?query=instrument+sans" rel="external">"instrument sans"</a> by rodrigo fuenzalida and jordan egstad.
            </li>
        </ul>
    </section>
    <section>
        <h4>graphics</h4>
        <ul>
            <li>
                site icon by <a href="https://openmoji.org/" rel="external">openmoji.</a>
            </li>
            <li>
                background graphics generated with <a href="https://fffuel.co/" rel="external">fffuel</a> and <a href="https://heropatterns.com/" rel="external">hero patterns.</a>
            </li>
            <li>
                additional site graphics from <a href="https://www.svgrepo.com/" rel="external">svg repo.</a>
            </li>
            <li>
                website button made with <a href="https://sadgrl.online/projects/88x31-button-maker" rel="external">88 &#x78; 31 button maker by sadness.</a>
            </li>
        </ul>
    </section>
</section>
<section>
    <h3>scripts</h3>
    <section>
        <h4>javascript</h4>
        <ul>
            <li>
                <a href="https://codepen.io/paulera/pen/BPwPNw" rel="external">local timezone script</a> by paulo amaral.
            </li>
            <li>
                <a href="https://github.com/biancarosa/lastfm-last-played" rel="external">last.fm script</a> by bianca rosa.
            </li>

            <li>
                vanilla javascript theme changer script based on a <a href="https://gist.github.com/qaisarferoz/03b133e7fc535dd9f097e31d1f2d1303" rel="external">jquery snippet</a> by qaisar feroz.
            </li>
            <li>
                <a href="https://github.com/ctrl-freaks/freezeframe.js" rel="external">freezeframe.js</a> set up with the help of <a href="https://bechnokid.neocities.org/" rel="external">bechno kid's tutorial.</a>
            </li>
        </ul>
    </section>
    <section>
        <h4>PHP</h4>
        <ul>
            <li><a href="https://github.com/vezaynk/Sitemap-Generator-Crawler" rel="external">XML sitemap generator</a> by slava knyazev.</li>
        </ul>
    </section>
<section>
    <h3>services</h3>
    <ul>
        <li>
            blog comments by <a href="https://cactus.chat/" rel="external">cactus comments.</a>
        </li>
        <li>
            privacy-friendly visitor statistics by <a href="https://www.goatcounter.com/" rel="external">goat counter.</a>
        </li>
        <li>
            web hosting provided by <a href="https://www.rumahweb.com/" rel="external sponsored">rumahweb indonesia.</a>
        </li>
    </ul>
</section>
{% endblock %}