{% extends layout %}

{% set date = "november 2023" %}

{% block changelog %}
    {% apply markdown_to_html %}
        <section>

        ### <time datetime="2023-11-27">27 november 2023</time>

        - updated some of the [resource subpages.](/resources)

        </section>

        <section>

        ### <time datetime="2023-11-23">23 november 2023</time>

        - prettied up the blog pages a tad.
        - reorganized my <abbr title="Sassy Cascading Style Sheets">SCSS</abbr> and normalized the styling for a few elements across the site. scrollbars, in particular, should look a bit more consistent, especially in webkit-based browsers.
        
        </section>

        <section>

        ### <time datetime="2023-11-20">20 november 2023</time>

        - refactored the code structure a bit for the changelog, link gallery, and home page stylesheets.
        - tiny textual modifications to the changelog index.
        - also lots of work in the backend to untangle my PHP spaghetti 🔧

        </section>

        <section>

        ### <time datetime="2023-11-09">9 november 2023</time>

        - migrated my [guestbook](/guestbook) to a self-hosted system that i set up myself!

        </section>

        <section>

        ### <time datetime="2023-11-04">4 november 2023</time>

        - fixed broken skip links in the resources section.

        </section>
    {% endapply %}
{% endblock %}