@font-face {
    font-family: "Instrument Sans";
    src: url('../fonts/Instrument_Sans/InstrumentSans-Regular.ttf') format('truetype');
}

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --links-hover-bg: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    background-color: var(--links-hover-bg);
    color: black;
}
button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    background-color: thistle;
    color: black;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}
hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

::-webkit-scrollbar {
    width: .4em;
    height: .4em;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }

html {
    scrollbar-color: rgb(184, 140, 184) transparent;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}

body {
    font-family: var(--font-1);
    font-size: 1em;
    width: 90%;
    max-width: 800px;
    margin: auto;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    opacity: 0;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-out;
    }
        @media all and (max-width:768px) {
            body {
                width: fit-content;
            }
        }
    #layout {
        margin-top: 5%;
        display: flex;
        flex-direction: row-reverse;
    }
        @media all and (max-width:768px) {
            #layout {
                margin-top: 0;
                flex-direction: column;
            }
        }
body > nav {
    text-align: center;
}
body > nav:first-of-type {
    margin-top: 3em;
    margin-bottom: 1em;
}
body > nav:last-of-type {
    margin-top: 1em;
    margin-bottom: 5em;
}
header {
    max-width: 12em;
    margin-left: 1em;
    letter-spacing: .05em;
    align-self: flex-start;
    position: sticky;
    top: 2em;
}
    @media all and (max-width:768px) {
        header {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            position: relative;
        }
    }
    header > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
    }
        @media all and (max-width:768px) {
            #themeToggle {
                height: fit-content;
            }
        }
    header h1 {
        font-size: 1.5em;
    }
    header time {
        font-weight: 600;
        display: block;
    }

    header nav {
        margin: auto;
        border-top: 1px solid;
        letter-spacing: .1em;
        padding: .25em;
        font-size: .9em;
        }
        header nav ul {
            margin-top: .25em;
            margin-bottom: .25em;
            padding: .7em;
        }
        header nav li {
            display: flex;
        }
            @media all and (max-width:768px) {
                header nav li {
                    display: inline;
                    margin-right: .5em;
                }
                header nav li:last-child::after {
                    content: "✧";
                    margin-left: .5em;
                }
            }
        header nav li::before {
            content: "✧";
            margin-right: .5em;
        }
        
        header nav a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }

footer .subpage-nav {
    justify-content: space-between;
    display: flex;
}
    @media all and (max-width:500px) {
        footer .subpage-nav {
            display: inline;
            }
        footer .subpage-nav a {
            margin-right: 2em;
            margin-left: 2em;
            line-height: 2.5em;
        }
    }
footer .subpage-nav a:first-child:before {
    content: '⟵';
    margin-right: .5em;
}

main {
    margin-right: auto;
    width: 70%;
}
    @media all and (max-width:768px) {
        main {
            margin-left: auto;
            margin-top: 5%;
            width: 80%;
        }
    }
    @media all and (max-width:500px) {
        main {
            width: fit-content;
        }
    }

main > nav {
    text-align: center;
}
    main > nav::before {
        content: '⟵';
        margin-right: .5em;
    }

article {
    padding: 1em;
}
article > h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}
    @media all and (max-width:768px) {
        article > h1 { text-align: center; }
    }
article::before {
    content: '︵‿ ⊹ ︵‿୨ ♡ ୧‿︵ ⊹ ‿︵';
    display: block;
    text-align: center;
    margin-bottom: 2em;
    font-size: x-large;
}
article::after {
    content: '⋆⁺｡˚⋆˙‧₊☽ ◯ ☾₊‧˙⋆˚｡⁺⋆';
    display: block;
    text-align: center;
    font-size: x-large;
}
    article ol {
        margin-left: .5em;
    }
    article ol li::marker {
        font-size: xx-large;
        font-style: italic;
    }
    article ol li {
        list-style-type: decimal-leading-zero;
    }
    article ol li span {
        border-bottom: 1px solid;
        font-size: large;
    }
    article ol li span::before {
        content: '❝';
        margin-right: .25em;
    }
    article ol li span::after {
        content: '❞';
        margin-left: .25em;
    }
    article ol li span a {
        color: inherit;
    }
    article ol li time {
        display: block;
        font-size: smaller;
        margin-top: .5em;
    }
section {
    margin-bottom: 1.5em;
    padding: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    border: 1px solid;
}
    section h2 {
        background-color: rgba(110, 60, 139, 0.233);
        padding: 1em;
        margin-top: 0;
    }
    section + h2 {
        border: 1px solid;
    }
    section:nth-child(2n) h2 {
        text-align: right;
    }
    article > section > h2:nth-of-type(2n) {
        text-align: right;
    }
    section section {
        max-height: 400px;
        overflow-y: auto;
        scrollbar-width: thin;
        padding: 0;
    }
    section h3 {
        padding: 1em;
        background-color: rgba(216, 112, 147, 0.2);
    }
    section section p {
        margin-left: 1em;
    }
    section h4 {
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: .5em;
        border-bottom: 1px solid;
    }
    section ul {
        margin-left: 2em;
        margin-top: 0;
    }
    section li {
        margin-bottom: 1em;
    }

#section2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    padding-top: 0;
}
    
    #section2 > p {
        padding: 1em;
    }
    #section2 section {
        width: fit-content;
        margin-left: 2em;
        margin-right: 2em;
        padding: 1em;
    }
    #section2 dl {
        padding-left: 1em;
    }
    #section2 summary {
        margin-left: 3em;
    }

#legend dt::before {
    content: none;
}
#legend dd {
    margin-left: 2.5em;
}
dt {
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
}
dt::before {
    content: '‧₊˚✩彡';
    margin-right: .5em;
}
dd {
    margin-left: 1em;
    margin-right: 1em;
}
details p {
    margin-left: 3em;
}

footer {
    font-size: smaller;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 70%;
    letter-spacing: .05em;
    border-top: 1px solid;
    }
    @media all and (max-width:768px) {
        footer {
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
    footer time {
        font-weight: 600;
    }
    footer ul {
        padding: 0;
        list-style-type: none;
        }
        footer li:nth-child(1)::before {
            content: none;
        }
        footer li::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        footer li {
            display: inline;
            margin-right: 1em;
        }

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
        color: var(--dark-font);
        }
    a {
        color: var(--dark-links);
    }
}
.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}
    .dark-mode a {
        color: var(--dark-links);
    }
    .dark-mode a:hover {
        color: black
    }
    .dark-mode section {
        background-color: var(--dark-bg);
    }

@media (prefers-color-scheme: light) {
    body {
        background-color:  var(--light-bg);
        color: var(--light-font);
    } 
    a {
        color: var(--light-links);
    }
    section {
        background-color: var(--light-bg-article);
    }
}
.light-mode {
    background-color: var(--light-bg);
    color: var(--light-font);
}
    .light-mode a {
        color: var(--light-links);
    }
    .light-mode a:hover {
        color: black;
    }
    .light-mode section {
        background-color: var(--light-bg-article);
    }