@font-face {
    font-family: "Instrument Sans";
    src: url('../fonts/Instrument_Sans/InstrumentSans-Regular.ttf') format('truetype');
}

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --links-hover-bg: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    background-color: var(--links-hover-bg);
    color: black;
}
button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    background-color: thistle;
    color: black;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}
hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }

html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}

body {
    font-family: var(--font-1);
    font-size: 1em;
    font-weight: 500;
    width: 90%;
    max-width: 800px;
    margin: auto;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    opacity: 0;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-out;
    }
        @media all and (max-width:768px) {
            body {
                width: fit-content;
            }
        }
    #layout {
        margin-top: 5%;
        display: flex;
        flex-direction: row-reverse;
    }
        @media all and (max-width:768px) {
            #layout {
                margin-top: 0;
                flex-direction: column;
            }
        }
header {
    max-width: 12em;
    margin-left: 1em;
    letter-spacing: .05em;
    position: sticky;
    top: 5%;
    align-self: flex-start;
}
    @media all and (max-width:768px) {
        header {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            position: relative;
        }
    }
header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

#themeToggle {
    height: fit-content;
    width: fit-content;
}

header h1 {
    font-size: 2em;
}
header time {
    font-weight: 600;
    display: block;
}

header nav {
    margin: auto;
    border-top: 1px solid;
    letter-spacing: .1em;
    padding: .25em;
    font-size: .9em;
    }
    header nav ul {
        margin-top: .25em;
        margin-bottom: .25em;
        padding: .7em;
    }
    header nav li {
        display: flex;
    }
        @media all and (max-width:768px) {
            header nav li {
                display: inline;
                margin-right: .5em;
            }
            header nav li:last-child::after {
                content: "✧";
                margin-left: .5em;
            }
        }
    header nav li::before {
        content: "✧";
        margin-right: .5em;
    }
    header nav a {
        text-decoration: none;
        padding: 0px 5px 3px 5px;
    }
    
    header nav ul ul li::before {
        content: '⟶';
    }
        @media all and (max-width:768px) {
            header nav ul ul {
                display: inline;
                padding-left: 0;
            }
        }

footer .subpage-nav {
    justify-content: space-between;
    display: flex;
}
    @media all and (max-width:500px) {
        footer .subpage-nav {
            display: inline;
            }
        footer .subpage-nav a {
            margin-right: 2em;
            margin-left: 2em;
            line-height: 2.5em;
        }
    }
footer .subpage-nav a:first-child:before {
    content: '⟵';
    margin-right: .5em;
}

main {
    margin-right: auto;
    width: 70%;
}
    @media all and (max-width:768px) {
        main {
            margin-left: auto;
            margin-top: 5%;
            width: 80%;
        }
        main > p {
            text-align: center;
        }
    }
    @media all and (max-width:400px) {
        main {
            width: fit-content;
        }
    }
article {
    border: 1px solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    margin-bottom: 1em;
}
    @media all and (max-width:400px) {
        article {
            border-left: none;
            border-right: none;
            padding-top: 1em;
        }
    }
main::before {
    content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: .4em;
    font-size: x-large;
}
main::after {
    content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
    display: block;
    text-align: center;
    margin-top: 1.5em;
    font-size: x-large;
}
article ol {
    margin-left: .5em;
}
article ol li::marker {
    font-size: xx-large;
    font-style: italic;
}
article ol li {
    list-style-type: decimal-leading-zero;
}
article ol li span {
    border-bottom: 1px solid;
    font-size: large;
}
article ol li span::before {
    content: '❝';
    margin-right: .25em;
}
article ol li span::after {
    content: '❞';
    margin-left: .25em;
}
article ol li span a {
    color: inherit;
}
article ol li time {
    display: block;
    font-size: smaller;
    margin-top: .5em;
}
.entry h2 {
    border-bottom: 1px solid;
    padding-bottom: .25em;
}
.entry time {
    margin-right: auto;
    text-align: right;
    display: block;
}
.entry p {
    text-indent: 2em;
}
.entry p img {
    padding: 1em;
    display: block;
    margin: auto;
    max-width: 70%;
}
    @media all and (max-width:768px) {
        .entry p img {
            max-width: 100%;
            margin-left: -1em;
        }
    }
.entry blockquote {
    border: 1px dashed;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
}

#comments {
    border: 1px solid;
    padding: 2em;
}
@media all and (max-width:400px) {
    #comments { border-left: none; border-right: none; }
}
.cactus-editor-textarea::placeholder,.cactus-editor-name > span > input::placeholder, .cactus-container button {
    text-transform: lowercase;
}

footer {
    font-size: smaller;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 70%;
    letter-spacing: .05em;text-align: center;
    }
    @media all and (max-width:768px) {
        footer {
            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
    footer time {
        font-weight: 600;
    }
    footer ul {
        padding: 0;
        list-style-type: none;
        }
        footer li:nth-child(1)::before {
            content: none;
        }
        footer li::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        footer li {
            display: inline;
            margin-right: 1em;
        }

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
        color: var(--dark-font);
        }
    a {
        color: var(--dark-links);
    }
    #comments {
        background-color: var(--dark-bg);
    }
    .cactus-container button {
        color: rgb(165, 165, 173);
    }
    .cactus-container button:last-of-type:hover {
        color: black;
    }
}
.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}
    .dark-mode a {
        color: var(--dark-links);
    }
    .dark-mode a:hover {
        color: black
    }
    .dark-mode article {
        background-color: var(--dark-bg);
    }
    .dark-mode #comments {
        background-color: var(--dark-bg);
    }
    .dark-mode .cactus-container button {
        color: var(--light-font);
    }

@media (prefers-color-scheme: light) {
    body {
        background-color:  var(--light-bg);
        color: var(--light-font);
    } 
    
    a {
        color: var(--light-links);
    }
    .entry {
        background-color: var(--light-bg-article);
    }
    #comments {
        background-color: var(--light-bg-article);
    }
}
.light-mode {
    background-color: var(--light-bg);
    color: var(--light-font);
}
    .light-mode a {
        color: var(--light-links);
    }
    .light-mode a:hover {
        color: black;
    }
    .light-mode article {
        background-color: var(--light-bg-article);
    }
    .light-mode #comments {
        background-color: var(--light-bg-article);
    }
    .light-mode .cactus-container button {
        background-color: rgb(204, 198, 207);
        color: black;
    }
    .light-mode .cactus-container button:hover {
        background-color: pink;
        color: rgb(70, 35, 41);
    }