<section class="card latest-status">
    <h2 id="latest-status"><span aria-hidden="true">☕</span> latest status</h2>
    <section id="statuscafe">
        <h3 id="statuscafe-username"></h3>
        <p id="statuscafe-content"></p>
        <footer>
            <a href="https://status.cafe" rel="external"><img src="{{ src }}/statuscafebutton.png" width="88" height="31" alt="Status Cafe" loading="lazy" fetchpriority="low"/></a>
        </footer>
    </section>
</section>