<section class="time">
    <h2 id="current-time">
        current time in <span class="p-locality">bandung, indonesia</span>
        <noscript>page request time</noscript>
    </h2>
    <p class="clock" timezone="+7"><noscript>{{ 'now'|format_datetime('none', 'short', timezone='Asia/Jakarta') }}</noscript></p>
    <footer>
        <p>timezone: GMT+7</p>
    </footer>
</section>