<section class="card last-played">
    <section id="track">
        <h2 id="last-played"><span aria-hidden="true">🎵</span> last played</h2>
        <p id="song" data-animation>&#8987;</p>
    </section>
    <footer>
        <button type="button" id="js-toggle" title="pause scroll animation" aria-label="pause scroll animation" aria-controls="song" aria-pressed="false">⏯</button>
        <a href="https://www.last.fm/user/jasm1nii" id="last-fm-profile" rel="external me" class="button-style">last.fm profile</a>
    </footer>
</section>