<section class="card site-updates">
    <h2 id="site-updates"><span aria-hidden="true">🆕</span> site updates</h2>
    {% if last_updated is defined %}
        <p>
            last updated on <span>{{ last_updated|format_datetime(pattern="d MMMM yyyy")|lower }}</span>
        </p>
    {% endif %}
    {% apply markdown_to_html %}
        check out the [changelog page](/about/changelog) or the [git commit history](https://github.com/jasm1nii/jasmines-journal/commits/main) for more details.
    {% endapply %}
</section>