@font-face {
    font-family: "Inconsolata";
    font-display: swap;
    src:
      url('/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2') format('woff2'),
      url('/assets/fonts/Inconsolata/Inconsolata.woff') format('woff'),
      url('/assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.ttf') format('truetype');
  }