{% set other_sites = [
    {
        href : "https://dimden.dev/",
        src : "dimden.gif",
        alt : "dimden's hotel"
    },
    {
        href : "https://debtdeath.neocities.org/",
        src : "debtdeath-2-button.png",
        alt : "debtdeath"
    },
    {
        href : "https://adilene.net/",
        src : "adilene-sitebutton.png",
        alt : "virtual diva"
    },
    {
        href : "https://lalala-doomsday.neocities.org/",
        src : "starry_button.gif",
        alt : "doomsday-bird"
    },
    {
        href : "https://solinus.neocities.org",
        src : "solinus.png",
        alt : "solinus"
    },
    {
        href : "https://cinnamuff.neocities.org/",
        src : "cinnamuffbtn.png",
        alt : "cinnamuff"
    },
    {
        href : "https://cloverbell.neocities.org/",
        src : "cloverbell.gif",
        alt : "cloverbell"
    },
    {
        href : "https://fearoffun.neocities.org/",
        src : "fearoffun.gif",
        alt : "fearoffun"
    },
    {
        href : "https://starrs.neocities.org/",
        src : "tiny_space.gif",
        alt : "a tiny space"
    },
    {
        href : "https://gnomes.neocities.org/",
        src : "gnomes.gif",
        alt : "gnome watch"
    },
    {
        href : "https://bechnokid.neocities.org/",
        src : "bechnokid.jpg",
        alt : "bechnokid"
    },
    {
        href : "https://cherubiims.neocities.org",
        src : "cherubbutton.gif",
        alt : "cherubiims"
    },
    {
        href : "https://freakphone.net",
        src : "freakbutton2.gif",
        alt : "freak phone"
    },
    {
        href : "https://www.bikobatanari.art/",
        src : "bikobatanari.gif",
        alt : "bikobatanari"
    },
    {
        href : "https://irony-machine.neocities.org/",
        src : "irony-machine.png",
        alt : "irony machine"
    },
    {
        href : "https://aegi.neocities.org/",
        src : "aegi_button.gif",
        alt : "aegi"
    },
    {
        href : "https://fuchi.neocities.org/",
        src : "fuchibutton.jpeg",
        alt : "fuchi"
    },
    {
        href : "https://chaodamacy.neocities.org/",
        src : "chaodamacy.png",
        alt : "chaodamacy"
    },
    {
        href : "https://crowaes.neocities.org/",
        src : "waterfallbuttonpurple.png",
        alt : "crowaes (formerly waterfall)"
    },
    {
        href : "https://nenrikido.neocities.org/",
        src : "nenrikido_button.gif",
        alt : "nenrikido"
    },
    {
        href : "https://maya.land/",
        src : "maya dot land.png",
        alt : "maya land"
    },
    {
        href : "https://macchiato.neocities.org",
        src : "macchiato.png",
        alt : "macchiato"
    },
    {
        href : "https://shishka.neocities.org/",
        src : "shishka-ulala.gif",
        alt : "shiska"
    },
    {
        href : "https://sadgrl.online/",
        src : "sadgrlonline.gif",
        alt : "sadgrl online"
    },
    {
        href : "https://entranceorexit.net/",
        src : "eoe_button.png",
        alt : "entrance or exit"
    },
    {
        href : "https://oekaki.cinni.net/",
        src : "cinni-oekaki-88x31.gif",
        alt : "cinni's oekaki"
    },
    {
        href : "https://cinni.net/directory/",
        src : "ichigo-directory.png",
        alt : "ichigo directory"
    }
] %}

{% for site in other_sites %}
    <a href="{{ site.href }}" rel="external"><img src="/_assets/media/link-gallery/{{ site.src }}" alt="{{ site.alt }}" width="88" height="31"/></a>
{% endfor %}