/* generic subpage */
@use '../_shared/assets/font_instrument-sans';

@use '../_shared/components/scrollbar' as *;
@use '../_shared/components/webkit_scrollbar' as *;
@use '../_shared/animations/fade-in' as *;

@use '_screen-sizes/768'as *;

/* animations */
header,
main,
footer {
  @include fadeIn();
}

html {
  @include scrollbar-style-1();
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
  margin-top: 8vh;
  width: 80%;
  max-width: fit-content;
}

header {
  position: fixed;
  width: min-content;
}

main {
  padding: 2em;
  padding-top: 1em;
  height: fit-content;
}

main,
main+footer {
  grid-column: 2;
  max-width: 500px;
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1em;
}

header {
  time {
    font-weight: 600;
  }
  nav {
    ul {
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-color: purple;
      padding: 1em;
      padding-top: 1.5em;
    }
    li {
      display: block;
      margin-bottom: 1em;
      &::before {
        content: '୨୧';
        margin-right: .5em;
      }
    }
    a {
      text-decoration: none;
      padding: 0px 5px;
      margin-left: -5px;
    }
  }
}

main {
  border: 1px solid;
  box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.1);
  font-size: 1.1em;
  font-stretch: 98%;
  letter-spacing: .03em;
  line-height: 1.5em;
}

article {
  & ul ul {
    border-top: 1px solid;
    margin-top: 1em;
    padding-top: 1em;
  }
  & li:not(li:last-of-type) {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid;
  }
}

h1 {
  text-align: left;
  font-size: 2em;
  letter-spacing: 1px;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid hotpink;
  font-size: 1.8em;
  text-align: right;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h3,
h4 {
  padding: .5em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

main+footer {
  margin: 5vh auto;
  text-align: center;
  font-size: 1em;
  width: 80%;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    &::before {
      content: "⬩";
      font-size: 20px;
      margin-right: 15px;
    }
    &:first-child {
      &::before {
        content: none;
      }
    }
    time {
      font-weight: 600;
    }
  }
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  &:hover {
    background-color: palevioletred;
    text-decoration: none;
    color: white !important;
  }
}

button {
  padding: .5em;
  font-size: 1.2em;
  background-color: rgba(128, 0, 128, 0.267);
  border: 1px solid purple;
  border-radius: 5px;
  cursor: pointer;
}

::selection {
  background-color: rgb(255, 231, 179);
  color: black !important;
}

@include webkit-scrollbar-style-1();
@include screen-768();