{% extends layout %}

{% set title = "parroting a broken record held together by elmer's glue" %}

{% set summary = 'a first post' %}

{% set keywords = 'blog, personal' %}

{% set published = '9 august 2023' %}

{% block content %}
  <p>
      <details>
          <summary>(context if you don't know what elmer's glue is)
          </summary>
          <p>
              the staple of every USian classroom, only good for cruddy papier-mâché, and nothing more:
              <img src="{{ src }}elmers.jpg" height="200px" alt="a photo of elmer's washable school glue">
          </p>
          <hr>
      </details>
  </p>
  <p>
      i'm no stranger to writing long posts™ on the internet - and yet, spelling out my thoughts sans parsing via instagram stories and tweets remains a daunting task. i feel ridiculous for not being able to drop my social anxiety in a space supposedly curated <em>for me and me only</em>, but you know what they say about old habits.
  </p>
  <p>
      maybe with time, i might see that change.
  </p>
  <p>
      <details>
          <summary>why posting my thoughts on private accounts doesn't cut it for me (1 paragraph)</summary>
          <p>
              in short: i don't really know who to include in those circles anymore, and keeping all of this to myself in my actual journal feels... <em>inadequate</em>. none of the previous channels i've tried were cathartic enough for my autistic social needs - <a href="https://spacehey.com/jasm1nii" rel="external me">spacehey</a> is a close contender, though. i'm doing this all on a whim, crossing my fingers that i'll connect with the right people by putting stuff wherever i'm more likely to find them.
          </p>
          -
      </details>
  </p>
  <p>
      anyways, i'm not sure what to say in this post that hasn't already been said an uncountable number of times across the indie web (very much past the point of becoming a tired cliche). i just hope that i'll be able to make the most out of what i've already crafted - knowing how much effort i've put forth up until this point, it would be a waste <em>not</em> to.
  </p>
{% endblock %}

{# optional #}

{% set custom_style = false %}

{% set publish_to_bridgy = false %}

{% set enable_webmentions = false %}

{% set enable_comments = false %}