{% extends layout %}

{% set keywords = ['personal', 'reminders'] %}

{% set published = '28 december 2023' %}

{% block content %}
    <p>i gotta start treating myself the way i want others to treat me (i.e. with much more grace and kindness)</p>
{% endblock %}

{# optional #}

{% set custom_style         = false %}
{% set publish_to_bridgy    = true  %}
{% set webmentions_301      = false %}
{% set enable_webmentions   = true  %}
{% set enable_comments      = true  %}