@use '../../../_shared/components/header_2' as *;

@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            width: fit-content;
        }
        .layout {
            flex-direction: column;
        }
        
        @include header-style-2-768();
        header {
            position: static;
            max-width: 95vw;
            margin: auto;
        }

        main {
            margin-top: 5%;
            width: 100%;
        }

        .microblog, .blog {
            padding: 1em 0;
            border-left: none;
            border-right: none;
        }

        h2 {
            text-align: right;
            margin-right: 1em;
            margin-top: .5em;
        }

        .subscribe {
            padding-right: 1em;
        }

        .microblog {
            .newest-note {
                flex-direction: column;
                .u-photo {
                    margin-left: 0;
                    margin-top: 1em;
                }
            }
        }
        .blog {
            .h-entry {
                .p-name, time {
                    padding-left: 1.5em;
                }
            }
        }
        
        footer {            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
}