/* resources index */
@use '../shared' as theme;

@use '_screen-sizes/768' as *;
@use '_screen-sizes/1100' as *;

@include theme.base;

body {
    font-size: 1.1em;
    margin: auto;
    width: 90%;
    max-width: 1300px;
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}

header {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-left: 5%;
    align-self: flex-start;
    position: sticky;
    top: 2em;
    & h1 {
        font-size: 1.75em;
        letter-spacing: .05em;
    }
    & time {
        font-weight: 600;
        display: block;
    }
    & nav {
        border-top: 1px solid;
        border-bottom: 1px solid;
        letter-spacing: .1em;
        padding: .25em;
        & ul {
            margin-top: .25em;
            margin-bottom: .25em;
            padding: .7em;
        }
        & li {
            display: flex;
            margin-bottom: .5em;
            &::before {
                content: "✧";
                margin-right: .5em;
            } 
        }
        & a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }
    }
    #resources a {
        text-decoration: wavy underline 1px;
        text-underline-offset: .25em;
    }
}

#themeSwitch {
    padding: .5em;
    margin-bottom: 1em;
    width: fit-content;
    order: -1;
}

#left-col-group {
    display: flex;
    flex-direction: row;
}

#legend {
    padding: 1em 2em;
    margin-bottom: 1em;
    border: 2px dashed rgb(141, 102, 141);
    & h2 {
        font-size: 1.2em;
        margin-bottom: 1.5em;
        text-transform: uppercase;
        text-decoration: 1.5px wavy underline rgb(167, 121, 168);
        text-underline-offset: .5em;
        letter-spacing: .2em;
    }
    & li p {
        font-size: 1em;
    }
}

#guide {
    margin-right: 5%;
    margin-bottom: 5% !important;
    max-width: fit-content;
    & h2 {
        background-color: transparent !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
    }
    & ol, ul {
        padding-left: 1em;
    }
    & li {
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 1em;
        &:first-child {
            margin-top: 1em;
        }
    }
}

main {
    line-height: 1.6em;
    letter-spacing: .01em;
    h2 {
        &:not(#legend h2) {
            background-color: rgba(110, 60, 139, 0.233);
            padding: 1em;
            margin-top: 0;
            &:nth-of-type(2n) {
                text-align: right;
            }
            & + p {
                margin: 2em;
                font-style: italic;
                &::before {
                    content: '\2192';
                    margin-right: .5em;
                }
            }
        }
    }
}

article {
    border: 1px solid rgb(143, 117, 143);
    padding-bottom: 1em;
    & ul {
        margin-bottom: 2em;
        padding-right: 2em;
    }
    & li p:first-child {
        font-size: 1.2em;
    }
    & > p:first-child {
        padding: 1em 2em;
    }
}

details {
    p {
        margin-left: 3em;
    }
}

footer {
    font-size: smaller;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 7em;
    margin-bottom: 3em;
    letter-spacing: .05em;
    border-top: 1px solid;
    & time {
        font-weight: 600;
    }
    & ul {
        padding: 0;
        list-style-type: none;
    }
    & li {
        display: inline-block;
        margin-right: 1em;
        &:nth-child(1)::before {
            content: none;
        }
        &::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
    }
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    background-color: transparent;
    font-weight: 600;
    &:hover {
        background-color: var(--links-hover-bg);
        color: black;
    }
}

button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer; 
    &:hover {
        background-color: thistle;
        color: black;
    }
}

@include screen-1100();
@include screen-768();