@use '../shared' as *;

@use '_colors/entry_dark' as *;
@use '_colors/entry_light' as *;

.lightbox-toggle {
    color: white;
    font-weight: normal;
    background-color: rgba(124, 86, 93, 0.5)
}

.lightbox {
    button {
        color: white;
        &:hover {
            color: black;
            background-color: rgb(214, 175, 181);
        }
    }
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

:root .dark-mode, :host .dark-mode {
    --seia-color-text: white;
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}
:root .light-mode, :host .light-mode {
    --seia-color-text: $light-font-color;
}