@use '../shared' as theme;

@use '../../_shared/components/links_1' as *;
@use '../../_shared/components/buttons_1' as *;
@use '../../_shared/components/header_2' as *;
@use '../../_shared/components/footer_2' as *;
@use '../../_shared/components/comments-webmentions' as *;

@use '_screen-sizes/entry_768' as *;
@use '_screen-sizes/entry_500' as *;

@import url('cactus-chat.css');

body {
    font-size: 1.1em;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 10vh;
}

@include link-style-1();
@include button-style-1();

.layout {
    margin: auto 2vw;
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2vw;
}

@include header-style-2();

main {
    width: 1fr;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    margin: auto;
    margin-bottom: 15vh;
}

article {
    font-size: larger;
    font-weight: 500;
    margin-left: auto;
    margin-right: 0;
    a {
        &:hover {
            letter-spacing: .05em;
        }
    }
}

h2 {
    letter-spacing: .05em;
}
iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.h-entry, #webmentions, #comments {
    border: 1px solid;
}
.u-photo {
    aspect-ratio: 1;
    border: 1px solid;
    margin-bottom: auto;
    margin-right: 1em;
}
.h-entry {
    padding: 1em;
    line-height: 1.5em;
}
.emoji {
    display: inline-block;
}

.feed-links {
    text-align: center;
}

#webmentions, #comments {
    padding: 1.5em;
    h3 {
        margin-top: 0;
        padding-bottom: .5em;
        border-bottom: 1px dashed;
    }
}

@include comments-webmentions();
@include footer-style-2();

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

@include screen-768();
@include screen-500();

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin dark-mode-body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}

@mixin dark-mode {
    a {
        color: var(--dark-links);
        &:hover {
            color: black;
        }
    }
    .h-entry, #comments, #webmentions {
        background-color: theme.$dark-section-bg;
        border-color: theme.$dark-section-border;
        font-weight: normal;
    }
    #comments {
        button {
            color: black;
            background-color: thistle;
            &:hover {
                background-color: lightpink;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

:root .dark-mode, :host .dark-mode {
    --seia-color-text: white;
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}

@mixin light-mode {
    .h-entry, #webmentions, #comments {
        color: var(--light-font);
        background-color: var(--light-bg-article);
        font-weight: 500;
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    } 
    @include light-mode();
    :root, :host {
        --seia-color-text: var(--light-font);
    }
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}
:root .light-mode, :host .light-mode {
    --seia-color-text: var(--light-font);
}