@use '../shared' as theme;
@use '_screen-sizes/768' as *;
@use '_screen-sizes/500' as *;

@include theme.base();

body {
    font-size: 1.1em;
    width: 90%;
    max-width: 850px;
    margin: auto;
    padding-bottom: 3vh;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1em;
}

header {
    max-width: 12em;
    margin-left: 1em;
    position: sticky;
    top: 5%;
    align-self: flex-start;
    #blog > a {
        text-decoration: wavy underline;
        text-underline-offset: 0.25em;
    }
}

main {
    margin-bottom: 2em;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        margin-top: 1.5em;
        font-size: x-large;
    }
    a {
        text-decoration: dashed underline;
    }
}

.microblog, .blog {
    border: 1px solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    h2 {
        letter-spacing: .05em;
    }
}

.microblog {
    .newest-note {
        border: none;
        padding: 0 1em 1em 1em;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        .u-photo {
            border-radius: 50%;
            margin-top: 1em;
            margin-bottom: auto;
            border: 1px solid;
        }
        .p-name {
            font-size: x-large;
        }
        .h-entry {
            display: flex;
            flex-direction: column;
        }
        .e-content {
            line-height: 1.5em;
            font-size: larger;
            margin: 0;
        }
        p {
            margin-top: 0;
        }
        time {
            padding-bottom: .25em;
            margin-left: 0;
        }
    }
}

.blog {
    .h-entry {
        padding: 0 0 1em 0;
        border: none;
        font-size: larger;
        h3 {
            margin-top: 0;
            padding: .5em;
            letter-spacing: .015em;
            font-weight: 600;
            + p {
                margin-left: 1em;
            }
        }
    }
    .tags {
        border-top: 1px dashed;
        padding-top: 1em;
    }
}

.p-name {
    line-height: 1.5em;
    a {
        text-decoration: 1px solid underline;
        text-underline-offset: .3em;
    }
}

.read-more {
    font-weight: normal;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    line-height: 2em;
    dd {
        margin-left: 1em;
        font-weight: normal;
        font-size: smaller;
        a {
            font-weight: normal;
            clip-path: polygon(10px 0%, 100% 0, 100% 100%, 10px 100%, 0 50%);
            padding: .5em;
            padding-left: 1em;
            text-decoration: none;
            background-color: rgba(136, 95, 160, 0.2);
        }
    }
}

.subscribe {
    margin-top: 0;
    padding-top: 1em;
    border-top: 1px dashed;
    text-align: right;
    ul {
        display: inline-flex;
        flex-wrap: wrap;
        column-gap: 1em;
        list-style: none;
    }
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

@include screen-768;
@include screen-500;