{% extends layout %}

{% set keywords = ['coding', 'indieweb', 'small web'] %}

{% set published = '3 september 2023' %}

{% block content %}
    <p>
        check out these cool web pages made by the 32-bit cafe community for our <a href="https://tilde.32bit.cafe/~hermit/community_jam_2/submissions.html">august code jam 💻</a> <a href="https://stream.indieweb.org/" rel="external" class="p-category">#indieweb</a>
    </p>
{% endblock %}

{# optional #}

{% set custom_style = false %}

{% set publish_to_bridgy = true %}

{% set enable_webmentions = true %}

{% set webmentions_301 = true %}

{% set webmentions_prev_url = "https://jasm1nii.xyz/blog/notes/2023/09/03/entry-1316" %}

{% set enable_comments = true %}