:root {
    --light-font-1: #4e494e;
    --light-font-2: rgb(56, 36, 56);
    --light-main-bg: whitesmoke;
    --light-main-border: purple;
    --light-h1: #4a3b61;
    --light-h2: #5a5463;
    --light-h3: rgb(107, 72, 128);
    --light-h3-before: rgb(173, 123, 173);
    --light-h3-bg: rgb(227, 219, 230);
    --light-h4: color: rgb(119, 95, 35);
    --light-h4-bg: antiquewhite;
    --light-a: darkmagenta;
    --light-decor: rgb(169, 121, 179);
    --light-section-bg: whitesmoke;
    --light-summary-bg: rgb(216, 216, 233);
    --light-li-border: rgb(223, 212, 212);
    --light-headernav: rgb(76, 15, 95);
}

@mixin light-mode {
    header {
        & p {
            color: var(--light-font-2);
        }

        & nav ul:first-child {
            color: var(--light-headernav);
        }
    }

    h1 {
        color: var(--light-h1);
    }

    #h1-main {
        color: rgb(125, 53, 139);
    }

    h2 {
        color: var(--light-h2);
    }

    h3 {
        color: var(--light-h3);

        &:not(summary h3) {
            background-color: var(--light-h3-bg);
        }

        &::before {
            color: var(--light-h3-before);
        }
    }

    h4,
    summary {
        color: var(--light-h4);
        background-color: var(--light-h4-bg);
    }

    article {
        &::after {
            color: var(--light-decor);
        }

        section {
            background-color: var(--light-section-bg);
        }
    }

    section {
        li {
            border-color: var(--light-li-border);
        }

        >details {
            summary {
                background-color: var(--light-summary-bg);
            }
        }
    }

    a {
        color: var(--light-a);

        &:hover {
            color: white;
        }
    }
}

@mixin light-mode-body {
    color: var(--light-font-1);
    background-color: rgb(228, 205, 228);
}