@use 'assets/font_besley';
@use 'assets/font_inconsolata';
@use 'assets/font_instrument-sans';

@use 'components/nav_1'as *;
@use 'components/footer_1'as *;
@use 'components/webkit_scrollbar'as *;
@use 'components/scrollbar'as *;

@forward 'components/loader';

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --font-2: 'Besley', serif;
    --font-3: 'Inconsolata', monospace;
    --font-color-light: #4e494e;
    --h1-light: #5a5463;
    --h2-light: #712357;
    --h3-light: #631863;
    --link-color-light: darkmagenta;
    --link-hover-bg-color-light: rgba(216, 112, 147, .5);
    --document-color-light: thistle;
    --page-color-light: #fff6f6;
    --section-card-light: rgb(255, 239, 239);
    --footer-font: rgb(97, 58, 97);

    --page-bg-dark: rgb(13, 13, 14);
    --page-border-dark: #503281;
    --section-card-dark: hsl(255, 5%, 16%);
    --dark-mode-links: rgb(255, 192, 216);
    --link-hover-bg-dark: rgb(170, 92, 118);
    --dark-mode-h: rgb(223, 154, 236);
    --dark-button-bg: #463646;
}

* {
    @include scrollbar-style-1();
}

body {
    color: white;
    background-color: rgb(56, 49, 56);
    transition: background-color 0.25s ease-out;
}

a {
    color: plum;
}

@include nav-style-1();
@include footer-style-1();

button {
    cursor: pointer;
    transition: all .5s ease;
}

button:active,
.button-style:active {
    transition: all .1s ease;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translatey(-10px);
    }

    100% {
        opacity: 1;
        transform: translatey(0);
    }
}

@keyframes fadeInPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}