@font-face {
  font-family: "Besley";
  font-display: swap;
  src:
    url('/_assets/fonts/Besley/Besley-VariableFont_wght.woff2') format('woff2'),
    url('/_assets/fonts/Besley/Besley.woff') format('woff'),
    url('/_assets/fonts/Besley/Besley-VariableFont_wght.ttf') format('truetype');
}