{% extends layout %}

{% set keywords = ['php', 'coding'] %}

{% set published = '20 october 2023' %}

{% block content %}
    <p>
        was possessed by a bought of hyperfocus for a couple of days and made an atom (RSS) feed generator in PHP... <a href="https://github.com/jasm1nii/xml-feed-generator" rel="external me">check it out!</a>
    </p>
{% endblock %}

{# optional #}

{% set custom_style = false %}

{% set publish_to_bridgy = true %}

{% set enable_webmentions = true %}

{% set webmentions_301 = false %}

{% set enable_comments = true %}