<section aria-labelledby="site-updates">
    <div class="card site-updates">
        <h2 id="site-updates"><span aria-hidden="true">🆕</span> site updates</h2>
        <div class="overflow">
            {% apply markdown_to_html %}
                ### <time datetime="2023-11-09">9 november 2023</time>

                * my guestbook is now self-hosted - <a href="/guestbook">check it out!</a>

                ### <time datetime="2023-10-25">25 october 2023</time>

                * huge overhaul of the backend - rewrote a lot of code in PHP and twig!

                ### <time datetime="2023-10-11">12 october 2023</time>
                
                * published my <a href="/accessibility">accessibility statement!</a>
            {% endapply %}
            <footer>
                more details and past changes can be found in the <a href="/about/changelog">change log.</a>
            </footer>
        </div>
    </div>
</section>