@mixin screen-1100 {

    @media all and (min-width:1100px) {
        main {
            max-width: 75vw;
        }
    }

    @media all and (max-width:1100px) {
        #left-col-group {
            flex-direction: column;
        }
        #guide {
            position: static !important;
            top: 0;
            width: 80%;
            margin: auto;
            margin-left: 10vw;
            font-size: larger;
        }
    }
    
}