@use '../_shared/assets/font_besley';
@use '../_shared/assets/font_instrument-sans';

@use '../_shared/components/loader' as *;
@use '../_shared/components/scrollbar' as *;
@use '../_shared/components/webkit_scrollbar' as *;

@use '../_shared/animations/fade-in' as *;

@use '_screen-sizes/1400' as *;
@use '_screen-sizes/768' as *;

html {
    @include scrollbar-style-1;
}

body {
    color: rgb(245, 229, 229);
    background-color: rgb(36, 33, 37);
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1em;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90vw;
    max-width: 1200px;
}

@mixin heading-font {
    font-family: "Besley", serif;
}

a {
    color: plum;
    transition: letter-spacing .2s ease;
    &:hover {
        letter-spacing: .1em;
    }
}
#themeSwitch {
    width: fit-content;
    height: fit-content;
    padding: .5em;
    margin: auto 0;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
    font-size: 1em;
}

header {
    grid-row: 1;
    margin-top: 3vh;
    display: grid;
    @include heading-font;
    hgroup {
        grid-column: 2 / 10;
        h1 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            font-size: larger;
            font-weight: 500;
        }
    }
    nav {
        grid-column: 1 / 10;
        ul {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: 0;
            padding-left: 0;
            list-style-position: inside;
        }
        li {
            margin-right: 1em;
            width: max-content;
            &::marker {
                content: "✦ ";
            }
        }
    }
}

main {
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    @include fadeIn;
}

.form {
    position: sticky;
    bottom: 15vh;
    align-self: self-end;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-weight: 500;
    & .dialog {
        border: 1px solid;
        width: fit-content;
        padding: 1em;
        margin: 2em auto;
    }
    & h2 {
        text-decoration: 1.5px underline wavy;
    }
}

form {
    display: grid;
    row-gap: .5em;
    margin-top: 2em;
    input, textarea {
        padding: .5em;
        margin-bottom: 1em;
        border: 1px solid;
        border-radius: 5px;
        font-size: 1em;
        background-color: transparent;
        &::placeholder {
            color: rgb(189, 168, 168);
        }
    }
    @for $i from 1 through 4 {
        label:nth-of-type(#{$i}), input:nth-of-type(#{$i}) {
            grid-row: $i;
        }
    }
    label {
        font-size: larger;
        font-weight: 600;
        grid-column: 1;
        &::after {
            margin-left: .25em;
        }
    }
    label[for="message"] {
        $grid: span 5;
        grid-column: $grid;
        &::after {
            content: "*";
            color: red;
            font-size: larger;
        }
        ~ textarea, ~ span {
            grid-column: $grid;
        }
    }
    input {
        grid-column: 2 / 6;
        &[type="submit"] {
            border-radius: 0px;
            grid-row: 7;
            width: fit-content;
            height: fit-content;
            margin: auto;
            margin-right: 0;
            cursor: pointer;
        }
    }
    textarea {
        height: 15vh;
        font-size: larger;
        margin-top: 1em;
    }
}

.messages {
    position: relative;
    margin-top: min(10vh, -150px);
    & a {
        text-decoration: 1.5px underline dashed;
    }
    & nav {
        margin: 2em auto;
        letter-spacing: .1em;
        line-height: 2em;
        font-weight: 500;
        ul {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
        }
        li {
            display: block;
            span {
                font-size: x-large;
            }
        }
        a {
            text-decoration: none;
        }
        .previous, .next {
            a {
                display: inline-block;
                border-radius: 50px;
                height: 40px;
            }
        }
        .previous {
            text-align: left;
            margin-left: 0;
            margin-right: auto;
            padding-left: 5px;
            width: 25%;
        }
        .position {
            text-align: center;
            margin: 0 auto;
        }
        .next {
            text-align: right;
            margin-left: auto;
            margin-right: 0;
            padding-right: 5px;
            width: 25%;
        }
    }
}

.message {
    border: 1px solid;
    padding: .25em 1em 1em 1em;
    margin-bottom: 3em;
    & h2 {
        font-size: 1.25em;
        @include heading-font;
    }
    & .reply-context {
        font-size: smaller;  
    }
    & .content {
        margin-left: 1em;
        font-weight: 450;
        font-stretch: 95%;
        letter-spacing: .025em;
        & + footer {
            text-align: right;
        }
    }
}

.is-threaded {
    width: 85%;
    margin-left: auto;
    border-left: 5px solid;
}

main + footer {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    margin-top: 5em;
    margin-bottom: 3em;
    margin-left: auto;
    width: 80%;
    font-size: .9em;
    ul {
        display: inline-flex;
        flex-wrap: wrap;
        list-style-position: inside;
        align-items: center;
        margin-right: -1em;
        &:last-of-type {
            list-style: none;
        }
    }
    li {
        margin-bottom: 1em;
        margin-right: 1em;
        margin-left: auto;
        width: fit-content;
    }
}

@include webkit-scrollbar-style-1;
@include screen-1400;
@include screen-768;