@mixin dark-mode {
    header,
    #statuscafe-content,
    .web-rings,
    .time,
    .web-rings details p,
    footer {
        color: white;
    }

    header {
        nav {
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: var(--page-border-dark);
            a {
                color: var(--dark-mode-links);
            }
        }
    }

    h2 {
        border-bottom: 1px solid rgb(131, 82, 131);
    }

    h2,
    h3 {
        color: rgb(223, 154, 236);
    }

    a,
    .web-rings a {
        color: var(--dark-mode-links);
    }
    a:hover {
        background-color: var(--link-hover-bg-dark);
        color: white;
    }

    button,
    .button-style {
        background-color: var(--dark-button-bg);
        border-color: purple;
        color: rgb(230, 214, 236);
        &:hover {
            background-color: rgb(113, 35, 87);
        }
        &:active {
            background-color: rgb(207, 102, 102);
            color: white;
        }
        &:focus {
            background-color: rgb(139, 79, 97);
        }
    }

    .layout {
        background-color: var(--page-bg-dark);
        border-color: var(--page-border-dark);
    }

    article {
        background: url('/_assets/media/_shared/css/ooorganize-dark.svg');
        > section {
            border-color: rgb(121, 70, 121);
            box-shadow: 0px 0px 12px rgb(165, 82, 151);
        }
    }

    article > section,
    #statuscafe,
    .time,
    .web-rings,
    .web-rings details p,
    .web-rings-list {
        background-color: rgb(36, 34, 37);
        color: white;
    }

    .h-card {
        background-image: url('/_assets/media/_shared/css/bank-note-dark.svg');
        text-shadow: 0 0 5px black;
        background-color: var(--section-card-dark);
        box-shadow: 0px 0px 12px rgb(157, 63, 173);
    }

    .time {
        border-color: rgb(90, 45, 130);
        border-bottom: 5px outset rgb(58, 58, 88);
        border-right: 5px outset rgb(67, 67, 102);
        box-shadow: 0px 0px 12px rgb(148, 112, 219);
    }

    .latest-status, #latest-status {
        border-color: rgb(100, 80, 100);
    }
    .latest-status {
        box-shadow: 0px 0px 12px rgb(161, 110, 172);
    }
    #latest-status {
        background: url('/_assets/media/_shared/css/line-in-motion-dark.svg') rgb(52, 39, 58);
    }

    #statuscafe-content {
        background-color: rgba(255, 255, 255, .1);
    }

    .last-played {
        background-color: var(--last-played-dark-bg);
        border-bottom: var(--last-played-dark-b-border);
        border-right: var(--last-played-dark-r-border);
        box-shadow: 0px 0px 12px rgb(59, 87, 139);
        h2 {
            color: rgb(170, 195, 212);
        }
    }

    #track {
        background-color: rgb(35, 38, 41);
    }

    .site-updates {
        border-color: rgb(39, 78, 78);
        box-shadow: 0px 0px 12px rgb(50, 129, 67);
        h2 {
            border-color: rgb(39, 78, 78);
        }
        h2,
        h3 {
            color: rgb(179, 216, 179);
        }
        a {
            color: rgb(124, 184, 124);
        }
    }

    .web-rings {
        box-shadow: 0px 0px 12px rgb(95, 46, 128);
        h2 {
            color: rgb(170, 140, 219);
        }
    }

    .guestbook {
        box-shadow: 0px 0px 12px rgb(121, 26, 85);
        h2 {
            color: rgb(253, 188, 255);
        }
        h3 {
            color: rgb(242, 199, 255);
        }
        blockquote {
            font-weight: 500;
            background-color: rgb(49, 47, 51);
        }
    }

    .overflow {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgb(164, 118, 170);
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: plum;
    }
}

@mixin dark-mode-body {
    color: white;
    background-color: black;
    font-weight: normal;
}