:root {
    --site-updates-bg-light: #fff5f5;
    --overflow-bg-light: rgb(255, 244, 246);
    --overflow-border: 1px solid rgb(170, 99, 111);
}

@mixin light-mode {
    a {
        color: var(--link-color-light);
        &:hover {
            background-color: rgba(128, 0, 128, 0.5);
            color: white;
        }
    }
    button,
    .button-style {
        background-color: #f5e9f5;
        color: rgb(51, 44, 44);
        &:hover {
            background-color: lightgoldenrodyellow;
            color: rgb(51, 44, 44);
        }
        & a:hover {
            color: rgb(51, 44, 44);
        }
    }
    .layout {
        background-color: var(--page-color-light);
    }
    header {
        nav {
            $nav-border: 1px solid rgb(82, 70, 82);
            border-top: $nav-border;
            border-bottom: $nav-border;
        }
    }
    h1,
    header p {
        color: var(--h1-light);
    }
    article {
        background: url('/_assets/media/_shared/css/ooorganize.svg');
        > section {
            background-color: var(--section-card-light);
            color: var(--font-color-light);
            box-shadow: 10px 10px rgba(255, 149, 165, 0.5);
        }
    }

    .h-card {
        background: url('/_assets/media/_shared/css/bank-note.svg');
        background-color: snow;
        box-shadow: 10px 10px rgba(192, 138, 176, 0.5);
        text-shadow: 0 0 5px white;
    }

    h2 {
        color: var(--h2-light);
        border-bottom: 1px solid rgb(233, 166, 205);
    }

    h3 {
        color: var(--h3-light);
    }
    .time {
        background-color: var(--time-bg);
        color: var(--time-font-color);
        border-color: purple;
        border-bottom: var(--time-border-bottom);
        border-right: var(--time-border-right);
        box-shadow: 10px 10px rgba(147, 112, 219, .5);
    }
    .clock {
        color: mintcream;
    }
    .last-played {
        background-color: var(--last-played-bg);
        border-bottom: var(--last-played-border-bottom);
        border-right: var(--last-played-border-right);
        box-shadow: var(--last-played-shadow);
        h2 {
            color: rgb(90, 79, 139);
        }
    }
    #track {
        background-color: linen;
    }
    .latest-status, #latest-status {
        border-color: rgb(175, 140, 175);
    }
    .latest-status {
        box-shadow: 10px 10px rgba(161, 110, 172, 0.5);
    }
    #latest-status {
        background: url('/_assets/media/_shared/css/line-in-motion.svg') rgb(238, 225, 238);
    }
    #statuscafe {
        background-color: snow;
        color: black;
    }
    #statuscafe-content {
        background-color: rgb(243, 242, 247);
        color: rgb(24, 14, 39);
    }
    .site-updates {
        background-color: rgb(224, 233, 220);
        box-shadow: 10px 10px rgba(50, 129, 67, 0.4);
        border-color: green;
        color: rgb(4, 32, 4);
        h2 {
            border-color: green;
        }
        & h2,
        h3 {
            color: rgb(4, 32, 4);
        }
        a {
            color: rgb(15, 83, 15);
        }
    }

    .overflow {
        background-color: var(--overflow-bg-light);
    }

    $webring-links: rgb(83, 20, 83);

    .web-rings {
        background-color: var(--web-rings-card);
        color: var(--web-rings-font);
        box-shadow: 10px 10px rgba(141, 67, 141, 0.5);
        h2 {
            color: var(--web-rings-font);
        }
        a {
            color: $webring-links;
            &:hover {
                color: white;
            }
        }
        details p {
            background-color: white;
            color: var(--font-color-light);
        }
    }

    .web-rings-list {
        background-color: var(--web-rings-bg-light);
        color: var(--web-rings-font);
        a {
            color: $webring-links;
        }
    }

    .web-ring-item {
        background-color: rgba(128, 0, 128, 0.1);
    }

    .guestbook {
        background-color: rgb(255, 225, 245);
        box-shadow: 10px 10px rgba(192, 45, 136, 0.45);
        h2,
        h3 {
            color: rgb(153, 32, 127);
        }
    }
    footer {
        color: var(--footer-font);
    }
}

@mixin light-mode-body {
    font-weight: 500;
    color: var(--font-color-light);
    background-color: var(--document-color-light);
}