/* css by jasm1nii on neocities */

@font-face {
  font-family: "Instrument Sans";
  src: url('assets/fonts/Instrument_Sans/InstrumentSans-Regular.ttf') format('truetype');
}

/* animations */

header, main, footer {
  opacity: 0;
  animation: fadeInPage .75s;
  animation-fill-mode: forwards;
}
header p, h1, h2, h3 {
  color: inherit;
  transition: color 0.3s ease-out;
}
header p:hover, h1:hover, h2:hover, h3:hover {
  color: rgb(122, 88, 136);
}

@keyframes fadeInSlide {
  0% {
      opacity: 0;
      transform: translatey(0);
  }
  100% {
      opacity: 1;
      transform: translatey(5px);
   }
}

@keyframes fadeInPage {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

html {
  scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

body {
  background-color: thistle;
  color: #4e494e;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 14px;
}
::selection {
  background-color: yellow;
}
mark {
  background-color: rgb(247, 222, 226);
}
.mark-2 {
  background-color: antiquewhite;
}
.mark-3 {
  background-color: rgb(202, 230, 220);
}

.layout {
  display: flex;
  max-width: min-content;
  margin: auto auto auto auto;
}
@media all and (max-width:768px) {
  .layout {
    flex-direction: column;
    max-width: none;
  }
}

header {
  margin: 50px auto auto auto;
  padding-left: 50px;
  position: sticky;
  top: 5%;
}
@media all and (max-width:768px) {
  header {
    margin: 5% auto 25px auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    position: static;
  }
}
main {
  width: 500px;
  margin: 50px;
  padding: 3em;
  padding-top: 1em;
  background-color: whitesmoke;
  border: 1px solid purple;
  box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.1);
}
.main-2 {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}
@media all and (max-width:768px) {
  main {
    margin: auto;
    width: 80%;
    padding-top: 0;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1em;
    height: 500px;
    overflow: auto;
    scrollbar-width: thin;
  }
  .main-2 {
    min-width: fit-content;
    height: max-content;
  }
}

h1 {
  color: #5a5463;
  text-align: left;
  font-size: 36px;
  letter-spacing: 1px;
}
@media all and (max-width:768px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  color: #5a5463;
  padding-bottom: 10px;
  border-bottom: 1px solid hotpink;
  font-size: 24px;
}
#todo::before {
  content: "📝";
  color: gray;
  margin-right: 10px;
}
#changelog::before {
  content: "🔨";
  color: gray;
  margin-right: 10px;  
}
#knownIssues::before{
  content: "💫";
  color: gray;
  margin-right: 10px;
}
#report::before {
  content: "❗";
  color: gray;
  margin-right: 10px;
}

/* h3 */
#log::before {
    content: "⟶";
    margin-right: 0.5em;
    text-decoration-style: none;
}

/* p */
#important {
  border: 1px solid rgb(187, 142, 59);
  padding: 1em;
  font-weight: 600;
  background-color: rgb(241, 230, 225);
  color: rgb(78, 57, 18);
  width: fit-content;
}
@media all and (max-width:768px) {
  #important {
    margin: auto;
  }
}

a {
  background-color: transparent;
  color: darkmagenta;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
a:hover {
  background-color: palevioletred;
  text-decoration: none;
  color: white;
}
section ul {
  list-style-position: inside;
  padding: 0;
}
section li {
  border-bottom: 1px solid rgb(223, 212, 212);
  padding: 1em;
}
section li:first-child {
  padding-top: 0;
}
section li li {
  border: none;
  padding-bottom: 0;
}
section nav li {
  border: none;
  padding: 0;
}
section h3 {
  background-color: rgb(227, 219, 230);
  padding: .5em;
  color: rgb(107, 72, 128);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#owo::before {
  content: "( ͡o ω ͡o )" ;
  color: rgb(173, 123, 173);
  margin-right: 0.25em;
  text-transform: none;
}
h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: antiquewhite;
  padding: .5em;
  color: rgb(119, 95, 35)
}
h4::before {
  content: '☆';
  margin-right: .5em;
}
h4::after {
  content: '☆';
  margin-left: .5em;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed plum;
}

/* semantic tag styling */

article > nav a::before {
  content: "⟵";
  margin-right: .5em;
}
.article-2 > section:not(section:first-child) {
  border: 1px solid purple;
  background-color: whitesmoke;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
}
@media all and (max-width:768px) {
  .article-2 > section:not(section:first-child) {
    max-width: 500px;
  }
}
nav .site-update {
  border-left: 2px solid purple;
  padding-left: 15px;
  margin-bottom: 0;
}
.site-update time {
  font-weight: 600;
  display: block;
}
header nav ul li ul {
  border: none;
}
nav ul {
  border-left: 2px solid purple;
  padding-left: 15px;
  padding-top: 50px;
  margin-top: 0;
  color: rgb(76, 15, 95);
}
nav li {
  display: block;
  margin-bottom: 1em;
}
nav li ul {
  padding-top: 0;
  margin-top: 1em;
}
nav a {
  text-decoration: none;
  color: purple;
  padding: 0px 5px 0px 5px;
  margin-left: -5px;
}
#archiveNav li {
  margin-right: 0;
  font-weight: 600;
}
@media all and (max-width:768px) {
  header > nav ul {
    padding: 0;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
  nav li {
    margin-right: 1em;
    display: inline;
    flex-direction: row;
    margin-bottom: 0;
  }
  header nav li ul {
    display: inline;
  }
  header nav li ul::before {
    content: '⟶ [';
    padding-right: .25em;
  }
  header nav li ul li:last-child:after {
    content: ']';
    padding-left: .25em;
  }
}
section > nav {
  display: initial;
}
section > nav ul {
  display: initial;
  border: none;
  font-weight: 600;
}
section > nav li {
  display: initial;
  font-weight: normal;
}
section > nav li:first-child::before {
  content: "⟶";
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#archiveNav li li::before {
  content: none;
}
section > nav li::after {
  content: "•";
  margin-right: 0.5em;
  margin-left: 0.5em;
}
section > nav li:last-child::after {
  content: none;
}

summary {
  font-weight: 600;
  font-size: 1.1em;
}
details dl {
  margin-left: 2em;
  font-weight: 600;
}
details dt {
  font-weight: normal;
  margin-left: 1em;
}
details dl:last-child dt::before {
  content: '☆ »';
  margin-right: .5em;
}
section > details summary {
  background-color: rgb(216, 216, 233);
  padding: .5em;
  margin-top: 1em;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-align: center;
  font-size: 14px;
  color: rgb(97, 58, 97);
  width: 85%;
}

footer ul {
   padding: 0;
   list-style-type: none;
}
footer li {
   display: inline-block;
   margin-right: 15px;
}
footer li:nth-child(1)::before {
   content: "";
}
footer li::before {
   content: "⬩";
   font-size: 20px;
   margin-right: 15px;
}
footer time {
  font-weight: 600;
}