<section class="h-entry">
    <h3 class='p-name'><time datetime='{{ published|date() }}'><a href='/blog/notes/{{ slug }}'>{{ published }}</a></time></h3>
    <p class='e-content'>{{ block('content') }}</p>
</section>