@mixin screen-768 {
    @media all and (max-width:768px) {
        .board {
            margin-top: 0;
            max-width: none;
            border-left: none;
            border-right: none;
        }
        header {
            padding-top: 2vh;
            & hgroup {
                margin-right: 20vw;
                & p {
                font-size: clamp(1.5em, 3vw, 1.75em);
                line-height: 1.5em;
                }
            }
        }
        h1 {
            line-height: 1.5em;
        }
        nav {
            padding-left: 5%;
            overflow-x: auto;
            white-space: nowrap;
            font-size: .95em;
        }
        main {
            font-size: 1em;
        }
        .notice-group {
            margin-top: 5%;
            top: 120vh;
        }
        #pin {
            right: -5vw;
        }
        #notice {
            width: 200px;
        }
        article {
            padding-top: 10vh;
        }
        .p-note {
            font-size: .9em;
        }
        .latest-status {
            min-width: 55%;
        }
        footer {
            width: 90%;
        }
    }
    @media all and (max-width:700px) {
        article {
          columns: 1;
        }
    }
}