@mixin clock {
    :root {
        --time-bg: lavender;
        --time-font-color: rgb(104, 92, 124);
        --time-border-bottom: 5px outset rgb(199, 199, 236);
        --time-border-right: 5px outset rgb(242, 242, 255);    
    }
    .time {
        border-radius: 10px;
        text-align: center;
        padding: .25em 1em;
        border-bottom: var(--time-border-bottom);
        border-right: var(--time-border-right);
        break-inside: avoid;
        font-size: 1.1em;
        footer {
            border: none;
            text-align: center;
            margin-top: 0;
            padding: 0;
        }
    }
    #current-time {
        border: none;
        color: inherit;
        font-size: 1em;
        padding: 1em 0;
        font-weight: 500;
    }
    .p-locality {
        display: block;
        font-size: 1.3em;
    }
    .clock-display {
        color: mintcream;
        background-color: #374048;
        border-top: 3px inset gray;
        border-left: 3px inset gray;
        min-height: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1.5em;
        overflow: hidden;
    }
    .clock {
        font-size: 3em;
        letter-spacing: .1em;
        margin: 0;
    }
}