@mixin site-updates {
    .site-updates {
        box-shadow: 10px 10px rgba(50, 129, 67, 0.4) !important;
        p {
            text-align: center;
            span {
                display: block;
                font-size: x-large;
                font-weight: 600;
                font-family: var(--font-3);
            }
        }
    }
}