@mixin site-updates {
    .site-updates {
        p {
            text-align: center;
            span {
                display: block;
                font-size: x-large;
                font-weight: 600;
                font-family: var(--font-3);
            }
        }
    }
}