@mixin status-cafe {
    .latest-status {
        padding: 0;
        border: 1px solid;
        border-radius: 0;
        footer {
            margin: 1.5em auto 0;
            padding: 1em 0 0;
            text-align: center;
            border-top: 1px dashed thistle;
            a {
                display: block;
                margin: 0 auto;
            }
        }
    }
    #latest-status {
        border-bottom: 1px solid;
        padding: 1em;
    }
    #statuscafe {
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        font-size: 1.1em;
    }
    #statuscafe-username {
        margin-top: 0;
        margin-bottom: .5em;
        font-weight: 600;
    }
    #statuscafe-content {
        padding: .5em;
        font-family: var(--font-3);
        font-size: 1.1em;
        min-height: 75px;
        word-wrap: break-word;
    }
}