@mixin h-card {
    .h-card {
        border: 1px solid rgb(183, 124, 189);
        aspect-ratio: 6 / 10;
        font-size: 1.1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: .5em 1em;
        overflow: hidden;
        footer {
            padding: 0;
        }
    }
    /* h2 */
    #webmaster-identity {
        border: none;
        font-variant: small-caps;
        letter-spacing: 1px;
        font-size: 1.4em;
        grid-row: 1;
        grid-column: span 4;
    }
    .u-photo {
        grid-column: span 3;
        grid-row: 2 / 5;
        max-width: 100%;
        aspect-ratio: 1 / 1;
    }
    .u-featured {
        width: 290px;
        height: 341px;
    }
    /* JS flower */
    #surprise {
        grid-column: 4;
        grid-row: 4;
    }
    .flower {
        grid-column: 4;
        width: 100%;
        height: auto;
        /* sass: start from 2, because the javascript flower comes first in the DOM, for whatever weird reason... */
        @for $i from 2 through 3 {
            &:nth-of-type(#{$i}) {
                grid-row: $i;
            }
        }
    }
    .p-note {
        grid-column: span 4;
        grid-row: 5;
        letter-spacing: .025em;
        font-size: 1em;
        & ul {
            list-style: none;
            padding: 0;
            padding-left: .5em;
            margin: 0;
        }
        & li {
            margin-bottom: .5em;
            display: flex;
            flex-direction: row;
            & span:first-of-type {
                width: 1em;
                text-align: center;
                margin-right: 1em;
            }
        }
    }
    /* holds metadata for bridgy */
    .hidden {
        display: none;
    }
    .barcode {
        background: url('/_assets/media/main/barcode.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 50px;
        grid-row: 6;
        grid-column: 2 / 5;
        margin-top: 0;
        padding: 0;
        border-top: 0;
        display: block;
        position: static;
    }
}