@mixin clock {
    :root {
        --time-bg: lavender;
        --time-font-color: rgb(104, 92, 124);
        --time-border-bottom: 5px outset rgb(199, 199, 236);
        --time-border-right: 5px outset rgb(242, 242, 255);    
    }
    .time {
        border-radius: 10px;
        text-align: center;
        padding: .25em 1em;
        border-bottom: var(--time-border-bottom);
        border-right: var(--time-border-right);
        break-inside: avoid;
        break-after: always;
        font-size: 1.1em;
        max-width: 270px;
        // aspect-ratio: 1.15 / 1;
        display: flex;
        flex-direction: column;
        footer {
            border: none;
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }
    }
    #current-time {
        border: none;
        color: inherit;
        font-size: 1em;
        padding: 1em 0;
        font-weight: 500;
    }
    .p-locality {
        font-size: 1.3em;
        display: block;
    }
    .clock {
        color: mintcream;
        background-color: #374048;
        border-top: 3px inset gray;
        border-left: 3px inset gray;
        margin: auto;
        padding: .1em 0;
        font-size: 3.5em;
        line-height: 100%;
        letter-spacing: .025em;
        height: 60px;
        width: 80%;
    }
}