@mixin guestbook {
    .guestbook {
        .button-style {
            margin: 1.5em auto .75em;
            width: fit-content;
        }
        blockquote {
            margin: 1.5em auto auto;
            max-width: 100%;
            font-family: var(--font-3);
            font-weight: 600;
            font-size: larger;
        }
    }
}