@use 'assets/font_besley';
@use 'assets/font_instrument-sans';

@use 'animations/fade-in' as *;
@use 'components/scrollbar' as *;
@use 'components/webkit_scrollbar' as *;

@use 'screen_queries/about/768' as *;

header, main, footer {
  @include fadeIn();
}

* {
  scrollbar-width: thin;
}

html {
  @include scrollbar-style-1();
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  display: flex;
  margin: auto;
  padding: 0 3vw;
  max-width: 1000px;
  column-gap: 3em;
  justify-content: space-between;
}

header {
  position: sticky;
  align-self: flex-start;
  top: 5%;
  max-width: 15vw;
  & nav {
    font-weight: 500;
    & ul {
      padding: 1em;
      max-height: 30vh;
      overflow-y: auto;
      &:first-child {
        border-bottom: 1px solid rgb(207, 145, 207);
        border-top: 1px solid rgb(207, 145, 207);
        padding: 1em;
      }
      li {
        display: block;
        padding-bottom: 1em;
        &::before {
          content:'୨୧';
          margin-right: .5em;
        }
        ul {
          border: none;
          padding-bottom: 0;
        }
        li {
          padding-bottom: 0;
        }
      }
    }
  }
}

#themeSwitch {
  display: block;
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-family: Besley, serif;
  text-align: left;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.25em;
  opacity: .8;
}

#h1-main {
  opacity: 1;
  font-weight: 600;
}

.site-update time {
  font-weight: 600;
  display: block;
}

h2 {
  padding: .5em 0 1em;
  border-bottom: 1px solid hotpink;
  font-size: 1.6em;
  font-family: Besley, serif;
  text-align: right;
  &::before {
    content:'｡ﾟ☆: *.☽ .* :☆ﾟ. ───';
    font-size: x-large;
    padding-top: 1em;
    margin-right: .5em;
    font-weight: 400;
  }
}

h3 {
  padding: .5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
  padding: .5em;
  margin-left: 1em;
  &::before {
    content: '☆';
    margin-right: .5em;
  }
  &::after {
    content: '☆';
    margin-left: .5em;
  }
}

main {
  max-width: 700px;
  font-stretch: 97%;
  letter-spacing: .02em;
  font-size: 1.05em;
  line-height: 1.6em;
  margin: auto;
}

section {
  & ul {
    list-style-position: inside;
    padding: 0;
  }
  & li {
    border-bottom: 1px solid;
    padding: 1em;
    &:first-child {
      padding-top: 0;
    }
    & li {
      border: none;
      padding-bottom: 0;
    }
  }
}

article {
  > section {
    border: 1px solid purple;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0 2em;
    p, dl, footer {
      padding-left: 2em;
    }
    ul {
      padding-left: 1em;
      li {
        &:last-of-type {
          &:not(#contact li) {
            border-bottom: none;
          }
        }
        p {
          margin: 0;
          padding: 0;
          display: inline;
          ~ footer {
            padding: 0;
            text-align: center;
            font-size: smaller;
          }
        }
      }
    }
  }
}

#soundcloud {
  padding: 0 1em 1em 1.5em;
  & h2 {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1em;
    border-bottom: none;
    &::before {
      content: none;
    }
  }
}

#trivia {
  details {
    div {
      max-height: 40vh;
      overflow-y: auto;
    }
  }
}

#contact {
  ul {
    columns: 2;
    margin-left: 1em;
    li {
      padding: 0 0 1em 0;
      margin-bottom: 1em;
    }
  }
}

summary {
  font-weight: 600;
  font-size: 1.1em;
  padding-left: 1em;
  h3 {
    display: inline-block;
    margin: 0;
  }
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed plum;
}

dt {
  font-weight: 500;
}
dd {
  margin-bottom: 1em;
}

.emoji {
  text-transform: none;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  &:hover {
    background-color: palevioletred;
    text-decoration: none;
    color: white !important;
  }
}

img {
  width: 100%;
  display: block;
  margin: 1.5em auto;
}

main + footer {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-align: center;
  width: 90%;
  opacity: .8;
  & ul {
    padding: 0;
    list-style-type: none;
  }
  & li {
    display: inline-block;
    margin-right: 15px;
    &::before {
      content: "⬩";
      font-size: 20px;
      margin-right: 15px;
    }
    &:first-child::before {
      content: none;
    }
  }
  & time {
    font-weight: 600;
  }
}

button {
  cursor: pointer;
  background-color: rgba(255, 192, 239, 0.493);
  border: 1px solid purple;
  font-size: 1em;
  padding: .5em;
  border-radius: 5px;
}

::selection {
  background-color: rgb(255, 255, 191);
  color: black;
}

@include webkit-scrollbar-style-1();

@include screen-768();

:root {
  --light-font-1: #4e494e;
  --light-font-2: rgb(56, 36, 56);
  --light-main-bg: whitesmoke;
  --light-main-border: purple;
  --light-h1: #4a3b61;
  --light-h2: #5a5463;
  --light-h3: rgb(107, 72, 128);
  --light-h3-before: rgb(173, 123, 173);
  --light-h3-bg: rgb(227, 219, 230);
  --light-h4: color: rgb(119, 95, 35);
  --light-h4-bg: antiquewhite;
  --light-a: darkmagenta;
  --light-decor: rgb(169, 121, 179);
  --light-section-bg:  whitesmoke;
  --light-summary-bg: rgb(216, 216, 233);
  --light-li-border: rgb(223, 212, 212);
  --light-headernav: rgb(76, 15, 95);
}

@mixin light-mode {
  header {
    & p {
      color: var(--light-font-2);
    }
    & nav ul:first-child {
      color: var(--light-headernav);
    }
  }
  h1 {
    color: var(--light-h1);
  }
  #h1-main {
    color: rgb(125, 53, 139);
  }
  h2 {
    color: var(--light-h2);
  }
  h3 {
    color: var(--light-h3);
    &:not(summary h3) {
      background-color: var(--light-h3-bg);
    }
    &::before {
      color: var(--light-h3-before);
    }
  }
  h4, summary {
    color: var(--light-h4);
    background-color: var(--light-h4-bg);
  }
  article {
    &::after {
      color: var(--light-decor);
    }
    section {
      background-color: var(--light-section-bg);
    }
  }
  section {
    li {
      border-color: var(--light-li-border);
    }
    > details {
      summary {
        background-color: var(--light-summary-bg);
      }
    }
  }
  a {
    color: var(--light-a);
    &:hover {
      color: white;
    }
  }
}

@mixin light-mode-body {
  color: var(--light-font-1);
  background-color: rgb(228, 205, 228);
}

@media (prefers-color-scheme: light) {
  body {
    @include light-mode-body();
  }
  @include light-mode();
}
.light-mode {
  @include light-mode-body();
  @include light-mode();
}

:root {
  --dark-a: pink;
  --dark-main-bg: rgb(34, 30, 30);
  --dark-main-border: purple;
  --dark-li-border: purple;
}

@mixin dark-mode {
  article section {
    background-color: var(--dark-main-bg);
    border-color: var(--dark-main-border);
    & li {
      border-color: var(--dark-li-border);
    }
  }
  #h1-main {
    color: rgb(221, 192, 255);
  }
  header, h2, h3, h4, summary {
    color: white;
  }
  h3, h4, summary {
    background-color: transparent;
  }
  a {
    color: var(--dark-a);
  }
}

@mixin dark-mode-body {
  background-color: black;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-mode-body();
  }
  @include dark-mode();
}

.dark-mode {
  @include dark-mode-body();
  @include dark-mode();
}