/* blog index, articles archive */
@use 'themes/blog' as theme;

@use 'components/links_1' as *;
@use 'components/buttons_1' as *;
@use 'components/webkit_scrollbar_1' as *;
@use 'components/header_2' as *;
@use 'components/footer_2' as *;

@use 'animations/fade-in' as *;

@use 'screen_queries/blog/768' as *;
@use 'screen_queries/blog/500' as *;

:root {
    --font-2: 'Inconsolata', monospace;
    --links-hover-bg: white;
}

html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}

body {
    font-family: theme.$font;
    font-size: 1.1em;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding-bottom: 3vh;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    @include fadeIn();
    transition: all 0.25s ease-out;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 1em;
}

.sidebar {
    max-width: 12em;
    margin-left: 1em;
    position: sticky;
    top: 5%;
    align-self: flex-start;
}

@include header-style-2();

main {
    margin-bottom: 2em;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        margin-top: 1.5em;
        font-size: x-large;
    }
}

.microblog, .blog {
    border: 1px solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    h2 {
        letter-spacing: .05em;
    }
}

.microblog {
    .newest-note {
        border: none;
        padding: 0 1em 1em 1em;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        .u-photo {
            border-radius: 50%;
            margin-top: 1em;
            margin-bottom: auto;
            border: 1px solid;
        }
        .h-entry {
            display: flex;
            flex-direction: column;
        }
        .e-content {
            line-height: 1.5em;
        }
        p {
            margin-top: 0;
        }
        time {
            padding-bottom: .25em;
            margin-left: 0;
        }
    }
}

.blog {
    .h-entry {
        padding: 0;
        padding-bottom: 2em;
        border: none;
        h3 {
            margin-top: 0;
            padding: .5em;
            letter-spacing: .015em;
            font-weight: 600;
        }
        .p-summary {
            font-style: italic;
        }
        .p-summary, time {
            margin-left: 1em;
        }
    }
}

.subscribe {
    margin-top: 0;
    padding-top: 1em;
    border-top: 1px dashed;
    text-align: right;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

@include footer-style-2();
@include link-style-1();
@include button-style-1();

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();

@include screen-768();
@include screen-500();

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}
@mixin light-mode {
    .microblog, .blog {
        background-color: var(--light-bg-article);
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
    .newest-note {
        background-color: rgba(211, 196, 226, 0.24);;
    }
    .blog {
        h3 {
            background-color: rgba(214, 191, 216, 0.295);
        }
    }
}

@mixin dark-mode-body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}
@mixin dark-mode {
    main {
       a {
            color: rgb(255, 192, 208);
            text-decoration: dashed underline;
        }
    }
    .microblog, .blog {
        background-color: theme.$dark-section-bg;
        border-color: theme.$dark-section-border;
    }
    a {
        color: var(--dark-links);
        &:hover {
            color: black;
        }
    }
    .newest-note {
        background-color: rgb(39, 28, 39);;
    }
    .blog {
        .h-entry {
            h3 {
                background-color: rgb(39, 28, 39);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    }
    @include light-mode();
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}