@use 'themes/blog' as theme;

@use 'components/links_1' as *;
@use 'components/buttons_1' as *;
@use 'components/webkit_scrollbar_1' as *;
@use 'components/header_2' as *;
@use 'components/comments-webmentions' as *;

@use 'animations/fade-in' as *;

@use 'screen_queries/blog/articles/entry_800' as *;
@use 'screen_queries/blog/articles/entry_500' as *;

@import url('cactus-chat.css');

html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}

body {
    font-family: theme.$font;
    font-stretch: normal;
    font-size: 1em;
    max-width: 900px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    @include fadeIn();
    transition: all 0.25s ease-out;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2vw;
}

@include header-style-2();

main {
    margin: auto;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        border-bottom: 1px solid;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: large;
    }
}

h2 {
    border-bottom: 1px solid;
    padding-bottom: .25em;
    margin-top: 0;
}

article {
    border: 1px solid gray;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 500;
    hyphens: manual;
    hgroup {
        border-bottom: 1px solid;
        h2 {
            padding-bottom: 0;
            margin-bottom: 0.5em;
            border-bottom: none;
        }
        .p-summary {
            text-indent: 0;
            font-style: italic;
            padding-left: 1em;
            margin-top: 0;
            background-color: rgba(128, 128, 128, .1);
        }
    }
}

.h-entry {
    time {
        margin-right: auto;
        text-align: right;
        display: block;
    }
    p {
        text-indent: 2em;
    }
    blockquote {
        border: 1px dashed;
        padding: 1em;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        width: fit-content;
    }
    img {
        display: block;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;
        max-width: 100%;
    }
}

section {
    margin-bottom: 1em;
    h3 {
        border-bottom: 1px dashed;
        margin-top: 0;
        padding-bottom: .25em;
    }
}

#comments, #webmentions {
    border: 1px solid gray;
    padding: 2em;
    padding-top: 1.5em;
}
    
@include comments-webmentions();

summary {
    margin-left: 1em;
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

@include link-style-1();
@include button-style-1();

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();

footer {
    font-size: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 70%;
    text-align: center;
    time {
        font-weight: 600;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
    li {
        display: inline;
        margin-right: 1em;
        &::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        &:first-child {
            &::before {
                content: none;
            }
        }
    }
}

@include screen-800();
@include screen-500();

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin dark-mode-body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}

@mixin dark-mode() {
    article, #comments, #webmentions {
        background-color: theme.$dark-section-bg;
        border-color: theme.$dark-section-border;
    }
    #comments {
        button {
            color: black;
            background-color: thistle;
            &:hover {
                background-color: lightpink;
            }
        }
    }
    a {
        color: var(--dark-links);
        &:hover {
            color: black
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}
:root .dark-mode, :host .dark-mode {
    --seia-color-text: white;
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}

@mixin light-mode() {
    article, #comments, #webmentions {
        background-color: var(--light-bg-article);
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
    .cactus-container {
        button {
            background-color: rgb(204, 198, 207);
            color: black;
            &:hover {
                background-color: pink;
                color: rgb(70, 35, 41);
            }
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    } 
    @include light-mode();
    :root, :host {
        --seia-color-text: var(--light-font);
    }
    
}
.light-mode {
    @include light-mode-body();
    @include light-mode();
}

:root .light-mode, :host .light-mode {
    --seia-color-text: var(--light-font);
}