/* resources index */

@use 'font_instrument-sans';

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --links-hover-bg: white;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        background-color: var(--links-hover-bg);
        color: black;
    }
}
button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer; 
    &:hover {
        background-color: thistle;
        color: black;
    }
}
#themeSwitch {
    padding: .5em;
    margin-bottom: 1em;
}

html {
    scrollbar-color: rgb(184, 140, 184) transparent;
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
}
body {
    font-family: var(--font-1);
    font-size: 1.1em;
    width: 100%;
    max-width: 800px;
    margin: auto;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    opacity: 0;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-out;
}
#layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}
@media all and (max-width:768px) {
    body {
        width: fit-content;
    }
    #layout {
        margin-top: 0;
        flex-direction: column;
    }
}

header {
    max-width: 12em;
    margin-left: 1em;
    letter-spacing: .05em;
    align-self: flex-start;
    position: sticky;
    top: 2em;
    & h1 {
        font-size: 1.5em;
    }
    & time {
        font-weight: 600;
        display: block;
    }
    & nav {
        margin: auto;
        border-top: 1px solid;
        letter-spacing: .1em;
        padding: .25em;
        font-size: .9em;
        & ul {
            margin-top: .25em;
            margin-bottom: .25em;
            padding: .7em;
        }
        & li {
            display: flex;
            margin-bottom: .5em;
            &::before {
                content: "✧";
                margin-right: .5em;
            } 
        }
        & a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }
    }
}
@media all and (max-width:768px) {
    header {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        position: relative;
        & nav li {
            display: inline;
            margin-right: .5em;
            &:last-child::after {
                content: "✧";
                margin-left: .5em;
            }
        }
    }
}

main {
    margin-right: auto;
    width: 70%;
    &::before {
        content: '︵‿ ⊹ ︵‿୨ ♡ ୧‿︵ ⊹ ‿︵';
        display: block;
        text-align: center;
        margin-bottom: 2em;
        font-size: x-large;
    }
    &::after {
        content: '⋆⁺｡˚⋆˙‧₊☽ ◯ ☾₊‧˙⋆˚｡⁺⋆';
        display: block;
        text-align: center;
        font-size: x-large;
        margin-top: 2em;
    }
}
    @media all and (max-width:768px) {
        main {
            margin-left: auto;
            margin-top: 5%;
            width: 80%;
        }
    }
    @media all and (max-width:500px) {
        main {
            width: fit-content;
        }
    }

article {
    padding: 1em;
    border: 1px solid rgb(143, 117, 143);
    & ul {
        margin-bottom: 2em;
    }
}
h2 {
    background-color: rgba(110, 60, 139, 0.233);
    padding: 1em;
    margin-top: 0;
}
h2:nth-of-type(2n), section:nth-child(2n) h2 {
    text-align: right;
}
h3 {
    background-color: rgba(216, 112, 147, 0.2);
}
details p {
    margin-left: 3em;
}

footer {
    font-size: smaller;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 70%;
    letter-spacing: .05em;
    border-top: 1px solid;
    & time {
        font-weight: 600;
    }
    & ul {
        padding: 0;
        list-style-type: none;
    }
    & li {
        display: inline-block;
        margin-right: 1em;
        &:nth-child(1)::before {
            content: none;
        }
        &::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
    }
}

@media all and (max-width:768px) {
    footer {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
}

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin dark-mode-body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}
@mixin dark-mode {
    article {
        background-color: var(--dark-bg);
    }
    a {
        color: var(--dark-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}
.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}
@mixin light-mode {
    article {
        background-color: var(--light-bg-article);
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    } 
    @include light-mode();
}
.light-mode {
    @include light-mode-body();
    @include light-mode();
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}
::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}
::-webkit-scrollbar {
    width: .4em;
    height: .4em;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }