/* accessibility page */
@use 'font_instrument-sans';

/*animations*/
header, main, footer {
  opacity: 0;
  animation: fadeInPage .5s;
  animation-fill-mode: forwards;
}
@keyframes fadeInPage {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

html {
  scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
  scrollbar-width: thin;
}

/* layout */
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
  margin-top: 8vh;
  width: 80%;
  max-width: fit-content;
}
header {
  position: fixed;
  width: min-content;
}
main {
  padding: 2em;
  padding-top: 1em;
  height: fit-content;
}
main, main + footer {
  grid-column: 2;
  max-width: 500px;
}
@media all and (max-width:768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 5%;
  }
}

body {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 1em;
}
header {
  & time {
    font-weight: 600;
  }
  & nav ul {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: purple;
    padding: 1em;
    padding-top: 1.5em;
  }
  & nav li {
    display: block;
    margin-bottom: 1em;
  }
  & nav li::before {
    content:'୨୧';
    margin-right: .5em;
  }
  & nav a {
    text-decoration: none;
    padding: 0px 5px;
    margin-left: -5px;
  }
}
main {
  border: 1px solid;
  box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.1);
  font-size: 1.1em;
  font-stretch: 98%;
  letter-spacing: .03em;
  line-height: 1.5em;
  & li {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}
@media all and (max-width:768px) {
  header {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    position: static;
    & nav ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      border: none;
    }
    & nav li {
      margin-right: 1em;
      margin-bottom: .5em;
      display: inline;
      flex-direction: row;
    }
  }
  main {
    margin: auto;
    padding: 0 1em 1.5em;
    max-width: none;
  }
}
h1 {
  text-align: left;
  font-size: 2em;
  letter-spacing: 1px;
}
h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid hotpink;
  font-size: 1.8em;
  text-align: right;
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h3, h4 {
  padding: .5em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
main + footer {
  margin: 5vh auto;
  text-align: center;
  font-size: 1em;
  width: 80%;
  & ul {
    padding: 0;
    list-style-type: none;
  }
  & li {
    display: inline-block;
    margin-right: 1em;
  }
  & li::before {
    content: "⬩";
    font-size: 20px;
    margin-right: 15px;
  }
  & li:nth-child(1)::before {
    content: "";
  }
  & time {
    font-weight: 600;
  }
}
#footerAccessibility a {
  text-decoration: none;
  font-weight: 600;
}
@media all and (max-width:768px) {
  main + footer {
    width: 90%;
  }
}
a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  &:hover {
    background-color: palevioletred;
    text-decoration: none;
    color: white !important;
  }
}
button {
  padding: .5em;
  font-size: 1.2em;
  background-color: rgba(128, 0, 128, 0.267);
  border: 1px solid purple;
  border-radius: 5px;
  cursor: pointer;
}
::selection {
  background-color: rgb(255, 231, 179);
  color: black !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

:root {
  --light-bg-1: rgb(228, 207, 228);
  --light-bg-2: whitesmoke;
  --light-border-1: purple;
  --light-font-1: #221f22;
  --light-font-2: rgb(56, 36, 56);;
  --light-h1: #4a3b61;
  --light-h2: #5a5463;
  --light-h3: rgb(107, 72, 128);
  --light-h3-bg: rgb(227, 219, 230);
  --light-h4: rgb(119, 95, 35);
  --light-h4-bg: antiquewhite;
  --light-nav-a: purple;
  --light-nav-ul: rgb(76, 15, 95);
  --light-nav-border: border-color: rgb(207, 145, 207);
  --light-li-border: rgb(223, 212, 212);
  --light-a: darkmagenta;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg-1);
    color: var(--light-font-1);
  }
  header {
    & p {
      color: var(--light-font-2);
    }
  }
  main {
    background-color: var(--light-bg-2);
    border-color: var(--light-border-1);
  }
  h1 {
    color: var(--light-h1);
  }
  h2 {
    color: var(--light-h2);
  }
  h3 {
    background-color: var(--light-h3-bg);
    color: var(--light-h3);
  }
  h4 {
    background-color: var(--light-h4-bg);
    color: var(--light-h4);
  }
  nav {
    & a {
      color: var(--light-a);
    }
    & ul {
      color: var(--light-nav-ul);
      border-color: var(--light-nav-border);
    }
  }
  section {
    & li {
      border-color:  var(--light-li-border);
    }
  }
  a {
    color: var(--light-a);
  }
}

.light-mode {
  background-color: var(--light-bg-1);
  color: var(--light-font-1);
  & main {
    background-color: var(--light-bg-2);
    border-color: var(--light-border-1);
  }
  & header {
    & p {
      color: var(--light-font-2);
    }
  }
  & h1 {
    color: var(--light-h1);
  }
  & h2 {
    color: var(--light-h2);
  }
  & h3 {
    background-color: var(--light-h3-bg);
    color: var(--light-h3);
  }
  & h4 {
    background-color: var(--light-h4-bg);
    color: var(--light-h4);
  }
  & nav {
    & a {
      color: var(--light-a);
    }
    & ul {
      color: var(--light-nav-ul);
      border-color: var(--light-nav-border);
    }
  }
  & section {
    & li {
      border-color:  var(--light-li-border);
    }
  }
  & a {
    color: var(--light-a);
  }
}

:root {
  --dark-main-bg: #19181a;
  --dark-main-border: rgb(56, 36, 56);
  --dark-li-border: rgb(80, 53, 80);
  --dark-a: pink;
  --dark-h3-bg: #6b266538;
  --dark-h4-bg: rgba(179, 118, 128, 0.171);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  main {
    background-color: var(--dark-main-bg);
    border-color: var(--dark-main-border);
  }
  section {
    & li {
      border-color: var(--dark-li-border);
    }
  }
  h3 {
    background-color: var(--dark-h3-bg);
  }
  h4 {
    background-color: var(--dark-h4-bg);
  }
  a {
    color: var(--dark-a);
  }
}

.dark-mode {
  background-color: black;
  color: white;
  & main {
    background-color: var(--dark-main-bg);
    border-color: var(--dark-main-border);
  }
  & section {
    & li {
      border-color: var(--dark-li-border);
    }
  }
  & h3 {
    background-color: var(--dark-h3-bg);
  }
  & h4 {
    background-color: var(--dark-h4-bg);
  }
  & a {
    color: var(--dark-a);
  }
}