/* subscription form after post */
@use 'themes/feeds' as theme;

header {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

h1 {
  font-size: 2em;
  font-family: var(--font-2);
  font-weight: 500;
  letter-spacing: .05em;
  margin-bottom: .25em;
  line-height: 1.25em;
}

main {
  margin: auto;
}

h2 {
  font-family: var(--font-2);
}

article {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 6fr;
  gap: 5vw;
  padding: 5%;
  font-weight: 450;
  > section {
    padding: 0 2em 1em;
  }
}