@use 'themes/home/dark'as dark-theme;
@use 'themes/home/light'as light-theme;

header hgroup p {
    font-size: .9em;
    margin-left: auto;
}

#aside {
    details {
        &::marker {
            list-style: none;
        }
    }

    summary {
        img {
            &:hover {
                filter: hue-rotate(180deg);
                transition: filter .25s ease-in-out;
                cursor: pointer;
            }
        }
    }
}

.u-featured {
    position: absolute;
    margin-left: -250px;
}

@media (prefers-color-scheme: light) {
    :root {
        --sticky-note-bg: cornsilk !important;
        --sticky-note-font: rgb(78, 61, 19) !important;
    }

    body {
        @include light-theme.light-mode-body();
    }

    @include light-theme.light-mode();
}

@media (prefers-color-scheme: dark) {
    :root {
        --sticky-note-bg: var(--section-card-dark);
    }

    body {
        @include dark-theme.dark-mode-body();
    }

    @include dark-theme.dark-mode();
}