@use 'themes/home/dark'as *;
@use 'themes/home/light'as *;

:root .light-mode {
    --sticky-note-bg: cornsilk !important;
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}

:root .dark-mode {
    --sticky-note-bg: var(--section-card-dark) !important;
    --sticky-note-font: white !important;
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}