@use '../shared' as theme;

@use '_screen-sizes/index_768' as *;
@use '_screen-sizes/index_500' as *;

@include theme.base;

body {
    font-size: 1.1em;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2em;
    > header {
        max-width: 12em;
        margin-left: 1em;
        position: sticky;
        top: 5%;
        align-self: flex-start;
        #blog li:first-child > a {
            text-decoration: wavy underline;
            text-underline-offset: .25em;
        }
    }
}

main {
    margin: 0 auto 3em;
    width: 70%;
    font-size: larger;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        margin-top: 1.5em;
        font-size: x-large;
    }
}

article {
    margin: 0 auto 2em;
    h2 {
        letter-spacing: .05em;
    }
    .articles-list {
        border: 1px solid;
        padding: 1.5em 2em 2em;
        list-style-position: inside;
        list-style-type: decimal-leading-zero;
        margin-bottom: 2em;
        > li {
            margin-bottom: 1.5em;
            padding-bottom: 2em;
            border-bottom: 1px dashed;
            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 1em;
                border-bottom: none;
            }
            &::marker {
                font-size: xx-large;
                font-style: italic;
            }
            h3 {
                margin-left: 1em;
                line-height: 2em;
                a {
                    text-decoration: 1px underline;
                    text-underline-offset: .5em;
                }
            }
            dl {
                display: grid;
                grid-template-columns: 1fr 9fr;
                row-gap: 1em;
                margin-left: 2em;
                font-size: smaller;
                dt {
                    grid-column: 1;
                }
                dd {
                    grid-column: 2;
                }
            }
        }
    }
}

.tags {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    li {
        margin-left: 0;
        margin-right: 1em;
    }
    a {
        text-decoration: 1px dotted underline;
    }
}

@include theme.paginator;

@include screen-768;
@include screen-500;