@use '../shared' as theme;

@use '_screen-sizes/index_768' as *;
@use '_screen-sizes/index_500' as *;

@include theme.base;

body {
    font-size: 1.1em;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2em;
    > header {
        max-width: 12em;
        margin-left: 1em;
        position: sticky;
        top: 5%;
        align-self: flex-start;
        #blog li:first-child > a {
            text-decoration: wavy underline;
            text-underline-offset: .25em;
        }
    }
}

main {
    margin: 0 auto 3em;
    width: 70%;
    font-size: larger;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        margin-top: 1.5em;
        font-size: x-large;
    }
}

article {
    margin: 0 auto 2em;
    h2 {
        letter-spacing: .05em;
    }
    ol {
        border: 1px solid;
        padding: 1.5em 2em 2em;
        list-style-position: inside;
        margin-bottom: 2em;
    }
    li {
        list-style-type: decimal-leading-zero;
        margin-bottom: 1em;
        &::marker {
            font-size: xx-large;
            font-style: italic;
        }
        span {
            border-bottom: 1px solid;
            font-size: large;
            &::before {
                content: '❝';
                margin-right: .25em;
            }
            &::after {
                content: '❞';
                margin-left: .25em;
            }
            a {
                color: inherit;
            }
        }
        time {
            display: block;
            font-size: smaller;
            margin-top: .5em;
        }
    }
}

@include theme.paginator;

@include screen-768;
@include screen-500;