@use '../shared' as theme;
/*@use '../../_shared/assets/font_noto-color-emoji';*/

@use '_screen-sizes/entry_800' as *;
@use '_screen-sizes/entry_500' as *;

@include theme.base($override_footer: false, $add_comments: true);

body {
    font-stretch: normal;
    font-size: 1em;
    max-width: 1000px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3vw;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        border-bottom: 1px solid;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: large;
    }
}

h2 {
    border-bottom: 1px solid;
    padding-bottom: .25em;
    margin-top: 0;
}

article {
    border: 1px solid gray;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1.5em;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 500;
    hyphens: manual;
    hgroup {
        border-bottom: 1px dashed;
        h2 {
            padding-bottom: 0;
            margin-bottom: 0.5em;
            border-bottom: none;
        }
        .p-summary {
            text-indent: 0;
            font-style: italic;
            padding: 1em;
            margin: 1em 0;
            background-color: rgba(128, 128, 128, .1);
        }
    }
}

.h-entry {
    time {
        margin-right: auto;
        text-align: right;
        display: block;
    }
    p {
        text-indent: 2em;
    }
    blockquote {
        border: 1px dashed;
        padding: 1em;
        margin-left: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        width: fit-content;
    }
    img {
        display: block;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;
        max-width: 100%;
    }
}

section {
    margin-bottom: 1em;
    h3 {
        border-bottom: 1px dashed;
        margin-top: 0;
        padding-bottom: .25em;
    }
}

.tags {
    line-height: 3em;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 0;
    border-top: 1px dashed;
    text-align: left;
    dl {
        display: inline-flex;
        flex-wrap: wrap;
    }
    dt {
        font-weight: bolder;
        font-size: larger;
    }
    dd {
        margin-left: 1em;
        a {
            padding: .5em;
            border-radius: 50px;
            border: 1px solid;
            text-decoration: none;
            font-weight: 400;
        }
    }
}

.feed-links {
    text-align: center;
    margin: auto;
    font-size: larger;
    ul {
        display: flex;
        margin-left: 0;
        padding-left: 0;
    }
    li {
        display: block;
        &:not(:last-of-type)::after {
            content: "\2022";
            margin: 0 1em;
        }
    }
}

#comments, #webmentions {
    border: 1px solid gray;
    padding: 2em;
    padding-top: 1.5em;
}

summary {
    margin-left: 1em;
}

.layout + footer {
    width: 70%;
    margin-left: 0;
}

@include screen-800();
@include screen-500();