@use '../shared' as theme;

@use '../../_shared/components/links_1' as *;
@use '../../_shared/components/buttons_1' as *;
@use '../../_shared/components/header_2' as *;
@use '../../_shared/components/footer_2' as *;

@use '_screen-sizes/index_768' as *;
@use '_screen-sizes/index_500' as *;

body {
    font-size: 1.1em;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}

@include header-style-2();

.sidebar {
    max-width: 12em;
    margin-left: 1em;
    position: sticky;
    top: 5%;
    align-self: flex-start;
}

main {
    margin-right: auto;
    margin-bottom: 3em;
    width: 70%;
    &::before {
        content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
        display: block;
        text-align: center;
        margin-bottom: 1.5em;
        letter-spacing: .4em;
        font-size: x-large;
    }
    &::after {
        content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
        display: block;
        text-align: center;
        margin-top: 1.5em;
        font-size: x-large;
    }
}

article {
    border: 1px solid;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    max-width: calc(70% + 1vw);
    margin-left: auto;
    margin-right: auto;
    h2 {
        letter-spacing: .05em;
    }
}

.articles-list {
    margin-bottom: 2em;
}

article {
    ol {
        margin-left: .5em;
    }
    li {
        list-style-type: decimal-leading-zero;
        &::marker {
            font-size: xx-large;
            font-style: italic;
        }
        span {
            border-bottom: 1px solid;
            font-size: large;
            &::before {
                content: '❝';
                margin-right: .25em;
            }
            &::after {
                content: '❞';
                margin-left: .25em;
            }
            a {
                color: inherit;
            }
        }
        time {
            display: block;
            font-size: smaller;
            margin-top: .5em;
        }
    }
}


@include footer-style-2();
@include link-style-1();
@include button-style-1();

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

@include screen-768();
@include screen-500();

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin dark-mode-body() {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}

@mixin dark-mode() {
    article {
        background-color: theme.$dark-section-bg;
        border-color: theme.$dark-section-border;
    }
    a {
        color: var(--dark-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}

@mixin light-mode {
    article {
        background-color: var(--light-bg-article);
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    } 
    @include light-mode();
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}