@mixin screen-400 {
    @media all and (max-width:400px) {
        h2 {
            font-size: 1.2em;
        }
        article {
            > section {
                width: 90%;
            }
        }
        .overflow {
            max-height: 40vh;
        }
    }
}