@mixin screen-768 {
    @media all and (max-width:768px) {
        .layout {
            margin-top: 0;
            max-width: none;
            border-left: none;
            border-right: none;
        }
        header {
            padding-top: 2vh;
            & hgroup {
                margin-right: 20vw;
                & p {
                font-size: clamp(1.5em, 3vw, 1.75em);
                line-height: 1.5em;
                }
            }
        }
        h1 {
            line-height: 1.5em;
        }
        nav {
            padding-left: 5%;
            overflow-x: auto;
            white-space: nowrap;
            font-size: .95em;
        }
        main {
            font-size: 1em;
        }
        .notice-group {
            margin-top: 100vh;
            margin-right: 7vw;
        }
        #notice {
            width: 200px;
        }
        #pin {
            right: -5vw;
        }
        article {
            columns: 1;
            > section {
                width: clamp(250px, 60vw, 350px);
                margin-bottom: 15vh;
            }
        }
        .p-note {
            font-size: .9em;
        }
        .time {
            max-width: 300px;
        }
        .latest-status {
            min-width: 70%;
        }
    }
}