@mixin screen-900 {
    @media all and (max-width:900px) {
        .layout {
            max-width: none;
            border-top: none;
            margin-top: 0;
        }
        h1 {
            line-height: 1.5em;
        }
        header {
            .top {
                padding: 1vh;
            }
            p {
                margin: 3vh auto;
            }
            nav {
                font-size: 1em;
            }
        }
        main {
            font-size: .9em;
        }
        article {
            column-gap: 10vw;
            padding: 8vh 8vw;
        }
        .p-locality {
            font-size: 1.2em;
        }
        footer {
            width: 90%;
        }
    }
}