@mixin screen-400 {
    @media all and (max-width:400px) {
        body {
            font-size: 1em;
        }
        h2 {
            font-size: 1.2em;
        }
        article {
            > section {
                width: 90%;
            }
        }
        .h-card {
            overflow-y: auto;
        }
        .p-note {
            font-size: 1em;
        }
        .time {
            max-width: 270px;
        }
        .overflow {
            max-height: 40vh;
        }
    }
}