@mixin h-card {
    .h-card {
        border: 1px solid rgb(183, 124, 189);
        background: url('/_assets/media/main/bank-note.svg');
        background-color: snow;
        box-shadow: 10px 10px rgba(192, 138, 176, 0.521);
        height: min-content;
        min-width: 250px;
        font-size: 1.1em;
        & [rel="me"] {
          opacity: 0;
        }
    }
    /* h2 */
    #webmaster-identity {
        border: none;
        font-variant: small-caps;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
    .pfp-group {
        display: flex;
        width: fit-content;
        margin-top: 0;
    }
    .flower-fill {
        margin-left: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        user-select: none;
        & img:not(:last-child) {
          margin-bottom: 10px;
        }
    }
    .u-featured {
        width: 290px !important;
        height: 341px !important;
    }
    .p-note {
        letter-spacing: .025em;
        & p {
            font-size: 1.1em;
            margin: .75em;
        }
        & ul {
            width: 85%;
            font-size: 1.1em;
            list-style: none;
            padding: 0;
            padding-left: .5em;
            margin: 0;
            margin-bottom: 1.5em;
        }
        & li {
            margin-bottom: .5em;
            display: flex;
            flex-direction: row;
            & span:first-of-type {
                width: 1em;
                text-align: center;
                margin-right: 1em;
            }
        }
        & .hidden {
            display: none;
        }
    }
    .barcode {
        background: url('/_assets/media/main/barcode.svg');
        background-repeat: no-repeat;
        background-position: right;
        height: 2em;
    }
    .overflow {
        max-height: 30vh;
        overflow-y: auto;
        border: var(--overflow-border);
        padding-right: 1em;
        padding-left: 1em;
        margin-top: 1em;
    }
}