@mixin footer-style-1 {
    footer {
        margin: 3em auto;
        text-align: center;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            padding-left: 0;
            list-style: none;
            justify-content: center;
            align-items: center;
            row-gap: 1em;
            &:last-of-type {
                column-gap: 1em;
            }
        }
        li:not(ul:last-of-type li) {
            &::before {
                content: "⬩";
                font-size: 1.25em;
                margin: 0 1em;
            }
            &:first-of-type {
                &::before {
                    content: none;
                }
            }
        }
        a {
            img {
                text-decoration: none;
            }
        }
    }
}