@mixin add-loader ($z-index: 1, $width: 100%, $min-width: none, $max-width: 90vw, $left: auto, $right: auto) {
    .loader {
        display: block;
        position: absolute;
        width: $width;
        min-width: $min-width;
        max-width: $max-width;
        overflow: hidden;
        top: 30vh;
        left: $left;
        right: $right;
        margin: auto;
        font-size: x-large;
        text-align: center;
        z-index: $z-index;

        /*p {
            filter: drop-shadow(.1em .1em 5px rgb(255, 215, 222)) drop-shadow(-.1em -.1em 5px rgb(255, 215, 222));
        }*/

        button {
            display: block;
            font-family: inherit;
            margin: 3vh auto;
            padding: .5em;
            border: 1px solid;
        }
    }
    .layout {
        opacity: 0;
    }
}