@mixin nav-style-1 {
    nav {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.15em;
        font-weight: normal;
        letter-spacing: 1px;
        & ul {
            margin: 0;
            padding: 0;
            padding-top: .5em;
            padding-bottom: 1em;
        }

        & li {
            display: inline-block;
            margin-right: .5em;
            margin-bottom: 0;
            padding-bottom: 0;
            white-space: nowrap;
        }

        & li:last-child::after {
            content: "✧";
            font-size: 1.3em;
            margin-left: .5em;
            color: pink;
            font-weight: normal;
        }

        & li::before {
            content: "✧";
            font-size: 1.3em;
            margin-right: .5em;
            color: pink;
            font-weight: normal;
        }

        & a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #a175c573;
        }
    }
}