<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex"/>
        {{ head|raw }}
        <title>subscribe | jasmine's journal</title>
        <meta name="description" content="subscription success!"/>
        <link rel="stylesheet" href="/_assets/stylesheets/subscribe_post.css" type="text/css" media="all"/>
    </head>
    <body>
        <div class="layout">
            <header>
                <hgroup>
                    <h1 id="title">subscribe to jasmine's journal</h1>
                </hgroup>
            </header>
            <main>
                <article>
                    <section>
                        <h2>{{ h2 }}</h2>
                        <p>{{ message }}</p>
                    </section>
                </article>
            </main>
        </div>
        <script src="/_assets/scripts/theme-switcher-v2.js"></script>
    </body>
</html>