@use '../../../_shared/components/header_2' as *;

@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            width: fit-content;
        }
        .layout {
            flex-direction: column;
        }
        @include header-style-2-768();
        .sidebar {
            position: static;
            max-width: none;
        }

        main {
            margin-top: 5%;
            width: 100%;
        }
        
        footer {            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
}