@use '../assets/font_instrument-sans';

@use '../animations/fade-in' as *;
@use '../components/scrollbar' as *;
@use '../components/webkit_scrollbar' as *;

$dark-section-bg: rgb(27, 26, 26);
$dark-section-border: rgb(51, 42, 56);

* {
    scrollbar-width: thin;
    @include scrollbar-style-1();
}

html {
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 450;
    @include fadeIn();
    transition: all 0.25s ease-out;
}

dl {
    margin-right: 1em;
    display: grid;
    row-gap: 1em;
    margin-left: 2em;
}

dt {
    font-weight: bolder;
    grid-column: 1;
}

dd {
    &:not(:last-child) {
        grid-column: 2 / 5;
        margin-left: 0;
        padding-left: .5em;
    }
    ul {
        padding-left: 0;
    }
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}

@mixin list-border {
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}

dt, dd {
    &:not(:last-child, :last-of-type) {
        @include list-border();
    }
    &:last-child {
        grid-column: span 4;
    }
}

ul {
    dl {
        grid-auto-flow: column;
        grid-template-columns: 2fr 5fr;
    }
    dt, dd {
        @include list-border();
    }
    dd {
        margin-left: 0;
    }
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();