@use '../shared' as theme;

@use '_screen-sizes/1200' as *;
@use '_screen-sizes/900' as *;
@use '_screen-sizes/500' as *;

@include theme.base;

body {
    font-size: 1.1em;
    font-stretch: 95%;
    letter-spacing: .01em;
    line-height: 1.5em;
    max-width: 1600px;
    margin: auto;
}

#layout {
    margin: 5vh 3vw;
    display: flex;
    flex-direction: row-reverse;
}

header {
    margin-left: 3em;
    letter-spacing: .05em;
    align-self: flex-start;
    position: sticky;
    top: 2em;
    min-width: 20%;
    h1 {
        font-size: 1.5em;
    }
    p {
        padding-left: 0;
    }
    time {
        font-weight: 600;
        display: block;
    }
    nav {
        margin: auto;
        border-top: 1px solid;
        border-bottom: 1px solid;
        letter-spacing: .1em;
        padding: .5em;
        font-size: 1em;
        max-height: 40vh;
        overflow-y: auto;
        ul {
            margin-top: .25em;
            margin-bottom: .25em;
            padding: .7em;    
        }
        li {
            display: flex;
            margin-bottom: 1em;
            &::before {
                content: "✧";
                margin-right: .5em;
            }
        }
        a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }
    }
}

main {
    nav {
        padding: 1.5em;
    }
    p {
        &:not(li p:first-child) {
            margin-left: 2em;
            padding-right: 2em;
        }
    }
    ul  {
        margin-left: 1em;
        padding-right: 2em;
        ul {
            margin-left: 0;
        }
    }
    
    li {
        p {
            &:nth-of-type(2) {
                margin-left: 1em;
            }
        }
    }
}

#parent-category-name {
    font-size: larger;
    font-weight: 500;
    margin: 0;
}

section, #legend, main nav {
    padding-bottom: 1.5em;
    border: 1px solid rgb(119, 61, 119);
}

article {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 3vw;
    row-gap: 3vh;
    nav {
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
    }
}

#legend {
    padding-top: .5em;
    grid-column: 2;
    grid-row: 1;
    summary {
        margin: 1em 2em 0;
        font-size: 1em;
        font-weight: 600;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    h2 {
        margin-top: 1em;
    }
}

section {
    break-inside: avoid;
    grid-column: 2;
    font-size: 1.1em;
    a {
        text-decoration: 1.5px wavy underline;
    }
    p, ul, dl {
        line-height: 1.7em;
    }
    p:not(ul p), dl:not(ul dl) {
        margin-left: 3em;
        dl {
            margin-left: 0;
        }
    }
    &:first-of-type {
        font-size: 1em;
        grid-column: 1;
        grid-row: 2;
        height: fit-content;
        break-after: always;
        position: sticky;
        top: 5%;
        padding-bottom: 0;
    }
}

.table-of-contents {
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 0 1em 1em;
    li {
        margin-bottom: .5em;
    }
    ul {
        margin-top: .5em;
    }
    a {
        text-decoration: none;
    }
}

h2 {
    background-color: rgba(110, 60, 139, 0.233);
    padding: 1em;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

h3 {
    padding: 1em 1.5em;
    margin-top: 0;
    margin-bottom: 1.5em;
    background-color: rgba(216, 112, 147, 0.2);
    &:not(h2 + h3) {
        margin-top: 2em;
    }
}

h4, h5 {
    margin-left: 1.5em;
    margin-right: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid;
    font-size: larger;
}

.heading-permalink {
    margin-right: 1em;
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    background-color: transparent;
    font-weight: 600;
    &:hover {
        background-color: var(--links-hover-bg);
        color: black;
    }
}

button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer;
    &:hover {
        background-color: thistle;
        color: black;
    }
}

#themeSwitch {
    padding: .5em;
    margin-bottom: 1em;
}

footer {
    margin: 3em auto 3em 3em;
    text-align: left;
    ul {
        margin-left: 0;
        padding-left: 0;
    }
}

@include screen-1200;
@include screen-900;
@include screen-500;