@use '../shared' as theme;

:root {
    --links-hover-bg: white;
}

body {
    font-size: 1.1em;
    font-stretch: 95%;
    line-height: 1.5em;
    max-width: 1250px;
    margin: auto;
} 
#layout {
    margin-top: 5%;
    display: flex;
    flex-direction: row-reverse;
}

header {
    margin-left: 3em;
    letter-spacing: .05em;
    align-self: flex-start;
    position: sticky;
    top: 2em;
    max-width: min-content;
    & h1 {
        font-size: 1.5em;
    }
    & p {
        padding-left: 0;
    }
    & time {
        font-weight: 600;
        display: block;
    }
    & nav {
        margin: auto;
        border-top: 1px solid;
        border-bottom: 1px solid;
        letter-spacing: .1em;
        padding: .5em;
        font-size: 1em;
        max-height: 40vh;
        overflow-y: auto;
        & ul {
            margin-top: .25em;
            margin-bottom: .25em;
            padding: .7em;    
        }
        & li {
            display: flex;
            margin-bottom: 1em;
            &::before {
                content: "✧";
                margin-right: .5em;
            }
        }
        & a {
            text-decoration: none;
            padding: 0px 5px 3px 5px;
        }
    }
}

main {
    nav {
        padding: 1.5em;
    }
    p {
        &:not(li p:first-child) {
            margin-left: 2em;
            padding-right: 2em;
        }
    }
}

#parent-category-name {
    font-size: larger;
    font-weight: 500;
    margin: 0;
}

section, #legend, main nav {
    padding-bottom: 1.5em;
    border: 1px solid rgb(119, 61, 119);
}

article {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 3vw;
    row-gap: 3vh;
    nav {
        grid-column: 1;
        grid-row: 1;
        height: fit-content;
    }
}

#legend {
    padding-top: .5em;
    grid-column: 2;
    grid-row: 1;
    & summary {
        margin: 1em 2em 0;
        font-size: 1em;
        font-weight: 600;
        text-align: right;
        text-transform: uppercase;
        letter-spacing: .1em;
    }
    & h2 {
        margin-top: 1em;
    }
}

section {
    break-inside: avoid;
    grid-column: 2;
    font-size: 1.1em;
    a {
        text-decoration: 1.5px wavy underline;
    }
    p, ul, dl {
        line-height: 1.7em;
    }
    p:not(ul p), dl:not(ul dl) {
        margin-left: 3em;
    }
    &:first-of-type {
        font-size: 1em;
        grid-column: 1;
        grid-row: 2;
        height: fit-content;
        break-after: always;
        position: sticky;
        top: 5%;
        padding-bottom: 0;
    }
}

.table-of-contents {
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 0 1em 1em;
    li {
        margin-bottom: .5em;
    }
    ul {
        margin-top: .5em;
    }
    a {
        text-decoration: none;
    }
}

h2 {
    background-color: rgba(110, 60, 139, 0.233);
    padding: 1em;
    margin: 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

h3 {
    padding: 1em 1.5em;
    margin-top: 0;
    margin-bottom: 1.5em;
    background-color: rgba(216, 112, 147, 0.2);
    &:not(h2 + h3) {
        margin-top: 2em;
    }
}

h4, h5 {
    margin-left: 1.5em;
    margin-right: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid;
    font-size: larger;
}

.heading-permalink {
    margin-right: 1em;
}

ul  {
    &:not(header ul) {
        margin-left: 1em;
        padding-right: 2em;
        ul {
            margin-left: 0;
        }
    }
}

li {
    p {
        &:nth-of-type(2) {
            margin-left: 1em;
        }
    }
}

hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer {
    font-size: smaller;
    margin-top: 10vh;
    margin-bottom: 3vh;
    padding-left: 1em;
    letter-spacing: .05em;
    border-top: 1px solid;
    width: fit-content;
    & time {
        font-weight: 600;
    }
    p {
        margin-left: 1em;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
    li {
        display: inline;
        margin-right: 1em;
        &::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        &:first-child::before {
            content: none;
        }
    }
}

a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    font-weight: 600;
    &:hover {
        background-color: var(--links-hover-bg);
        color: black;
    }
}

button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer;
    &:hover {
        background-color: thistle;
        color: black;
    }
}

#themeSwitch {
    padding: .5em;
    margin-bottom: 1em;
}

@media all and (max-width: 1100px) {
    #layout {
        margin-top: 0;
        flex-direction: column;
    }
    header {
        position: relative;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        & nav {
            text-align: left;
        }
        & nav li {
            display: inline;
            margin-right: .5em;
            &:last-child:after {
                content: "✧";
                margin-left: .5em;
            }
        }
    }
    main {
        margin-top: 5vh;
    }
    footer {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: none;
        p {
            margin-left: -1em;
        }
    }
}

@media all and (max-width: 768px) {
    body {
        width: fit-content;
    }
    article {
        display: block;
    }
    section {
        border-right: none;
        border-left: none;
        margin-bottom: 3vh;
        font-size: 1em;
        &:first-of-type {
            position: relative;
        }
    }
    #legend, main nav {
        margin: 5vh 5vw;
    }
}

@media all and (max-width:500px) {
    main {
        width: fit-content;
    }
}

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@mixin dark-mode-body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}

@mixin dark-mode {
    section, #legend, main nav {
        background-color: theme.$dark-section-bg;
        border-color: theme.$dark-section-border;
    }
    section {
        &:not(:first-of-type) {
            a {
                color:rgb(242, 223, 255);
                text-decoration-color: rgb(184, 128, 163);
                &:hover {
                    color: white;
                    background-color: rgb(95, 7, 73);
                }
            }
        }
    }
    .table-of-contents {
        a {
            color: rgb(230, 142, 201);
        }
    }
    a {
        color: var(--dark-links);
        &:hover {
            color: black;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

@mixin light-mode {
    section, #legend, main nav {
        background-color: var(--light-bg-article);
    }
    section {
        &:not(:first-of-type) {
            a {
                color:rgb(104, 64, 131);
                text-decoration-color: rgb(179, 115, 179);
                &:hover {
                    color: white;
                    background-color: rgb(134, 61, 116);
                }
            }
        }
    }
    a {
        color: var(--light-links);
        &:hover {
            color: black;
        }
    }
}

@mixin light-mode-body {
    background-color:  var(--light-bg);
    color: var(--light-font);
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    }
    @include light-mode();
}
.light-mode {
    @include light-mode-body();
    @include light-mode();
}