@use '../_shared/assets/font_besley';
@use '../_shared/assets/font_inconsolata';
@use '../_shared/assets/font_instrument-sans';

@use '../_shared/components/scrollbar' as *;
@use '../_shared/components/webkit_scrollbar' as *;

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --font-2: 'Besley', serif;
    --font-3: 'Inconsolata', monospace;

    --theme-toggle-bg: #e3d7e9;
    --theme-toggle-hover-bg: #b084bd;
    --theme-toggle-active-bg: #8b4f61;
    --theme-toggle-focus-bg: #a175c5;
}

* {
    @include scrollbar-style-1();
}

html {
    height: 100%;
}

body {
    color: rgb(247, 238, 238);
    font-family: var(--font-1);
    font-size: 1.2em;
    font-stretch: 95%;
    margin: auto;
    background-color: #342f36;
}

a {
    color: plum;
}

.layout {
    width: 80%;
    max-width: 1000px;
    margin: 1em auto 3em;
    border: 1px solid;
}

nav {
    font-weight: 500;
}

hr {
  margin: 2em 0;
}

footer {
  margin: auto;
  padding: 1em;
  border-top: 1px solid;
  text-align: center;
  font-size: .9em;
  font-stretch: semi-expanded;
}
footer ul {
   list-style-type: none;
   padding-left: 0;
}
footer li:first-child:before {
   content: none;
}
footer li::before {
   content: "⬩";
   font-size: 1.25em;
   margin-right: 15px;
}
footer li {
   display: inline-block;
   margin-right: 15px;
}
footer time {
    display: inline;
}
footer a img {
    text-decoration: none
}

a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    &:hover {
        text-decoration: none;
        color: white !important;
    }
}

button {
    cursor: pointer;
    padding: .5em 1em;
    width: fit-content;
    border: 1px solid;
    border-radius: 10px;
    font-family: var(--font-3);
    font-size: larger;
}

button, button:active, button:hover, button:focus {
    transition: all .5s ease;
}

#themeSwitch {
    padding: .5em;
    border-radius: 0px;
    border: 1px solid #8e629b;
    height: fit-content;
    font-size: smaller;
    margin: auto 0;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();