/* subscription form */
@use 'shared' as theme;
@use '../_shared/components/nav_1' as *;
@use '../_shared/animations/fade-in' as *;

@use '_screen-sizes/900' as *;

/* animations */
header, main, footer {
  @include fadeIn();
}

@include nav-style-1();

main {
  margin: auto;
  background: url("/_assets/media/main/ooorganize.svg");
  background-size: 200px;
}
article {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 6fr;
  gap: 5vw;
  padding: 5%;
  font-weight: 450;
  > section {
    padding: 0 2em 1em;
    border: 1px solid;
    border-color: purple;
    box-shadow: 0px 0px 15px #804da725;
    transition: all .25s ease;
    &:hover {
      box-shadow: 0px 0px 25px rgba(255, 192, 203, 0.747);
      filter: brightness(101%);
      border-color: thistle;
    }
  }
}

[aria-labelledby="social-media"] {
  grid-column: 1;
  grid-row: 1;
}
[aria-labelledby="rss"] {
  grid-column: 1;
  grid-row: 2;
  height: 1fr;
}
[aria-labelledby="newsletter"] {
  grid-column: 2;
  grid-row-end: span 2;
}

#header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
}

h1 {
  font-size: 2em;
  font-family: var(--font-2);
  font-weight: 500;
  letter-spacing: .05em;
  margin-bottom: .25em;
  line-height: 1.25em;
  text-align: right;
}

#headernav #feeds a {
  text-decoration: wavy underline 1px;
}

h2 {
  font-family: var(--font-2);
  text-align: right;
  border-bottom: 1px solid;
  margin: .75em -.5em auto;
  padding-bottom: .25em;
  transition: color .5s ease;
}

.like-buttons {
  list-style: none;
  font-size: larger;
  font-family: var(--font-3);
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  li {
    margin: 1.5em auto;
  }
  a {
    padding: .5em;
    border: 1px solid;
    display: block;
    margin: auto;
    color: rgb(60, 25, 77) !important;
    background-color: #dbc2db;
    &:hover {
      background-color: #694677 !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  label {
    font-stretch: semi-expanded;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: 1px solid;
    width: fit-content;
    padding-bottom: 1em;
  }
  input {
    font-size: 1em;
    font-family: var(--font-3);
    padding: .5em;
    width: 90%;
  }
  span {
    + input {
      margin-top: 1em;
    }
  }
  footer {
    margin: 1em auto 1em -1em;
    padding-top: 1.5em;
    padding-bottom: 0;
    border-top: 1px dashed;
    width: 100%;
  }
  button {
    margin: 0 auto 1em;
  }
}

.label-group {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 1em;
}

@include screen-900();