{% extends layout %}

{% set keywords = ['personal'] %}

{% set published = '26 december 2023' %}

{% block content %}
    <p>
        can't wait to have time for other hobbies that <em>don't</em> involve rotting in front of a computer screen!!
    </p>
    <hr/>
    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/-zBG-709UEM?si=6xxGlX9sJ0kQBcRZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}

{# optional #}

{% set custom_style         = false %}
{% set publish_to_bridgy    = true  %}
{% set webmentions_301      = false %}
{% set enable_webmentions   = true  %}
{% set enable_comments      = true  %}