@mixin light-body {
    background-color: rgb(240, 220, 240);
    color: rgb(48, 5, 48);
}
@mixin light {
    a {
        color: rgb(105, 38, 72);
        &:hover {
            color: rgb(179, 48, 113);
        }
    }
    .previous, .next {
        a {
            &:hover {
                background-color: antiquewhite;
            }
        }
    }
    #themeSwitch, input[type="submit"] {
        &:hover {
            background-color: rgb(190, 241, 224);
        }
    }
    #themeSwitch {
        border-color: purple;
        background-color: rgb(252, 240, 255);
    }
    input, textarea {
        background-color: rgb(253, 249, 255);
    }
    .message {
        background-color: rgb(255, 240, 250);
        box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.205);
    }
    .is-threaded {
        border-left-color: rgb(150, 118, 165);
    }
}