@use '../../../_shared/components/header_2' as *;

@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            width: fit-content;
            margin: auto auto;
            padding-top: 3vh;
            flex-direction: column;
        }
        @include header-style-2-768();
        header {
            position: static;
            max-width: 95vw;
            margin: auto;
        }
        main {
            margin-top: 5%;
            width: 100%;
            & .h-entry, section {
                border-left: none;
                border-right: none;
            }
        }
        article {
            flex-direction: column;
        }
        .notes-format {
            flex-direction: column;
            header {
                margin-left: 3vw;
                margin-bottom: 3vh;
                display: flex;
                align-items: center;
                .u-photo {
                    margin-bottom: 0;
                }
                hgroup {
                    p {
                        margin-bottom: 0;
                    }
                }
                .id {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }
            }
            .h-entry {
                border-left: none;
                border-right: none;
                .e-content {
                    font-size: 1.1em;
                }
            }
            + p {
                width: fit-content;
            }
        }
        footer {            
            width: 80%;
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
}