@use '../../../_shared/components/header_2' as *;

@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            width: fit-content;
            max-width: 100vw;
            margin: auto auto;
            padding-top: 3vh;
            flex-direction: column;
        }
        @include header-style-2-768();
        header {
            position: static;
            max-width: 95vw;
            margin: auto;
        }
        main {
            margin-top: 5%;
            width: 100%;
        }
        article {
            flex-direction: column;
        }
        .notes-format {
            .h-entry {
                border-left: none;
                border-right: none;
                padding: 1em 1em;
                max-width: 100vw;
                .e-content {
                    font-size: 1.1em;
                }
            }
            + p {
                width: fit-content;
            }
        }
        footer {
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
}