@use '_colors/dark'as *;
@use '_colors/light'as *;

body {
    opacity: 1;
}

header hgroup p {
    font-size: .9em;
    margin-left: auto;
}

#aside {
    details {
        &::marker {
            list-style: none;
        }
    }

    summary {
        img {
            &:hover {
                filter: hue-rotate(180deg);
                transition: filter .25s ease-in-out;
                cursor: pointer;
            }
        }
    }
}

.u-featured {
    position: absolute;
    margin-left: -250px;
}

.time {
    h2 {
        .js-time {
            display: none;
        }
        noscript {
            font-size: larger;
            font-weight: 500;
        }
    }
}

#song {
    display: none;
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    }
    @include light-mode();
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}