@use '_colors/dark'as *;
@use '_colors/light'as *;
@use '_components/sticky-note' as *;

#themeSwitch {
    margin: auto 0;
    font-family: var(--font-3);
    font-size: 1em;
    height: fit-content;
    width: fit-content;
    padding: .5em;
    border: 1px solid #8e629b;
}

@media all and (max-width: 768px) {
    #themeSwitch {
        font-size: larger;
        margin-top: 0;
    }
}

@include sticky-note;

:root .light-mode {
    --sticky-note-bg: cornsilk;
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}

:root .dark-mode {
    --sticky-note-bg: var(--section-card-dark);
    --sticky-note-font: white;
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}