@mixin border-color {
    border-color: green;
}

@mixin site-updates {
    .site-updates {
        box-shadow: 10px 10px #3281436b;
        @include border-color();
        h2 {
            @include border-color();
        }
        p {
            text-align: center;
            &:first-of-type {
                b {
                    font-size: larger;
                }
            }
        }
        /*& .overflow {
            @include border-color();
            scrollbar-color: rgb(110, 141, 114) rgba(134, 201, 154, 0.116);
        }
        ::-webkit-scrollbar-thumb {
            background-color: rgb(118, 170, 138);
        }
        */
    }
}