@mixin guestbook {
    .guestbook {
        box-shadow: 10px 10px rgba(192, 45, 136, 0.432);
        .button-style {
            margin: 1.5em auto .75em;
            width: fit-content;
        }
        blockquote {
            margin: 1.5em auto auto;
            width: fit-content;
        }
    }
}