@mixin border-color {
    border-color: green;
}

@mixin site-updates {
    .site-updates {
        box-shadow: 10px 10px #3281436b;
        @include border-color();
        h2 {
            @include border-color();
        }
        p {
            text-align: center;
            &:first-of-type {
                b {
                    font-size: larger;
                }
            }
        }
    }
}