@mixin link-style-1 {
    a {
        background-color: transparent;
        transition: all 0.2s ease-out;
        font-weight: 600;
        &:hover {
            background-color: var(--links-hover-bg);
            color: black;
        }
    }
}