@mixin sticky-note {
    .notice-group {
        position: absolute;
        right: 0;
        margin: auto;
        z-index: 1;
        font-family: var(--font-3);
        animation: fadeInSlide 0.75s forwards;
        & button {
            background-color: transparent !important;
            color: inherit;
            border: none;
            font-size: 2em;
            z-index: 2;
            position: absolute;
            right: 0;
            top: 0;
            transition: transform 0.3s;
            &:hover {
                background-color: transparent !important;
                transform: translatey(-5px);
            }
        }
    }
    #notice {
        transition: transform 0.3s;
        & p:first-child {
            font-size: x-large;
        }
        &:hover {
            transform: translatey(-5px);
        }
    }
}