@font-face {
    font-family: "Instrument Sans";
    src: url('/fonts/Instrument_Sans/InstrumentSans-Regular.ttf')  format('truetype');
}

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --bg-color-1: rgb(47, 44, 63);
    --bg-color-2: rgba(250, 247, 255, .7);
}

* {
    font-family: var(--font-1);
}
@keyframes fadeInPage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loader {
    text-align: center;
    margin: auto;
    margin-top: 40vh;
    color: white;
    letter-spacing: .1em;
}
article {
    opacity: 0;
    animation: fadeInPage .5s forwards;
    animation-delay: .5s;
}

a {
    background-color: transparent;
    color: darkmagenta;
    transition: all 0.2s ease-out;
    text-decoration: underline 1px dashed;
    text-underline-offset: .3em;
    }
    a:hover {
    background-color: rgb(125, 71, 146);
    color: white;
    }
p {
    text-align: center;
}
p:first-of-type {
    font-size: larger;
}

::selection {
    background-color: rgb(248, 208, 170);
}

header {
    color: rgb(84, 48, 95);
}
h1 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 .5em rgb(99, 35, 129);
    letter-spacing: .1em;
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
}
h1::after {
    content: '˗ˏˋ ★ ˎˊ˗';
    margin-left: 1em;
    display: inline-block;
}
    @media all and (max-width:768px) {
        h1::after {
        margin-left: 0;
        display: block;
        }
    }

::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }

html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
    text-rendering: geometricPrecision;
}

body {
    background: url(pexels-lara-wehbe-6564097.jpg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: rgb(63, 19, 63);
    font-size: 1em;
    padding: 0;
    margin: 0;
}
    @media all and (max-width:768px) {
        body {
            background-size: auto;
        }
    }
    main {
        padding-top: 3em;
        margin-top: 0;
        top: 0;
        padding-bottom: 3em;
    }
    article {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        width: 90%;
    }
    section {
        background-color: var(--bg-color-2);
        border: 1px solid rgb(122, 103, 129);
        padding: 1.5em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        box-shadow: 0 0 1em rgb(180, 149, 194);
    }

article::after {
    content: '✩₊˚.⋆☾⋆⁺₊✧*:･ﾟ';
    color: white;
    text-align: center;
    display: block;
    font-size: x-large;
    letter-spacing: .5em;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    width: 50%;
    text-align: center;
    text-transform: lowercase;
    color: rgb(221, 210, 210);
}
footer a {
    color: rgb(236, 226, 226);
}