@mixin screen-900 {
    @media all and (max-width: 900px) {
        .layout {
            margin-top: 0;
            width: 100%;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        article {
            display: flex;
            flex-direction: column;
            row-gap: 10vh;
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
        h2, p {
            text-align: center;
        }
        footer {
            width: 90%;
        }
    }
    @media all and (max-width:768px) {
        #header-controls {
            flex-direction: column;
        }
        h1 {
            text-align: center;
        }
        #themeSwitch {
            margin: auto;
        }
        nav {
            padding-left: 5%;
            overflow-x: auto;
            white-space: nowrap;
            font-size: smaller;
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 192, 203, 0.445);
            }
        }
    }
}