<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--#include virtual="/assets/includes/head.shtml"-->
  <title>20 october 2023 | jasmine&apos;s notes</title>
  <link rel="stylesheet" href="/assets/stylesheets/style-10.css" type="text/css" media="all">
  <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/https://jasm1nii.xyz/blog/notes/2023/10/20/entry.html">
  <meta name="author" content="jasm1nii">
  <meta name="keywords" content="microblog">
  <meta name="description" content="note from friday, 20 october 2023">
</head>
<body>
  <div id="layout">
    <header>
      <hgroup>
        <h1>jasmine&apos;s notes</h1>
      </hgroup>
      <nav aria-label="primary">

          {{ include('/public/assets/includes/headernav.shtml') }}

        <!--#include virtual="/assets/includes/headernav.shtml"-->
      </nav>
    </header>
    <main class="notes-entry">
      <article>
        <h2>
          <time class="dt-published dt-updated" datetime="2023-10-20">20 october 2023</time>
        </h2>
        <div class="h-entry">
          <p class="e-content">was possessed by a bought of hyperfocus for a couple of days and made an atom (RSS) feed generator in PHP... <a href="https://github.com/jasm1nii/xml-feed-generator" rel="external me">check it out!</a>
          </p><a class="u-bridgy-fed" href="https://fed.brid.gy/" aria-hidden="true" tabindex="-1"></a>
        </div>
      </article>
      <section id="webmentions">
        <h3>webmentions</h3>
        <!--#include virtual="/assets/includes/webmentions-module.shtml"-->
      </section>
      <section id="comments">
        <h3>comments</h3>
        <div id="comment-section"></div>
      </section>
    </main>
  </div>
  <footer>
    <!--#include virtual="/assets/includes/footer.shtml"-->
  </footer>
  <!--#include virtual="/assets/includes/webmentions-script.shtml"-->
  <!--#include virtual="/assets/includes/comments-script.shtml"-->
  <script src="index.js"></script>
  <script src="/assets/scripts/theme-switcher-v2.js"></script>
</body>