@mixin screen-1100 {
    @media all and (max-width:1100px) {
        .board {
            border-left: none;
            border-right: none;
        }
        nav {
            font-size: 1.1em;
        }
        main {
            columns: 2;
            padding-top: 6vh;
            font-size: 1.1em;
        }
        section {
            margin-bottom: 7vh;
            max-width: 300px;
        }
        .warning {
            max-width: 275px;
        }
        .buttons {
            max-width: 350px;
            padding: 0 0 1em;
        }
    }
}