@mixin screen-900 {
    @media all and (max-width:900px) {
        header {
            hgroup {
                flex-direction: column;
                p {
                    align-self: flex-start;
                }
            }
        }
        .header-top {
            margin-bottom: 1em;
        }
        h1 {
            font-size: 2em;
            &:before {
                display: none;
            }
        }
        main {
            columns: 2;
        }
    }
}