{% extends layout %}

{% set date = "november 2023" %}

{% block changelog %}
    {% apply markdown_to_html %}
        <section>

        ### <time datetime="2023-11-09">9 november 2023</time>

        - migrated my [guestbook](/guestbook) to a self-hosted system that i set up myself!

        </section>

        <section>

        ### <time datetime="2023-11-04">4 november 2023</time>

        - fixed broken skip links in the resources section.

        </section>
        
    {% endapply %}
{% endblock %}