@font-face {
    font-family: "Instrument Sans";
    font-display: swap;
    src:
      url('/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2') format('woff2'),
      url('/_assets/fonts/Instrument_Sans/InstrumentSans.woff') format('woff'),
      url('/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf') format('truetype');
  }