- var base = '/_assets/media/link-gallery/'

mixin mutual(link, image, alt_text)
    a(href=link, rel="external"): img(src=base+image, alt=alt_text, width="88", height="31")

+mutual("https://kalechips.net/","kalechips.png","kalechips")
+mutual("https://notprincehamlet.neocities.org/","notprincehamlet.png", "notprincehamlet")
+mutual("https://hexephre.com/", "hexephre.png", "hexephre's webbed site'")
+mutual("https://owlsroost.xyz/", "OwlBanner.gif")
+mutual("https://bluenight.neocities.org/", "BLUE_NIGHT.gif", "blue night")
+mutual("https://tim-of-the-valley.neocities.org","tim-button.png","time-of-the-valley")
+mutual("https://cherrywaves.neocities.org/","cherrywaves.gif", "cherry waves")
+mutual("https://soyatoast.neocities.org/", "soyatoast.png", "soyatoast")
+mutual("https://chocolate-cake.neocities.org/", "chocolate-cake.gif", "chocolate cake")
+mutual("https://nonkiru.art/","nonkiru.gif","nonkiru")
+mutual("https://shrimpfriedeggs.neocities.org/","shrimpfriedeggs.png", "shrimp fried eggs")
+mutual("https://meixins.neocities.org/","meixins.gif","meixins")
+mutual("https://juxtajuno.neocities.org/","juxtajuno.gif","juxtajuno")
+mutual("https://jeith.neocities.org/","jeith.jpeg","jeith")
+mutual("https://owlhari.com/","owlhari.gif","owlhari")
+mutual("https://icecreampizzer.neocities.org/","pizzer.gif","icecreampizzer")