- var base = '/_assets/media/link-gallery/'

mixin site(link, image, alt_text)
    a(href=link, rel="external"): img(src=base+image, alt=alt_text, width="88", height="31")

+site("https://dimden.dev/","dimden.gif","dimden's hotel")