@charset "UTF-8";
/* about */
@font-face {
  font-family: "Besley";
  font-display: swap;
  src: url("/_assets/fonts/Besley/Besley-VariableFont_wght.woff2") format("woff2"), url("/_assets/fonts/Besley/Besley.woff") format("woff"), url("/_assets/fonts/Besley/Besley-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
/* animations */
header, main, footer {
  opacity: 0;
  animation: fadeInPage 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  scrollbar-width: thin;
}

html {
  scrollbar-color: rgb(184, 140, 184) transparent;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: auto;
}

.layout {
  display: flex;
  max-width: -moz-min-content;
  max-width: min-content;
  margin: auto;
}

@media all and (max-width: 768px) {
  body {
    font-size: 1.1em;
  }
  .layout {
    flex-direction: column;
  }
}
header {
  margin: 50px auto auto auto;
  padding-left: 50px;
  position: sticky;
  top: 5%;
}
header nav {
  font-weight: 500;
}
header nav ul {
  padding: 1em;
  max-height: 30vh;
  overflow-y: auto;
}
header nav ul:first-child {
  border-bottom: 1px solid rgb(207, 145, 207);
  border-top: 1px solid rgb(207, 145, 207);
  padding: 1em;
}
header nav ul li::before {
  content: "୨୧";
  margin-right: 0.5em;
}
header nav ul li {
  display: block;
  padding-bottom: 1em;
}
header nav ul li ul {
  border: none;
  padding-bottom: 0;
}
header nav ul li ul li {
  padding-bottom: 0;
}

h1 {
  font-family: Besley, serif;
  text-align: left;
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.25em;
  opacity: 0.8;
}

#h1-main {
  opacity: 1;
  font-weight: 600;
}

.site-update time {
  font-weight: 600;
  display: block;
}

@media all and (max-width: 768px) {
  header {
    margin: 5% auto 25px auto;
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
    position: static;
  }
  header nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
  }
  header nav ul:nth-child(2) li {
    margin-right: 0;
    padding-right: 0;
  }
  header nav ul:nth-child(2) li::before {
    content: none;
  }
  header nav li {
    padding-bottom: 0;
    margin-right: 1em;
    margin-bottom: 0;
    display: inline;
    flex-direction: row;
  }
  header nav li ul, header nav li li {
    display: inline;
  }
  header nav li ul::before, header nav li li::before {
    content: "⟶";
    margin-right: 1em;
    margin-left: 1em;
  }
}
main {
  width: clamp(600px, 35vw, 700px);
  margin: 0 3em;
}

@media all and (max-width: 768px) {
  main {
    margin: auto;
    width: 100vw;
  }
}
h1, h2, h3 {
  font-weight: 500;
}

h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid hotpink;
  font-size: 1.5em;
  text-align: right;
}
h2::before {
  content: "｡ﾟ☆: *.☽ .* :☆ﾟ. ───";
  font-size: x-large;
  padding-top: 1em;
  margin-right: 0.5em;
  font-weight: 400;
}

h3 {
  padding: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#owo::before {
  content: "( ͡o ω ͡o )";
  margin-right: 0.25em;
  text-transform: none;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.5em;
}
h4::before {
  content: "☆";
  margin-right: 0.5em;
}
h4::after {
  content: "☆";
  margin-left: 0.5em;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}
a:hover {
  background-color: palevioletred;
  text-decoration: none;
  color: white !important;
}

button {
  cursor: pointer;
  background-color: rgba(255, 192, 239, 0.493);
  border: 1px solid purple;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
}

#themeSwitch {
  display: block;
  margin-bottom: 1em;
}

.soundcloud h2 {
  padding-top: 0.5em;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  border-bottom: none;
}
.soundcloud h2::before {
  content: none;
}

section ul {
  list-style-position: inside;
  padding: 0;
}
section li {
  border-bottom: 1px solid;
  padding: 1em;
}
section li:first-child {
  padding-top: 0;
}
section li li {
  border: none;
  padding-bottom: 0;
}

hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed plum;
}

article > section {
  border: 1px solid purple;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
}

#languages {
  margin: 1.5em auto;
}
#languages img {
  display: block;
  margin: auto;
  width: 100%;
}
#languages figcaption {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 1em;
}

summary {
  font-weight: 600;
  font-size: 1.1em;
}

details dt {
  margin-left: 1em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: larger;
}

details dd {
  font-weight: normal;
  margin-left: 2em;
}

details dd::before {
  content: "☆ »";
  margin-right: 0.5em;
}

section > details summary {
  padding: 0.5em;
  margin-top: 1em;
}

.data-columns {
  -moz-columns: 2;
       columns: 2;
}

.data-columns dd {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

@media all and (max-width: 768px) {
  section {
    border-left: none !important;
    border-right: none !important;
  }
  .data-columns {
    -moz-columns: 1;
         columns: 1;
  }
  dd {
    margin-bottom: 1em;
  }
}
.section-style-2 details div {
  max-height: 30vh;
  overflow-y: auto;
}

#contact dl p {
  margin-left: 1em;
}

footer:not(main footer) {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  text-align: center;
  width: 90%;
  opacity: 0.8;
}
footer:not(main footer) ul {
  padding: 0;
  list-style-type: none;
}
footer:not(main footer) li {
  display: inline-block;
  margin-right: 15px;
}
footer:not(main footer) li::before {
  content: "⬩";
  font-size: 20px;
  margin-right: 15px;
}
footer:not(main footer) li:first-child::before {
  content: none;
}
footer:not(main footer) time {
  font-weight: 600;
}

:root {
  --light-font-1: #4e494e;
  --light-font-2: rgb(56, 36, 56);
  --light-main-bg: whitesmoke;
  --light-main-border: purple;
  --light-h1: #4a3b61;
  --light-h2: #5a5463;
  --light-h3: rgb(107, 72, 128);
  --light-h3-before: rgb(173, 123, 173);
  --light-h3-bg: rgb(227, 219, 230);
  --light-h4: color: rgb(119, 95, 35);
  --light-h4-bg: antiquewhite;
  --light-a: darkmagenta;
  --light-decor: rgb(169, 121, 179);
  --light-section-bg: whitesmoke;
  --light-summary-bg: rgb(216, 216, 233);
  --light-li-border: rgb(223, 212, 212);
  --light-headernav: rgb(76, 15, 95);
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--light-font-1);
    background-color: rgb(228, 205, 228);
  }
  header p {
    color: var(--light-font-2);
  }
  header nav ul:first-child {
    color: var(--light-headernav);
  }
  h1 {
    color: var(--light-h1);
  }
  #h1-main {
    color: rgb(125, 53, 139);
  }
  h2 {
    color: var(--light-h2);
  }
  h3 {
    color: var(--light-h3);
    background-color: var(--light-h3-bg);
  }
  h3::before {
    color: var(--light-h3-before);
  }
  h4, summary {
    color: var(--light-h4);
    background-color: var(--light-h4-bg);
  }
  article::after {
    color: var(--light-decor);
  }
  article section {
    background-color: var(--light-section-bg);
  }
  section li {
    border-color: var(--light-li-border);
  }
  section > details summary {
    background-color: var(--light-summary-bg);
  }
  a {
    color: var(--light-a);
  }
  a:hover {
    color: white;
  }
}
.light-mode {
  color: var(--light-font-1);
  background-color: rgb(228, 205, 228);
}
.light-mode header p {
  color: var(--light-font-2);
}
.light-mode header nav ul:first-child {
  color: var(--light-headernav);
}
.light-mode h1 {
  color: var(--light-h1);
}
.light-mode #h1-main {
  color: rgb(125, 53, 139);
}
.light-mode h2 {
  color: var(--light-h2);
}
.light-mode h3 {
  color: var(--light-h3);
  background-color: var(--light-h3-bg);
}
.light-mode h3::before {
  color: var(--light-h3-before);
}
.light-mode h4, .light-mode summary {
  color: var(--light-h4);
  background-color: var(--light-h4-bg);
}
.light-mode article::after {
  color: var(--light-decor);
}
.light-mode article section {
  background-color: var(--light-section-bg);
}
.light-mode section li {
  border-color: var(--light-li-border);
}
.light-mode section > details summary {
  background-color: var(--light-summary-bg);
}
.light-mode a {
  color: var(--light-a);
}
.light-mode a:hover {
  color: white;
}

:root {
  --dark-a: pink;
  --dark-main-bg: rgb(34, 30, 30);
  --dark-main-border: purple;
  --dark-li-border: purple;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  article section {
    background-color: var(--dark-main-bg);
    border-color: var(--dark-main-border);
  }
  article section li {
    border-color: var(--dark-li-border);
  }
  #h1-main {
    color: rgb(221, 192, 255);
  }
  header, h2, h3, h4, summary {
    color: white;
  }
  h3, h4, summary {
    background-color: transparent;
  }
  a {
    color: var(--dark-a);
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode article section {
  background-color: var(--dark-main-bg);
  border-color: var(--dark-main-border);
}
.dark-mode article section li {
  border-color: var(--dark-li-border);
}
.dark-mode #h1-main {
  color: rgb(221, 192, 255);
}
.dark-mode header, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode summary {
  color: white;
}
.dark-mode h3, .dark-mode h4, .dark-mode summary {
  background-color: transparent;
}
.dark-mode a {
  color: var(--dark-a);
}

::-moz-selection {
  background-color: rgb(255, 255, 191);
  color: black;
}

::selection {
  background-color: rgb(255, 255, 191);
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar:hover {
  background-color: plum;
}

::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}/*# sourceMappingURL=about.css.map */