/* blog article entries */
@use 'font-3';
@import url('cactus-chat.css');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}
:root {
    --font-3: 'Inconsolata', monospace;
    --links-hover-bg: white; 
}
:root, :host {
    --seia-color-bg: transparent !important;
}
html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
}
body {
    font-family: var(--font-3);
    font-stretch: normal;
    font-size: 1em;
    max-width: 900px;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    opacity: 0;
    animation: fadeIn .5s;
    animation-fill-mode: forwards;
    transition: all 0.25s ease-out;
    }
        @media all and (max-width:768px) {
            body {
                width: fit-content;
                padding-left: 0;
                padding-right: 0;
            }
        }
    #layout {
        margin-top: 5%;
        display: flex;
        flex-direction: row-reverse;
    }
        @media all and (max-width:768px) {
            #layout {
                margin-top: 0;
                flex-direction: column;
            }
        }
a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    font-weight: 600;
}
a:hover {
    background-color: var(--links-hover-bg);
    color: black;
}
button {
    font: inherit;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover {
    background-color: thistle;
    color: black;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}
hr {
    border: 1px dashed pink;
    margin-top: 2em;
    margin-bottom: 2em;
}
summary {
    margin-left: 1em;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }
header {
    max-width: 12em;
    margin-left: 3em;
    letter-spacing: .05em;
    position: sticky;
    top: 5%;
    align-self: flex-start;
}
    @media all and (max-width:768px) {
        header {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            position: relative;
        }
    }
header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
#themeToggle {
    height: fit-content;
    width: fit-content;
}
#themeSwitch {
    margin-bottom: 1em;
    font-size: larger;
    padding: .5em;
}
header h1 {
    font-size: 2em;
}
header time {
    font-weight: 600;
    display: block;
}
header nav {
    margin: auto;
    border-top: 1px solid;
    letter-spacing: .1em;
    padding: .25em;
    font-size: 1.1em;
    }
    header nav ul {
        margin-top: .25em;
        margin-bottom: .25em;
        padding: .7em;
    }
    header nav li {
        display: block;
        margin-top: 1em;
    }
    header nav li li {
        margin-top: 0;
        margin-left: 1em;
    }
        @media all and (max-width:768px) {
            header nav li {
                display: inline;
                margin-right: .5em;
            }
            header nav li:last-child::after {
                content: "✧";
                margin-left: .5em;
            }
            header nav li li:last-child::after {
                content: none;
            }
        }
    header nav li::before {
        content: "✧";
        margin-right: .5em;
    }
    header nav a {
        text-decoration: underline dotted;
        padding: 0px 5px 3px 5px;
    }
    
    header nav li li::before {
        content: '⟶';
    }
        @media all and (max-width:768px) {
            header nav ul ul {
                display: inline;
                padding-left: 0;
            }
        }

footer .subpage-nav {
    justify-content: space-between;
    display: flex;
}
    @media all and (max-width:500px) {
        footer .subpage-nav {
            display: inline;
            }
        footer .subpage-nav a {
            margin-right: 2em;
            margin-left: 2em;
            line-height: 2.5em;
        }
    }
footer .subpage-nav a:first-child:before {
    content: '⟵';
    margin-right: .5em;
}
#footer li {
    display: inline-block;
}

main {
    margin: auto;
}
    @media all and (max-width:768px) {
        main {
            margin-left: auto;
            margin-right: auto;
            max-width: 100vw;
            margin-top: 5%;
        }
        main > p {
            text-align: center;
        }
    }
    @media all and (max-width:400px) {
        main {
            width: fit-content;
        }
    }
article {
    border: 1px solid gray;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 500;
    hyphens: manual;
}
    @media all and (max-width:800px) {
        article {
            padding: 1em;
            border: none;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }
    }
main::before {
    content:'⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆';
    display: block;
    text-align: center;
    margin-bottom: 1.5em;
    letter-spacing: .4em;
    font-size: x-large;
}
main::after {
    content: '˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗';
    display: block;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: large;
}
h2 {
    border-bottom: 1px solid;
    padding-bottom: .25em;
    margin-top: 0;
}
.entry time {
    margin-right: auto;
    text-align: right;
    display: block;
}
.entry p {
    text-indent: 2em;
}
.entry img {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    max-width: 100%;
}
.entry blockquote {
    border: 1px dashed;
    padding: 1em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: fit-content;
}
article hgroup {
    border-bottom: 1px solid;
}
article hgroup h2 {
    padding-bottom: 0;
    margin-bottom: 0.5em;
    border-bottom: none;
}
article hgroup .p-summary {
    text-indent: 0;
    font-style: italic;
    padding-left: 1em;
    margin-top: 0;
    background-color: rgba(128, 128, 128, .1);
}
section {
    margin-bottom: 1em;
}
section h3 {
    border-bottom: 1px dashed;
    margin-top: 0;
    padding-bottom: .25em;
}
#comments, #webmentions {
    border: 1px solid gray;
    padding: 2em;
    padding-top: 1.5em;
}
@media all and (max-width:768px) {
    #comments, #webmentions { border-left: none; border-right: none; }
}
.cactus-editor-textarea::placeholder,.cactus-editor-name > span > input::placeholder, .cactus-container button {
    text-transform: lowercase;
}

footer {
    font-size: 1em;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 70%;
    text-align: center;
    }
    @media all and (max-width:768px) {
        footer {
            
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            border: none;
        }
    }
    footer time {
        font-weight: 600;
    }
    footer ul {
        padding: 0;
        list-style-type: none;
        }
        footer li:nth-child(1)::before {
            content: none;
        }
        footer li::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        footer li {
            display: inline;
            margin-right: 1em;
        }

:root {
    --dark-font: white;
    --light-font: rgb(63, 48, 48);
    --dark-bg: black;
    --light-bg: rgb(232, 221, 235);
    --light-bg-article: ghostwhite;
    --dark-links: rgb(255, 166, 181);
    --dark-links-hover: rgb(255, 234, 176);
    --light-links: rgb(88, 24, 56);
    --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg);
        color: var(--dark-font);
        }
    a {
        color: var(--dark-links);
    }
    #comments, #webmentions {
        background-color: var(--dark-bg);
    }
    #comments button {
        color: black;
        background-color: thistle;
    }
    #comments button:hover {
        background-color: lightpink;
    }
}
.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-font);
}
    .dark-mode a {
        color: var(--dark-links);
    }
    .dark-mode a:hover {
        color: black
    }
    .dark-mode article, .dark-mode #comments, .dark-mode #webmentions {
        background-color: var(--dark-bg);
    }
    .dark-mode #comments button {
        color: black;
        background-color: thistle;
    }
    .dark-mode #comments button:hover {
        background-color: lightpink;
    }
    :root .dark-mode, :host .dark-mode {
        --seia-color-text: white;
    }

@media (prefers-color-scheme: light) {
    body {
        background-color:  var(--light-bg);
        color: var(--light-font);
    } 
    a {
        color: var(--light-links);
    }
    .entry {
        background-color: var(--light-bg-article);
    }
    #comments {
        background-color: var(--light-bg-article);
    }
    :root, :host {
        --seia-color-text: var(--light-font);
    }
    
}
.light-mode {
    background-color: var(--light-bg);
    color: var(--light-font);
}
    .light-mode a {
        color: var(--light-links);
    }
    .light-mode a:hover {
        color: black;
    }
    .light-mode article {
        background-color: var(--light-bg-article);
    }
    .light-mode #comments, #webmentions {
        background-color: var(--light-bg-article);
    }
    .light-mode .cactus-container button {
        background-color: rgb(204, 198, 207);
        color: black;
    }
    .light-mode .cactus-container button:hover {
        background-color: pink;
        color: rgb(70, 35, 41);
    }
    :root .light-mode, :host .light-mode {
        --seia-color-text: var(--light-font);
    }