@charset "UTF-8";
@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  src: url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Inconsolata/Inconsolata.woff") format("woff"), url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scrollbar-color: rgb(184, 140, 184) transparent;
  scrollbar-width: thin;
  text-rendering: optimizeLegibility;
}

body {
  font-weight: 500;
  font-family: "Inconsolata", monospace;
  scrollbar-color: pink transparent;
  scrollbar-width: thin;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  background-color: rgb(45, 42, 48);
  transition: all 0.25s ease-out;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 118, 170);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

body {
  font-size: 1.1em;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-bottom: 3vh;
}

.layout {
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  -moz-column-gap: 1em;
       column-gap: 1em;
}

.sidebar {
  max-width: 12em;
  margin-left: 1em;
  position: sticky;
  top: 5%;
  align-self: flex-start;
}

header {
  letter-spacing: 0.05em;
  border-bottom: 1px solid;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
header hgroup {
  display: flex;
  flex-direction: column;
}
header time {
  font-weight: 600;
  display: block;
}
header nav {
  margin: auto;
  border-top: 1px solid;
  letter-spacing: 0.1em;
  padding: 0.25em;
}
header nav ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.7em;
  font-size: 1em;
}
header nav ul ul {
  padding-top: 0;
  padding-bottom: 0.25em;
}
header nav ul ul li::before {
  content: "⟶";
}
header nav li {
  display: flex;
  margin-bottom: 0.25em;
}
header nav li::before {
  content: "✧";
  margin-right: 0.5em;
}
header nav a {
  text-decoration: none;
  padding: 0px 5px 3px 5px;
  height: -moz-fit-content;
  height: fit-content;
}

#themeSwitch {
  display: block;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 0.5em;
}

h1 {
  font-size: 2em;
}

main {
  margin-bottom: 2em;
}
main::before {
  content: "⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆";
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: 0.4em;
  font-size: x-large;
}
main::after {
  content: "˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗";
  display: block;
  text-align: center;
  margin-top: 1.5em;
  font-size: x-large;
}
main a {
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
}

.microblog, .blog {
  border: 1px solid;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
.microblog h2, .blog h2 {
  letter-spacing: 0.05em;
}

.microblog .newest-note {
  border: none;
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.microblog .newest-note .u-photo {
  border-radius: 50%;
  margin-top: 1em;
  margin-bottom: auto;
  border: 1px solid;
}
.microblog .newest-note .h-entry {
  display: flex;
  flex-direction: column;
}
.microblog .newest-note .e-content {
  line-height: 1.5em;
}
.microblog .newest-note p {
  margin-top: 0;
}
.microblog .newest-note time {
  padding-bottom: 0.25em;
  margin-left: 0;
}

.blog .h-entry {
  padding: 0;
  padding-bottom: 2em;
  border: none;
}
.blog .h-entry h3 {
  margin-top: 0;
  padding: 0.5em;
  letter-spacing: 0.015em;
  font-weight: 600;
}
.blog .h-entry .p-summary {
  font-style: italic;
}
.blog .h-entry .p-summary, .blog .h-entry time {
  margin-left: 1em;
}

.subscribe {
  margin-top: 0;
  padding-top: 1em;
  border-top: 1px dashed;
  text-align: right;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

hr {
  border: 1px dashed pink;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  font-size: smaller;
  margin-top: 3em auto 5em;
  width: 100%;
  letter-spacing: 0.05em;
  text-align: center;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer li {
  display: inline-block;
  margin-right: 1em;
}
footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 1em;
}
footer li:first-child::before {
  content: none;
}
footer time {
  font-weight: 600;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  font-weight: 600;
}
a:hover {
  background-color: var(--links-hover-bg);
  color: black;
}

button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  cursor: pointer;
}
button:hover {
  background-color: thistle;
  color: black;
}

@media all and (max-width: 768px) {
  body {
    width: -moz-fit-content;
    width: fit-content;
  }
  .layout {
    flex-direction: column;
  }
  header nav ul ul {
    padding-right: 0;
    display: inline;
    padding-left: 0;
  }
  header nav li {
    margin-right: 0.5em;
    display: inline-block;
    height: -moz-fit-content;
    height: fit-content;
  }
  header nav li:last-child::after {
    content: "✧";
    margin-left: 0.5em;
  }
  header nav li li:last-child::after {
    content: none;
  }
  #headernav ul ul li:not(:first-child)::before {
    content: "/";
  }
  .sidebar {
    position: static;
    max-width: none;
  }
  main {
    margin-top: 5%;
    width: 100%;
  }
  .microblog, .blog {
    padding: 1em 0;
    border-left: none;
    border-right: none;
  }
  h2 {
    text-align: right;
    margin-right: 1em;
    margin-top: 0.5em;
  }
  .subscribe {
    padding-right: 1em;
  }
  .microblog .newest-note {
    flex-direction: column;
  }
  .microblog .newest-note .u-photo {
    margin-left: 0;
    margin-top: 1em;
  }
  .blog .h-entry .p-name, .blog .h-entry time {
    padding-left: 1.5em;
  }
  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
@media all and (max-width: 500px) {
  main {
    width: -moz-fit-content;
    width: fit-content;
  }
  article {
    padding-top: 1em;
  }
}/*# sourceMappingURL=blog_index.css.map */