@charset "UTF-8";
/* blog index, notes */
@import url("cactus-chat.css");
@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  src: url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Inconsolata/Inconsolata.woff") format("woff"), url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.ttf") format("truetype");
}
:root {
  --font-2: "Inconsolata", monospace;
  --links-hover-bg: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  background-color: var(--links-hover-bg);
  color: black;
}

button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: thistle;
  color: black;
}

hr {
  border: 1px dashed pink;
  margin-top: 2em;
  margin-bottom: 2em;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: pink;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

html {
  scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
  scrollbar-width: thin;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-2);
  font-size: 1.1em;
  width: 90%;
  max-width: 800px;
  margin: auto;
  scrollbar-color: pink transparent;
  scrollbar-width: thin;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.25s ease-out;
}

@media all and (max-width: 768px) {
  body {
    width: -moz-fit-content;
    width: fit-content;
  }
}
#layout {
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
}

@media all and (max-width: 768px) {
  #layout {
    margin-top: 0;
    flex-direction: column;
  }
}
.sidebar {
  max-width: 12em;
  margin-left: 1em;
  position: sticky;
  top: 5%;
  align-self: flex-start;
}

header {
  letter-spacing: 0.05em;
  border-bottom: 1px solid;
}

@media all and (max-width: 768px) {
  .sidebar {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    position: relative;
  }
}
header hgroup {
  display: flex;
  flex-direction: column;
}

#themeToggle {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#themeSwitch {
  display: block;
  margin-right: auto;
  margin-bottom: 1em;
  padding: 0.5em;
}

header h1 {
  font-size: 2em;
}

header time {
  font-weight: 600;
  display: block;
}

header nav {
  margin: auto;
  border-top: 1px solid;
  letter-spacing: 0.1em;
  padding: 0.25em;
}

header nav ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.7em;
}

header nav li {
  display: flex;
  margin-bottom: 0.25em;
}

@media all and (max-width: 768px) {
  header nav li {
    margin-right: 0.5em;
    display: inline-block;
    height: -moz-fit-content;
    height: fit-content;
  }
  header nav li:last-child::after {
    content: "✧";
    margin-left: 0.5em;
  }
  header nav li li:last-child::after {
    content: none;
  }
  header nav ul ul {
    padding-right: 0;
  }
}
header nav li::before {
  content: "✧";
  margin-right: 0.5em;
}

header nav a {
  text-decoration: none;
  padding: 0px 5px 3px 5px;
  height: -moz-fit-content;
  height: fit-content;
}

header nav ul ul {
  padding-top: 0;
  padding-bottom: 0.25em;
}

header nav ul ul li::before {
  content: "⟶";
}

@media all and (max-width: 768px) {
  header nav ul ul {
    display: inline;
    padding-left: 0;
  }
  #headernav ul ul li:not(:first-child)::before {
    content: "/";
  }
}
footer .subpage-nav {
  justify-content: space-between;
  display: flex;
}

@media all and (max-width: 500px) {
  footer .subpage-nav {
    display: inline;
  }
  footer .subpage-nav a {
    margin-right: 2em;
    margin-left: 2em;
    line-height: 2.5em;
  }
}
footer .subpage-nav a:first-child:before {
  content: "⟵";
  margin-right: 0.5em;
}

main {
  margin-right: auto;
  width: 70%;
}

@media all and (max-width: 768px) {
  main {
    margin-left: auto;
    margin-top: 5%;
    width: 80%;
  }
  main > p {
    text-align: center;
  }
}
@media all and (max-width: 400px) {
  main {
    width: -moz-fit-content;
    width: fit-content;
  }
}
article {
  border: 1px solid;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

@media all and (max-width: 400px) {
  article {
    padding-top: 1em;
  }
}
article h2 {
  letter-spacing: 0.05em;
}

section section:has(h3) {
  margin-left: 1em;
}

section:has(#notesArchive) {
  padding-left: 1em;
  padding-right: 1em;
}

#articlesArchive article {
  margin-bottom: 1em;
  padding: 0;
  border: none;
}

#articlesArchive article h3 {
  margin-top: 0;
  padding: 0.5em;
  background-color: rgba(214, 191, 216, 0.295);
  letter-spacing: 0.015em;
  font-weight: 600;
}

#articlesArchive .p-summary, time {
  margin-left: 1em;
}

#articlesArchive .p-summary {
  font-style: italic;
}

#webmentions h3, #comments h3 {
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed;
}

#webmentions, #comments {
  border: 1px solid;
  padding: 1.5em;
  margin-bottom: 2em;
}

:root, :host {
  --seia-color-bg: transparent !important;
}

.cactus-editor-textarea::-moz-placeholder, .cactus-editor-name > span > input::-moz-placeholder {
  text-transform: lowercase;
}

.cactus-editor-textarea::placeholder, .cactus-editor-name > span > input::placeholder, .cactus-container button {
  text-transform: lowercase;
}

.warning {
  border: 1px solid rgba(146, 93, 24, 0.25);
  padding: 0.75em;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(230, 187, 132, 0.25);
}

.follow {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subscribe {
  border-top: 1px dashed;
  text-align: right;
}

.articles-list {
  margin-bottom: 2em;
}

main > article {
  max-width: calc(70% + 1vw);
  margin-left: auto;
  margin-right: auto;
}

.tags {
  margin-left: 0;
  padding-left: 0;
  margin-top: 1.5em;
}

.tags li {
  list-style: none;
  display: inline-flex;
  border: 1px solid;
  padding: 0.5em;
  padding-right: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
}

.tags li::before {
  content: "#";
  margin-right: 0.25em;
  margin-left: 0.25em;
}

#notes article {
  border: none;
  padding: 1em;
  display: flex;
  background-color: rgba(211, 196, 226, 0.24);
}

#notes article .u-photo {
  border-radius: 50%;
  width: 88px;
  margin-right: 1em;
  border: 1px solid;
}

#notes article time {
  border-bottom: 1px dashed;
  padding-bottom: 0.25em;
  margin-left: 0;
}

.notes-format {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
.notes-format .u-photo {
  width: 50%;
  max-width: 88px;
  min-width: 70px;
  border-radius: 50%;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid;
}
.notes-format .h-entry {
  flex-direction: column;
  width: 100%;
}
.notes-format .h-entry .e-content {
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  margin-top: 0;
}
.notes-format time {
  margin-left: 0;
  padding-left: 0;
}

@media all and (max-width: 768px) {
  .notes-format {
    flex-direction: column;
  }
}
main::before {
  content: "⋆｡ ﾟ☁︎｡ ⋆｡ ﾟ☾ ﾟ｡ ⋆";
  display: block;
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: 0.4em;
  font-size: x-large;
}

main::after {
  content: "˗ˏˋ ꒰ ┆┆ ₊˚ʚ ᗢ₊˚✧ ﾟ.┆┆꒱ ˎˊ˗";
  display: block;
  text-align: center;
  margin-top: 1.5em;
  font-size: x-large;
}

article ol {
  margin-left: 0.5em;
}

article ol li::marker {
  font-size: xx-large;
  font-style: italic;
}

article ol li {
  list-style-type: decimal-leading-zero;
}

article ol li span {
  border-bottom: 1px solid;
  font-size: large;
}

article ol li span::before {
  content: "❝";
  margin-right: 0.25em;
}

article ol li span::after {
  content: "❞";
  margin-left: 0.25em;
}

article ol li span a {
  color: inherit;
}

article ol li time {
  display: block;
  font-size: smaller;
  margin-top: 0.5em;
}

#webmentions, #comments {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: smaller;
  margin-top: 3em;
  margin-bottom: 5em;
  width: 70%;
  letter-spacing: 0.05em;
  text-align: center;
}

@media all and (max-width: 768px) {
  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
footer time {
  font-weight: 600;
}

footer ul {
  padding: 0;
  list-style-type: none;
}

footer li:nth-child(1)::before {
  content: none;
}

footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 1em;
}

footer li {
  display: inline-block;
  margin-right: 1em;
}

:root {
  --dark-font: white;
  --light-font: rgb(63, 48, 48);
  --dark-bg: black;
  --light-bg: rgb(232, 221, 235);
  --light-bg-article: ghostwhite;
  --dark-links: rgb(255, 166, 181);
  --dark-links-hover: rgb(255, 234, 176);
  --light-links: rgb(88, 24, 56);
  --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
  }
  a {
    color: var(--dark-links);
  }
  #comments button {
    color: black;
    background-color: thistle;
  }
  #comments button:hover {
    background-color: lightpink;
  }
}
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-font);
}

.dark-mode a {
  color: var(--dark-links);
}

.dark-mode a:hover {
  color: black;
}

.dark-mode article, .dark-mode header details p, .dark-mode #comments, .dark-mode #webmentions {
  background-color: var(--dark-bg-article);
}

.dark-mode #comments button {
  color: black;
  background-color: thistle;
}

.dark-mode #comments button:hover {
  background-color: lightpink;
}

:root .dark-mode, :host .dark-mode {
  --seia-color-text: white;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--light-font);
  }
  a {
    color: var(--light-links);
  }
  article, header details p, #webmentions, #comments {
    background-color: var(--light-bg-article);
  }
  :root, :host {
    --seia-color-text: var(--light-font);
  }
}
.light-mode {
  background-color: var(--light-bg);
  color: var(--light-font);
}

.light-mode a {
  color: var(--light-links);
}

.light-mode a:hover {
  color: black;
}

.light-mode article, .light-mode header details p, .light-mode #comments, .light-mode #webmentions {
  background-color: var(--light-bg-article);
}

.light-mode #webmentions, .light-mode #comments {
  color: var(--light-font);
}

:root .light-mode, :host .light-mode {
  --seia-color-text: var(--light-font);
}/*# sourceMappingURL=blog_index.css.map */