@charset "UTF-8";
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 140, 184) transparent;
  scrollbar-width: thin;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 450;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.25s ease-out;
}

dl {
  margin-right: 1em;
  display: grid;
  row-gap: 1em;
  margin-left: 2em;
}

dt {
  font-weight: bolder;
  grid-column: 1;
}

dd:not(:last-child) {
  grid-column: 2/5;
  margin-left: 0;
  padding-left: 0.5em;
}
dd ul {
  padding-left: 0;
}
dd p:first-child {
  margin-top: 0;
}

dt:not(:last-child, :last-of-type), dd:not(:last-child, :last-of-type) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}
dt:last-child, dd:last-child {
  grid-column: span 4;
}

ul dl {
  grid-auto-flow: column;
  grid-template-columns: 2fr 5fr;
}
ul dt, ul dd {
  border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}
ul dd {
  margin-left: 0;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 118, 170);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

:root {
  --links-hover-bg: white;
}

body {
  font-size: 1.1em;
  font-stretch: 95%;
  line-height: 1.5em;
  max-width: 1250px;
  margin: auto;
}

#layout {
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
}

header {
  margin-left: 3em;
  letter-spacing: 0.05em;
  align-self: flex-start;
  position: sticky;
  top: 2em;
  max-width: -moz-min-content;
  max-width: min-content;
}
header h1 {
  font-size: 1.5em;
}
header p {
  padding-left: 0;
}
header time {
  font-weight: 600;
  display: block;
}
header nav {
  margin: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  letter-spacing: 0.1em;
  padding: 0.5em;
  font-size: 1em;
  max-height: 40vh;
  overflow-y: auto;
}
header nav ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.7em;
}
header nav li {
  display: flex;
  margin-bottom: 1em;
}
header nav li::before {
  content: "✧";
  margin-right: 0.5em;
}
header nav a {
  text-decoration: none;
  padding: 0px 5px 3px 5px;
}

main nav {
  padding: 1.5em;
}
main p:not(li p:first-child) {
  margin-left: 2em;
  padding-right: 2em;
}

#parent-category-name {
  font-size: larger;
  font-weight: 500;
  margin: 0;
}

section, #legend, main nav {
  padding-bottom: 1.5em;
  border: 1px solid rgb(119, 61, 119);
}

article {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  row-gap: 3vh;
}
article nav {
  grid-column: 1;
  grid-row: 1;
  height: -moz-fit-content;
  height: fit-content;
}

#legend {
  padding-top: 0.5em;
  grid-column: 2;
  grid-row: 1;
}
#legend summary {
  margin: 1em 2em 0;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#legend h2 {
  margin-top: 1em;
}

section {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  grid-column: 2;
  font-size: 1.1em;
}
section a {
  -webkit-text-decoration: 1.5px wavy underline;
          text-decoration: 1.5px wavy underline;
}
section p, section ul, section dl {
  line-height: 1.7em;
}
section p:not(ul p), section dl:not(ul dl) {
  margin-left: 3em;
}
section:first-of-type {
  font-size: 1em;
  grid-column: 1;
  grid-row: 2;
  height: -moz-fit-content;
  height: fit-content;
  -moz-column-break-after: always;
       break-after: always;
  position: sticky;
  top: 5%;
  padding-bottom: 0;
}

.table-of-contents {
  overflow-y: auto;
  max-height: 50vh;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0 1em 1em;
}
.table-of-contents li {
  margin-bottom: 0.5em;
}
.table-of-contents ul {
  margin-top: 0.5em;
}
.table-of-contents a {
  text-decoration: none;
}

h2 {
  background-color: rgba(110, 60, 139, 0.233);
  padding: 1em;
  margin: 0;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1em 1.5em;
  margin-top: 0;
  margin-bottom: 1.5em;
  background-color: rgba(216, 112, 147, 0.2);
}
h3:not(h2 + h3) {
  margin-top: 2em;
}

h4, h5 {
  margin-left: 1.5em;
  margin-right: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  font-size: larger;
}

.heading-permalink {
  margin-right: 1em;
}

ul:not(header ul) {
  margin-left: 1em;
  padding-right: 2em;
}
ul:not(header ul) ul {
  margin-left: 0;
}

li p:nth-of-type(2) {
  margin-left: 1em;
}

hr {
  border: 1px dashed pink;
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  font-size: smaller;
  margin-top: 10vh;
  margin-bottom: 3vh;
  padding-left: 1em;
  letter-spacing: 0.05em;
  border-top: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
}
footer time {
  font-weight: 600;
}
footer p {
  margin-left: 1em;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer li {
  display: inline;
  margin-right: 1em;
}
footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 1em;
}
footer li:first-child::before {
  content: none;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  font-weight: 600;
}
a:hover {
  background-color: var(--links-hover-bg);
  color: black;
}

button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  cursor: pointer;
}
button:hover {
  background-color: thistle;
  color: black;
}

#themeSwitch {
  padding: 0.5em;
  margin-bottom: 1em;
}

@media all and (max-width: 1100px) {
  #layout {
    margin-top: 0;
    flex-direction: column;
  }
  header {
    position: relative;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
  }
  header nav {
    text-align: left;
  }
  header nav li {
    display: inline;
    margin-right: 0.5em;
  }
  header nav li:last-child:after {
    content: "✧";
    margin-left: 0.5em;
  }
  main {
    margin-top: 5vh;
  }
  footer {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
  footer p {
    margin-left: -1em;
  }
}
@media all and (max-width: 768px) {
  body {
    width: -moz-fit-content;
    width: fit-content;
  }
  article {
    display: block;
  }
  section {
    border-right: none;
    border-left: none;
    margin-bottom: 3vh;
    font-size: 1em;
  }
  section:first-of-type {
    position: relative;
  }
  #legend, main nav {
    margin: 5vh 5vw;
  }
}
@media all and (max-width: 500px) {
  main {
    width: -moz-fit-content;
    width: fit-content;
  }
}
:root {
  --dark-font: white;
  --light-font: rgb(63, 48, 48);
  --dark-bg: black;
  --light-bg: rgb(232, 221, 235);
  --light-bg-article: ghostwhite;
  --dark-links: rgb(255, 166, 181);
  --dark-links-hover: rgb(255, 234, 176);
  --light-links: rgb(88, 24, 56);
  --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
  }
  section, main nav {
    background-color: var(--dark-bg);
  }
  section:not(:first-of-type) a {
    color: rgb(242, 223, 255);
    text-decoration-color: rgb(184, 128, 163);
  }
  section:not(:first-of-type) a:hover {
    color: white;
    background-color: rgb(95, 7, 73);
  }
  .table-of-contents a {
    color: rgb(230, 142, 201);
  }
  a {
    color: var(--dark-links);
  }
  a:hover {
    color: black;
  }
}
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-font);
}
.dark-mode section, .dark-mode main nav {
  background-color: var(--dark-bg);
}
.dark-mode section:not(:first-of-type) a {
  color: rgb(242, 223, 255);
  text-decoration-color: rgb(184, 128, 163);
}
.dark-mode section:not(:first-of-type) a:hover {
  color: white;
  background-color: rgb(95, 7, 73);
}
.dark-mode .table-of-contents a {
  color: rgb(230, 142, 201);
}
.dark-mode a {
  color: var(--dark-links);
}
.dark-mode a:hover {
  color: black;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--light-font);
  }
  section, #legend, main nav {
    background-color: var(--light-bg-article);
  }
  section:not(:first-of-type) a {
    color: rgb(104, 64, 131);
    text-decoration-color: rgb(179, 115, 179);
  }
  section:not(:first-of-type) a:hover {
    color: white;
    background-color: rgb(134, 61, 116);
  }
  a {
    color: var(--light-links);
  }
  a:hover {
    color: black;
  }
}
.light-mode {
  background-color: var(--light-bg);
  color: var(--light-font);
}
.light-mode section, .light-mode #legend, .light-mode main nav {
  background-color: var(--light-bg-article);
}
.light-mode section:not(:first-of-type) a {
  color: rgb(104, 64, 131);
  text-decoration-color: rgb(179, 115, 179);
}
.light-mode section:not(:first-of-type) a:hover {
  color: white;
  background-color: rgb(134, 61, 116);
}
.light-mode a {
  color: var(--light-links);
}
.light-mode a:hover {
  color: black;
}/*# sourceMappingURL=content_A2.css.map */