@charset "UTF-8";
/* resources index */
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(184, 140, 184) transparent;
  scrollbar-width: thin;
}

html {
  text-rendering: optimizeLegibility;
}

@-moz-document url-prefix() {
  body {
    font-weight: 450 !important;
  }
}
body {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.25s ease-out;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 118, 170);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

:root {
  --links-hover-bg: white;
}

body {
  font-size: 1.1em;
  margin: auto;
  width: 90%;
  max-width: 1300px;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
}

header {
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 5%;
  align-self: flex-start;
  position: sticky;
  top: 2em;
}
header h1 {
  font-size: 1.75em;
  letter-spacing: 0.05em;
}
header time {
  font-weight: 600;
  display: block;
}
header nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  letter-spacing: 0.1em;
  padding: 0.25em;
}
header nav ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.7em;
}
header nav li {
  display: flex;
  margin-bottom: 0.5em;
}
header nav li::before {
  content: "✧";
  margin-right: 0.5em;
}
header nav a {
  text-decoration: none;
  padding: 0px 5px 3px 5px;
}

#themeSwitch {
  padding: 0.5em;
  margin-bottom: 1em;
  width: -moz-fit-content;
  width: fit-content;
  order: -1;
}

#left-col-group {
  display: flex;
  flex-direction: row;
}

#legend {
  padding: 1em 2em;
  margin-bottom: 1em;
  border: 2px dashed rgb(141, 102, 141);
}
#legend h2 {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  -webkit-text-decoration: 1.5px wavy underline rgb(167, 121, 168);
          text-decoration: 1.5px wavy underline rgb(167, 121, 168);
  text-underline-offset: 0.5em;
  letter-spacing: 0.2em;
}
#legend li p {
  font-size: 1em;
}

#guide {
  margin-right: 5%;
  margin-bottom: 5% !important;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#guide h2 {
  background-color: transparent !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}
#guide ol, #guide ul {
  padding-left: 1em;
}
#guide li {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 1em;
}
#guide li:first-child {
  margin-top: 1em;
}

main {
  line-height: 1.6em;
  letter-spacing: 0.01em;
}
main h2:not(#legend h2) {
  background-color: rgba(110, 60, 139, 0.233);
  padding: 1em;
  margin-top: 0;
}
main h2:not(#legend h2):nth-of-type(2n) {
  text-align: right;
}
main h2:not(#legend h2) + p {
  margin: 2em;
  font-style: italic;
}
main h2:not(#legend h2) + p::before {
  content: "→";
  margin-right: 0.5em;
}

article {
  border: 1px solid rgb(143, 117, 143);
  padding-bottom: 1em;
}
article ul {
  margin-bottom: 2em;
  padding-right: 2em;
}
article li p:first-child {
  font-size: 1.2em;
}
article > p:first-child {
  padding: 1em 2em;
}

details p {
  margin-left: 3em;
}

footer {
  font-size: smaller;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 7em;
  margin-bottom: 3em;
  letter-spacing: 0.05em;
  border-top: 1px solid;
}
footer time {
  font-weight: 600;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer li {
  display: inline-block;
  margin-right: 1em;
}
footer li:nth-child(1)::before {
  content: none;
}
footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 1em;
}

hr {
  border: 1px dashed pink;
  margin-top: 2em;
  margin-bottom: 2em;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  font-weight: 600;
}
a:hover {
  background-color: var(--links-hover-bg);
  color: black;
}

button {
  font: inherit;
  background-color: inherit;
  color: inherit;
  border: 1px solid;
  cursor: pointer;
}
button:hover {
  background-color: thistle;
  color: black;
}

@media all and (min-width: 1400px) {
  main li {
    margin-left: 1em;
    margin-bottom: 2em;
  }
  main li p:not(:first-child) {
    margin-left: 2em;
  }
  main li details {
    margin-left: 2em;
  }
}
@media all and (min-width: 1100px) {
  main {
    max-width: 75vw;
  }
}
@media all and (max-width: 1100px) {
  #left-col-group {
    flex-direction: column;
  }
  #guide {
    position: static !important;
    top: 0;
    width: 80%;
    margin: auto;
    margin-left: 10vw;
    font-size: larger;
  }
}
@media all and (min-width: 1000px) {
  main ul {
    margin-top: 2em;
  }
  main li p:not(:first-child) {
    margin-left: 1em;
  }
  main li details {
    margin-left: 1em;
  }
}
@media all and (min-width: 768px) {
  #guide {
    width: 60%;
    top: 2em;
    position: sticky;
    align-self: flex-start;
  }
}
@media all and (max-width: 768px) {
  body {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 5%;
    flex-direction: column;
  }
  header {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    position: relative;
    top: 0;
  }
  header nav li {
    display: inline-flex;
    margin-right: 0.5em;
  }
  header nav li:last-child::after {
    content: "✧";
    margin-left: 0.5em;
  }
  #themeSwitch {
    margin-left: auto;
  }
  main {
    max-width: 100vw;
    margin: auto;
    margin-top: 5%;
  }
  main h2:not(#legend h2) {
    font-size: 1.75em;
  }
  article {
    border-left: none;
    border-right: none;
  }
  #legend {
    width: 70vw;
    margin: auto;
    margin-bottom: 10vh;
  }
  #guide {
    font-size: 1.2em;
    border-top: 8px double rgba(122, 90, 122, 0.479);
    border-bottom: 8px double rgba(122, 90, 122, 0.479);
    padding-bottom: 1em;
    min-width: 80vw;
  }
  #guide li {
    margin-left: 1em;
  }
  footer {
    font-size: inherit;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }
}
:root {
  --dark-font: white;
  --light-font: rgb(63, 48, 48);
  --dark-bg: black;
  --light-bg: rgb(232, 221, 235);
  --light-bg-article: ghostwhite;
  --dark-links: rgb(255, 166, 181);
  --dark-links-hover: rgb(255, 234, 176);
  --light-links: rgb(88, 24, 56);
  --light-links-hover: rgb(140, 42, 221);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-font);
  }
  article, #legend {
    background-color: var(--dark-bg);
  }
  a {
    color: var(--dark-links);
  }
  a:hover {
    color: black;
  }
}
.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-font);
}
.dark-mode article, .dark-mode #legend {
  background-color: var(--dark-bg);
}
.dark-mode a {
  color: var(--dark-links);
}
.dark-mode a:hover {
  color: black;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--light-font);
  }
  article, #legend {
    background-color: var(--light-bg-article);
  }
  a {
    color: var(--light-links);
  }
  a:hover {
    color: black;
  }
}
.light-mode {
  background-color: var(--light-bg);
  color: var(--light-font);
}
.light-mode article, .light-mode #legend {
  background-color: var(--light-bg-article);
}
.light-mode a {
  color: var(--light-links);
}
.light-mode a:hover {
  color: black;
}/*# sourceMappingURL=content_A1.css.map */