@charset "UTF-8";
/* subscription form */
@font-face {
  font-family: "Besley";
  font-display: swap;
  src: url("/_assets/fonts/Besley/Besley-VariableFont_wght.woff2") format("woff2"), url("/_assets/fonts/Besley/Besley.woff") format("woff"), url("/_assets/fonts/Besley/Besley-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  src: url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Inconsolata/Inconsolata.woff") format("woff"), url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.ttf") format("truetype");
}
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
:root {
  --font-1: "Instrument Sans", sans-serif;
  --font-2: "Besley", serif;
  --font-3: "Inconsolata", monospace;
  --font-color-light: #4e494e;
  --h1-light: #5a5463;
  --h2-light: #794668;
  --link-color-light: darkmagenta;
  --link-hover-bg-light: rgb(216, 112, 147);
  --document-color-light: thistle;
  --page-color-light: #fff6f6;
  --theme-toggle-bg: #e3d7e9;
  --theme-toggle-hover-bg: #b084bd;
  --theme-toggle-active-bg: #8b4f61;
  --theme-toggle-focus-bg: #a175c5;
  --page-bg-dark: rgb(24, 24, 26);
  --dark-mode-links: rgb(255, 192, 216);
  --link-hover-bg-dark: rgba(216, 112, 147, .5);
  --dark-mode-h: rgb(223, 154, 236);
  --dark-button-bg: #463646;
}

* {
  scrollbar-color: rgb(184, 140, 184) transparent;
  scrollbar-width: thin;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-1);
  font-size: 1.2em;
  font-stretch: 95%;
  margin: auto;
}

.layout {
  width: 80%;
  max-width: 1000px;
  margin: 1em auto 3em;
  border: 1px solid;
}

nav {
  font-weight: 500;
}

hr {
  margin: 2em 0;
}

footer {
  margin: auto;
  padding: 1em;
  border-top: 1px solid;
  text-align: center;
  font-size: 0.9em;
  font-stretch: semi-expanded;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer li:first-child:before {
  content: none;
}

footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 15px;
}

footer li {
  display: inline-block;
  margin-right: 15px;
}

footer time {
  display: inline;
}

footer a img {
  text-decoration: none;
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: none;
  color: white !important;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid;
  border-radius: 10px;
  font-family: var(--font-3);
  font-size: larger;
}

button, button:active, button:hover, button:focus {
  transition: all 0.5s ease;
}

#themeSwitch {
  padding: 0.5em;
  border-radius: 0px;
  border: 1px solid #8e629b;
  height: -moz-fit-content;
  height: fit-content;
  font-size: smaller;
  margin: auto 0;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 118, 170);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

@media all and (max-width: 900px) {
  .layout {
    margin-top: 0;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  article {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  h2, p {
    text-align: center;
  }
  footer {
    width: 90%;
  }
}
@media all and (max-width: 768px) {
  #header-controls {
    flex-direction: column;
  }
  h1 {
    text-align: center;
  }
  #themeSwitch {
    margin: auto;
  }
  nav {
    padding-left: 5%;
    overflow-x: auto;
    white-space: nowrap;
    font-size: smaller;
  }
  nav::-webkit-scrollbar-thumb {
    background-color: rgba(255, 192, 203, 0.445);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
  .layout {
    background-color: rgb(10, 10, 10);
    border-color: #463646;
  }
  header nav {
    border-color: #463646;
  }
  article > section {
    background-color: rgb(20, 20, 20);
  }
  section:hover h2 {
    color: rgb(255, 142, 198);
  }
  footer {
    border-color: #463646;
  }
  h2, h3 {
    color: var(--dark-mode-h);
  }
  a {
    color: var(--dark-mode-links);
  }
  a:hover {
    color: white;
    background-color: var(--link-hover-bg-dark);
  }
  button {
    background-color: var(--dark-button-bg);
    color: rgb(230, 214, 236);
  }
  button:hover {
    background-color: #712357;
  }
  button:active {
    background-color: rgb(207, 102, 102);
    color: white;
  }
  button:focus {
    background-color: #8b4f61;
  }
}
.dark-mode {
  color: white;
  background-color: black;
}
.dark-mode .layout {
  background-color: rgb(10, 10, 10);
  border-color: #463646;
}
.dark-mode header nav {
  border-color: #463646;
}
.dark-mode article > section {
  background-color: rgb(20, 20, 20);
}
.dark-mode section:hover h2 {
  color: rgb(255, 142, 198);
}
.dark-mode footer {
  border-color: #463646;
}
.dark-mode h2, .dark-mode h3 {
  color: var(--dark-mode-h);
}
.dark-mode a {
  color: var(--dark-mode-links);
}
.dark-mode a:hover {
  color: white;
  background-color: var(--link-hover-bg-dark);
}
.dark-mode button {
  background-color: var(--dark-button-bg);
  color: rgb(230, 214, 236);
}
.dark-mode button:hover {
  background-color: #712357;
}
.dark-mode button:active {
  background-color: rgb(207, 102, 102);
  color: white;
}
.dark-mode button:focus {
  background-color: #8b4f61;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--document-color-light);
    color: var(--font-color-light);
  }
}
.light-mode {
  background-color: var(--document-color-light);
  color: var(--font-color-light);
}
.light-mode .layout {
  background-color: var(--page-color-light);
}
.light-mode article > section {
  background-color: var(--page-color-light);
}
.light-mode section:hover h2 {
  color: rgb(192, 90, 107);
}
.light-mode h1 {
  color: var(--h1-light);
}
.light-mode h2 {
  color: var(--h2-light);
}
.light-mode a {
  color: var(--link-color-light);
}
.light-mode a:hover {
  background-color: var(--link-hover-bg-light);
  color: white;
}
.light-mode button {
  background-color: #f5e9f5;
  color: rgb(51, 44, 44);
}
.light-mode button:hover {
  background-color: lightgoldenrodyellow;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* animations */
header, main, footer {
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

nav {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-size: 1.15em;
  font-weight: normal;
  letter-spacing: 1px;
}
nav ul {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
nav li {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  white-space: nowrap;
}
nav li:last-child::after {
  content: "✧";
  font-size: 1.3em;
  margin-left: 0.5em;
  color: pink;
  font-weight: normal;
}
nav li::before {
  content: "✧";
  font-size: 1.3em;
  margin-right: 0.5em;
  color: pink;
  font-weight: normal;
}
nav a {
  text-decoration: none;
  color: purple;
  padding: 0px 5px 3px 5px;
}
nav::-webkit-scrollbar-thumb {
  background-color: rgba(161, 117, 197, 0.4509803922);
}

main {
  margin: auto;
  background: url("/_assets/media/main/ooorganize.svg");
  background-size: 200px;
}

article {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 6fr;
  gap: 5vw;
  padding: 5%;
  font-weight: 450;
}
article > section {
  padding: 0 2em 1em;
  border: 1px solid;
  border-color: purple;
  box-shadow: 0px 0px 15px rgba(128, 77, 167, 0.1450980392);
  transition: all 0.25s ease;
}
article > section:hover {
  box-shadow: 0px 0px 25px rgba(255, 192, 203, 0.747);
  filter: brightness(101%);
  border-color: thistle;
}

[aria-labelledby=social-media] {
  grid-column: 1;
  grid-row: 1;
}

[aria-labelledby=rss] {
  grid-column: 1;
  grid-row: 2;
  height: 1fr;
}

[aria-labelledby=newsletter] {
  grid-column: 2;
  grid-row-end: span 2;
}

#header-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
}

h1 {
  font-size: 2em;
  font-family: var(--font-2);
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 0.25em;
  line-height: 1.25em;
  text-align: right;
}

#headernav #feeds a {
  -webkit-text-decoration: wavy underline 1px;
          text-decoration: wavy underline 1px;
}

h2 {
  font-family: var(--font-2);
  text-align: right;
  border-bottom: 1px solid;
  margin: 0.75em -0.5em auto;
  padding-bottom: 0.25em;
  transition: color 0.5s ease;
}

.like-buttons {
  list-style: none;
  font-size: larger;
  font-family: var(--font-3);
  text-align: center;
  margin-left: 0;
  padding-left: 0;
}
.like-buttons li {
  margin: 1.5em auto;
}
.like-buttons a {
  padding: 0.5em;
  border: 1px solid;
  display: block;
  margin: auto;
  color: rgb(60, 25, 77) !important;
  background-color: #dbc2db;
}
.like-buttons a:hover {
  background-color: #694677 !important;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
form label {
  font-stretch: semi-expanded;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1em;
}
form input {
  font-size: 1em;
  font-family: var(--font-3);
  padding: 0.5em;
  width: 90%;
}
form span + input {
  margin-top: 1em;
}
form footer {
  margin: 1em auto 1em -1em;
  padding-top: 1.5em;
  padding-bottom: 0;
  border-top: 1px dashed;
  width: 100%;
}
form button {
  margin: 0 auto 1em;
}

.label-group {
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 1em;
}/*# sourceMappingURL=feeds.css.map */