@import url("cactus-chat.css");
@font-face {
  font-family: "Besley";
  font-display: swap;
  src: url("/_assets/fonts/Besley/Besley-VariableFont_wght.woff2") format("woff2"), url("/_assets/fonts/Besley/Besley.woff") format("woff"), url("/_assets/fonts/Besley/Besley-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Instrument Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 90vw;
}

header {
  grid-row: 1;
  margin-top: 3vh;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  margin: auto;
}

h1 {
  font-family: "Besley", serif;
}

main {
  grid-row: 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  opacity: 0;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.form {
  position: sticky;
  top: 8vh;
  align-self: self-start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.form .dialog {
  border: 1px solid;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
  margin: 2em auto;
}
.form h2 + p {
  width: 70%;
}

form {
  display: grid;
  row-gap: 0.5em;
}
form input, form textarea {
  padding: 0.5em;
  margin-bottom: 1em;
}
form label:nth-of-type(1), form input:nth-of-type(1) {
  grid-row: 1;
}
form label:nth-of-type(2), form input:nth-of-type(2) {
  grid-row: 2;
}
form label:nth-of-type(3), form input:nth-of-type(3) {
  grid-row: 3;
}
form label:nth-of-type(4), form input:nth-of-type(4) {
  grid-row: 4;
}
form label {
  font-size: larger;
  font-weight: 600;
  grid-column: 1;
}
form label::after {
  margin-left: 0.25em;
}
form label[for=message] {
  grid-column: span 5;
}
form label[for=message]::after {
  content: "*";
  color: red;
  font-size: larger;
}
form label[for=message] ~ textarea, form label[for=message] ~ span {
  grid-column: span 5;
}
form input {
  grid-column: 2/6;
}
form input[type=submit] {
  grid-row: 7;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  margin-right: 0;
}
form textarea {
  height: 12vh;
}

.messages {
  grid-column: 2;
}
.messages nav {
  text-align: center;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
}
.messages nav span {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 1em;
}
.messages nav .current a {
  color: red;
}

.message {
  margin-bottom: 3em;
  font-size: smaller;
}

.message-content {
  font-size: larger;
  margin-left: 1em;
}
.message-content + footer {
  text-align: right;
}

main + footer {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
}
main + footer ul {
  display: flex;
}
main + footer li {
  display: flex;
  text-align: right;
  margin-left: auto;
}/*# sourceMappingURL=guestbook.css.map */