:root {
  --site-updates-bg-light: #fff5f5;
  --overflow-bg-light: rgb(255, 244, 246);
  --overflow-border: 1px solid rgb(170, 99, 111);
}

#themeSwitch {
  margin: auto 0;
  font-family: var(--font-3);
  font-size: 1em;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  border: 1px solid #8e629b;
}

@media all and (max-width: 768px) {
  #themeSwitch {
    font-size: larger;
    margin-top: 0;
  }
}
.notice-group {
  position: absolute;
  top: 25vh;
  right: 2vw;
  z-index: 2;
  font-family: var(--font-3);
}
.notice-group #pin {
  background-color: transparent;
}
.notice-group #pin:hover {
  background-color: transparent;
}
.notice-group button {
  color: inherit;
  border: none;
  font-size: 2em;
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s;
}
.notice-group button:hover {
  transform: translatey(-5px);
}
.notice-group ::-webkit-scrollbar-thumb {
  background-color: rgb(202, 172, 97);
}

#notice {
  border: 1px solid goldenrod;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.1);
  margin: 15% 5% 0 0;
  text-align: center;
  max-width: 200px;
  max-height: 300px;
  overflow-y: auto;
  color: var(--sticky-note-font);
  background-color: var(--sticky-note-bg);
  scrollbar-color: rgba(184, 145, 94, 0.692) rgba(250, 240, 230, 0.192);
  transition: transform 0.3s;
}
#notice img {
  border: 3px solid white;
  outline: 1px solid gray;
  -o-object-fit: none;
     object-fit: none;
  width: 80%;
  filter: brightness(120%);
}
#notice figure {
  margin: auto;
}
#notice figcaption {
  margin: 1em;
}
#notice p {
  padding: 0 1em;
}
#notice p:first-child {
  font-size: x-large;
}
#notice:hover {
  transform: translatey(-5px);
}
#notice hr {
  border-color: goldenrod;
}

#pluto {
  -o-object-position: right;
     object-position: right;
}

#pretzel {
  -o-object-position: left;
     object-position: left;
}

:root .light-mode {
  --sticky-note-bg: cornsilk;
}

.light-mode {
  font-weight: 500;
  color: var(--font-color-light);
  background-color: var(--document-color-light);
}
.light-mode a {
  color: var(--link-color-light);
}
.light-mode a:hover {
  background-color: rgba(128, 0, 128, 0.5);
  color: white;
}
.light-mode button,
.light-mode .button-style {
  background-color: #f5e9f5;
  color: rgb(51, 44, 44);
}
.light-mode button:hover,
.light-mode .button-style:hover {
  background-color: lightgoldenrodyellow;
  color: rgb(51, 44, 44);
}
.light-mode button a:hover,
.light-mode .button-style a:hover {
  color: rgb(51, 44, 44);
}
.light-mode .layout {
  background-color: var(--page-color-light);
}
.light-mode header nav {
  border-top: 1px solid rgb(82, 70, 82);
  border-bottom: 1px solid rgb(82, 70, 82);
}
.light-mode h1,
.light-mode header p {
  color: var(--h1-light);
}
.light-mode article {
  background: url("/_assets/media/_shared/css/ooorganize.svg");
}
.light-mode article > section {
  background-color: var(--section-card-light);
  color: var(--font-color-light);
}
.light-mode .h-card {
  background: url("/_assets/media/_shared/css/bank-note.svg");
  background-color: snow;
  text-shadow: 0 0 5px white;
}
.light-mode h2 {
  color: var(--h2-light);
}
.light-mode h3 {
  color: var(--h3-light);
}
.light-mode .time {
  background-color: var(--time-bg);
  color: var(--time-font-color);
  border-bottom: var(--time-border-bottom);
  border-right: var(--time-border-right);
}
.light-mode .clock {
  color: mintcream;
}
.light-mode .last-played {
  background-color: var(--last-played-bg);
  border-bottom: var(--last-played-border-bottom);
  border-right: var(--last-played-border-right);
}
.light-mode .last-played h2 {
  color: #5a4f8b;
}
.light-mode #track {
  background-color: linen;
}
.light-mode #latest-status {
  background: url("/_assets/media/_shared/css/line-in-motion.svg") rgb(238, 225, 238);
}
.light-mode #statuscafe {
  background-color: snow;
  color: black;
}
.light-mode #statuscafe-content {
  background-color: rgb(243, 242, 247);
  color: rgb(24, 14, 39);
}
.light-mode .site-updates {
  background-color: #e0e9dc;
  color: rgb(4, 32, 4);
  /*& .overflow {
      background-color: rgb(241, 241, 241);
  }*/
}
.light-mode .site-updates h2,
.light-mode .site-updates h3 {
  color: rgb(4, 32, 4);
}
.light-mode .overflow {
  background-color: var(--overflow-bg-light);
}
.light-mode .web-rings {
  background-color: var(--web-rings-card);
  color: var(--web-rings-font);
}
.light-mode .web-rings h2 {
  color: var(--web-rings-font);
}
.light-mode .web-rings a {
  color: var(--web-rings-links);
}
.light-mode .web-rings a:hover {
  color: white;
}
.light-mode .web-rings details p {
  background-color: white;
  color: var(--font-color-light);
}
.light-mode .web-rings-list {
  background-color: var(--web-rings-bg-light);
  color: var(--web-rings-font);
}
.light-mode .web-rings-list a {
  color: var(--web-rings-links);
}
.light-mode .guestbook {
  background-color: #ffe1f5;
}
.light-mode .guestbook h2,
.light-mode .guestbook h3 {
  color: rgb(153, 32, 127);
}
.light-mode footer {
  color: var(--footer-font);
}

:root .dark-mode {
  --sticky-note-bg: var(--section-card-dark);
  --sticky-note-font: white;
}

.dark-mode {
  color: white;
  background-color: black;
  font-weight: normal;
}
.dark-mode header,
.dark-mode #statuscafe-content,
.dark-mode .web-rings,
.dark-mode .time,
.dark-mode .web-rings details p,
.dark-mode footer {
  color: white;
}
.dark-mode header nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--page-border-dark);
}
.dark-mode header nav a {
  color: var(--dark-mode-links);
}
.dark-mode h2,
.dark-mode h3 {
  color: rgb(223, 154, 236);
}
.dark-mode a,
.dark-mode .web-rings a {
  color: var(--dark-mode-links);
}
.dark-mode a:hover {
  background-color: var(--link-hover-bg-dark);
  color: white;
}
.dark-mode button,
.dark-mode .button-style {
  background-color: var(--dark-button-bg);
  color: rgb(230, 214, 236);
}
.dark-mode button:hover,
.dark-mode .button-style:hover {
  background-color: #712357;
}
.dark-mode button:active,
.dark-mode .button-style:active {
  background-color: rgb(207, 102, 102);
  color: white;
}
.dark-mode button:focus,
.dark-mode .button-style:focus {
  background-color: #8b4f61;
}
.dark-mode .layout {
  background-color: var(--page-bg-dark);
  border-color: var(--page-border-dark);
}
.dark-mode article {
  background: url("/_assets/media/_shared/css/ooorganize-dark.svg");
}
.dark-mode article > section,
.dark-mode #statuscafe,
.dark-mode .time,
.dark-mode .web-rings,
.dark-mode .web-rings details p,
.dark-mode .web-rings-list {
  background-color: var(--section-card-dark);
  color: white;
}
.dark-mode .h-card {
  background-image: url("/_assets/media/_shared/css/bank-note-dark.svg");
  text-shadow: 0 0 5px black;
  background-color: var(--section-card-dark);
}
.dark-mode .time {
  border-bottom: 5px outset rgb(58, 58, 88);
  border-right: 5px outset rgb(67, 67, 102);
}
.dark-mode #latest-status {
  background: url("/_assets/media/_shared/css/line-in-motion-dark.svg") rgb(52, 39, 58);
}
.dark-mode #statuscafe-content {
  background-color: rgba(255, 255, 255, 0.1);
}
.dark-mode .last-played {
  background-color: var(--last-played-dark-bg);
  border-bottom: var(--last-played-dark-b-border);
  border-right: var(--last-played-dark-r-border);
}
.dark-mode .last-played h2 {
  color: rgb(170, 195, 212);
}
.dark-mode #track {
  background-color: #232629;
}
.dark-mode .site-updates h2,
.dark-mode .site-updates h3 {
  color: rgb(179, 216, 179);
}
.dark-mode .web-rings h2 {
  color: #aa8cdb;
}
.dark-mode .guestbook h2 {
  color: rgb(253, 188, 255);
}
.dark-mode .guestbook h3 {
  color: #f2c7ff;
}
.dark-mode .guestbook blockquote {
  font-weight: 500;
}
.dark-mode .overflow {
  background-color: transparent;
}/*# sourceMappingURL=home_theme.css.map */