@charset "UTF-8";
/* home page */
@font-face {
  font-family: "Besley";
  font-display: swap;
  src: url("/_assets/fonts/Besley/Besley-VariableFont_wght.woff2") format("woff2"), url("/_assets/fonts/Besley/Besley.woff") format("woff"), url("/_assets/fonts/Besley/Besley-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-display: swap;
  src: url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Inconsolata/Inconsolata.woff") format("woff"), url("/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.ttf") format("truetype");
}
@font-face {
  font-family: "Instrument Sans";
  font-display: swap;
  src: url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2") format("woff2"), url("/_assets/fonts/Instrument_Sans/InstrumentSans.woff") format("woff"), url("/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.ttf") format("truetype");
}
:root {
  --font-1: "Instrument Sans", sans-serif;
  --font-2: "Besley", serif;
  --font-3: "Inconsolata", monospace;
  --font-color-light: #4e494e;
  --h1-light: #5a5463;
  --h2-light: #712357;
  --h3-light: #631863;
  --link-color-light: darkmagenta;
  --link-hover-bg-color-light: rgba(216, 112, 147, .5);
  --document-color-light: thistle;
  --page-color-light: #fff6f6;
  --section-card-light: rgb(255, 239, 239);
  --footer-font: rgb(97, 58, 97);
  --page-bg-dark: rgb(13, 13, 14);
  --page-border-dark: #503281;
  --section-card-dark: hsl(255, 5%, 16%);
  --dark-mode-links: rgb(255, 192, 216);
  --link-hover-bg-dark: rgb(170, 92, 118);
  --dark-mode-h: rgb(223, 154, 236);
  --dark-button-bg: #463646;
}

* {
  scrollbar-color: rgb(184, 140, 184) transparent;
  scrollbar-width: thin;
}

body {
  color: white;
  background-color: rgb(56, 49, 56);
  transition: background-color 0.25s ease-out;
}

a {
  color: plum;
}

nav {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.15em;
  font-weight: normal;
  letter-spacing: 1px;
}
nav ul {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
nav li {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  white-space: nowrap;
}
nav li:last-child::after {
  content: "✧";
  font-size: 1.3em;
  margin-left: 0.5em;
  color: pink;
  font-weight: normal;
}
nav li::before {
  content: "✧";
  font-size: 1.3em;
  margin-right: 0.5em;
  color: pink;
  font-weight: normal;
}
nav a {
  text-decoration: none;
  padding: 0px 5px 3px 5px;
}
nav::-webkit-scrollbar-thumb {
  background-color: rgba(161, 117, 197, 0.451);
}

footer {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
  text-align: center;
  font-size: 1em;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 500px;
}
footer time {
  display: inline;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer li {
  display: inline-block;
  margin-right: 15px;
}
footer li::before {
  content: "⬩";
  font-size: 1.25em;
  margin-right: 15px;
}
footer li:first-child:before {
  content: none;
}
footer a img {
  text-decoration: none;
}

button {
  cursor: pointer;
}

::-moz-selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(164, 118, 170);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translatey(-10px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
@keyframes fadeInPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  display: block;
  position: absolute;
  width: 100%;
  min-width: none;
  max-width: none;
  overflow: hidden;
  top: 30vh;
  left: auto;
  right: auto;
  margin: auto;
  font-size: x-large;
  text-align: center;
  z-index: 1;
  /*p {
      filter: drop-shadow(.1em .1em 5px rgb(255, 215, 222)) drop-shadow(-.1em -.1em 5px rgb(255, 215, 222));
  }*/
}
.loader button {
  display: block;
  font-family: inherit;
  margin: 3vh auto;
  padding: 0.5em;
  border: 1px solid;
}

.layout {
  opacity: 0;
}

/* animations */
article > section {
  transition: transform 0.3s;
}
article > section:hover {
  transform: translatey(-5px);
}

body {
  font-family: var(--font-1);
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.005em;
  margin: auto;
}
body ::-webkit-scrollbar-thumb {
  background-color: pink;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

.layout {
  border: 1px solid;
  border-color: #8e629b;
  box-shadow: 5px 5px 10px rgba(128, 0, 128, 0.1);
  margin: 5% auto auto;
  max-width: 1200px;
}

header {
  font-weight: normal;
}
header .top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 5%;
  padding: 3vh 0;
}
header hgroup p {
  font-family: var(--font-2);
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-top: 0;
  opacity: 0.9;
}
header .ascii-img {
  vertical-align: middle;
}

h1 {
  font-size: 2.5em;
  font-family: var(--font-2);
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

nav #home a {
  -webkit-text-decoration: wavy underline 1px;
          text-decoration: wavy underline 1px;
}

main {
  margin: auto;
}
main a {
  font-weight: 600;
}

article {
  -moz-columns: 3;
       columns: 3;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  background-size: 200px !important;
  padding: 5vh 5vw;
}

article > section {
  padding: 1em;
  margin: 0 auto 75px;
  border: 1px solid rgb(190, 133, 141);
  border-radius: 15px;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
article > section ul {
  padding-left: 1em;
  padding-top: 1em;
  margin-top: 0;
}
article > section li {
  margin-bottom: 1em;
}
article > section button {
  padding: 1em;
  border: 1px solid;
  border-radius: 50px;
  font-family: var(--font-3);
}
article > section footer {
  width: 100%;
  text-align: left;
  margin-top: 2em;
  padding: 1em 0px 1.5em;
  border-top: 1px dashed thistle;
}

.overflow {
  max-height: 30vh;
  overflow-y: auto;
  padding-right: 1em;
  padding-left: 1em;
  margin-top: 1em;
}

h2 {
  margin: 0;
  padding: 0.25em 0 0.5em;
  font-size: 1.25em;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: 600;
  margin-bottom: 0;
}

a {
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: none;
}

.button-style {
  text-decoration: none;
  display: block;
  border: 1px solid;
  padding: 0.5em;
  font-family: var(--font-3);
}

.h-card {
  border: 1px solid rgb(183, 124, 189);
  aspect-ratio: 6/10;
  font-size: 1.1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.5em 1em;
  overflow: auto;
}

/* h2 */
#webmaster-identity {
  border: none;
  font-variant: small-caps;
  letter-spacing: 1px;
  font-size: 1.4em;
  grid-row: 1;
  grid-column: span 4;
}

.u-photo {
  grid-column: span 3;
  grid-row: 2/5;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.u-featured {
  width: 290px;
  height: 341px;
}

/* JS flower */
#surprise {
  grid-column: 4;
  grid-row: 4;
}

.flower {
  grid-column: 4;
  width: 100%;
  height: auto;
  /* sass: start from 2, because the javascript flower comes first in the DOM, for whatever weird reason... */
}
.flower:nth-of-type(2) {
  grid-row: 2;
}
.flower:nth-of-type(3) {
  grid-row: 3;
}

.p-note {
  grid-column: span 4;
  grid-row: 5;
  letter-spacing: 0.025em;
  font-size: 1em;
}
.p-note ul {
  list-style: none;
  padding: 0;
  padding-left: 0.5em;
  margin: 0;
}
.p-note li {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}
.p-note li span:first-of-type {
  width: 1em;
  text-align: center;
  margin-right: 1em;
}

/* holds metadata for bridgy */
.hidden {
  display: none;
}

.barcode {
  grid-row: 6;
  grid-column: 2/5;
  margin-top: 0;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  border-top: 0;
  display: block;
}

#surprise button:active, #surprise button :focus, #surprise button :hover {
  filter: hue-rotate(100deg) contrast(150%) saturate(50%);
}
#surprise .flower:hover {
  filter: hue-rotate(100deg) contrast(150%) saturate(50%);
}

.note {
  border-radius: initial;
}
.note p {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.05em;
}

time {
  font-weight: 600;
}

hr {
  margin: auto;
  border: 1px dashed plum;
}

:root {
  --time-bg: lavender;
  --time-font-color: rgb(104, 92, 124);
  --time-border-bottom: 5px outset rgb(199, 199, 236);
  --time-border-right: 5px outset rgb(242, 242, 255);
}

.time {
  border-radius: 10px;
  text-align: center;
  padding: 0.25em 1em;
  border-bottom: var(--time-border-bottom);
  border-right: var(--time-border-right);
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  font-size: 1.1em;
  max-width: 270px;
  aspect-ratio: 1.15/1;
  display: flex;
  flex-direction: column;
}
.time footer {
  border: none;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

#current-time {
  border: none;
  color: inherit;
  font-size: 1em;
  padding: 1em 0;
  font-weight: 500;
}

.p-locality {
  font-size: 1.3em;
}

.clock {
  color: mintcream;
  background-color: #374048;
  border-top: 3px inset gray;
  border-left: 3px inset gray;
  margin: auto;
  overflow: clip;
  font-size: 3.5em;
  line-height: 1.5em;
  min-height: 50px;
  width: 80%;
  letter-spacing: 0.075em;
  display: block;
}

:root {
  --last-played-bg: #b8dce0;
  --last-played-border-right: 10px outset rgb(189, 235, 232);
  --last-played-border-bottom: 10px outset rgb(155, 211, 207);
  --last-played-shadow: 10px 10px rgba(98, 136, 194, 0.5);
  --last-played-outline: 1px solid rgb(125, 143, 137);
  --last-played-dark-bg: rgb(63, 85, 85);
  --last-played-dark-r-border: 10px outset rgb(77, 90, 88);
  --last-played-dark-b-border: 10px outset rgb(40, 44, 44);
}

.last-played {
  max-width: 225px;
  font-size: 1.1em;
  outline: var(--last-played-outline);
  text-align: center;
  padding-bottom: 5px;
  border-top: none;
  border-left: none;
}
.last-played .button-style {
  font-size: smaller;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0.75em 1em;
  border: 1px solid green !important;
}
.last-played footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 15px 0px;
  border: 1px solid rgb(146, 162, 180);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: inherit;
}

#last-played {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-variant: small-caps;
  border-color: rgb(79, 170, 161);
  font-family: var(--font-1);
}

#track {
  padding-top: 0.5em;
  border: 1px solid rgb(113, 135, 160);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: var(--font-3);
  overflow-x: hidden;
}

#song {
  white-space: nowrap;
  transform: translateX(0);
  animation: scroll 15s linear infinite;
  font-weight: 500;
  font-size: larger;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}
@media (prefers-reduced-motion) {
  #song {
    white-space: normal;
    animation-play-state: paused;
  }
}
#js-toggle {
  padding: 0.6em 1em;
  font: inherit;
  font-weight: 600;
  font-stretch: semi-expanded;
  border: 1px solid green;
  border-radius: 5px;
}

.latest-status {
  padding: 0;
  border: 1px solid;
  border-radius: 0;
}
.latest-status footer {
  margin: 1.5em auto 0;
  text-align: center;
  padding-bottom: 0;
}

#latest-status {
  border-bottom: 1px solid;
  padding: 1em;
}

#statuscafe {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 1.1em;
}

#statuscafe-username {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 600;
}

#statuscafe-content {
  padding: 0.5em;
  font-family: var(--font-3);
  font-size: 1.1em;
  min-height: 75px;
  word-wrap: break-word;
}

.site-updates p {
  text-align: center;
}
.site-updates p span {
  display: block;
  font-size: x-large;
  font-weight: 600;
  font-family: var(--font-3);
}

#tip-jar + ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
#tip-jar + ul .button-style {
  border-radius: 10px;
  font-size: 1.25em;
  margin: auto;
  margin-top: 0.5em;
}

:root {
  --web-rings-card: #f5ddff;
  --web-rings-font: rgb(92, 39, 92);
  --web-rings-links: rgb(122, 78, 180);
  --web-rings-bg-light: rgb(255, 233, 251);
}

.web-rings {
  border-color: purple;
}
.web-rings h2 {
  border-color: blueviolet;
}
.web-rings details p {
  text-align: left;
  position: absolute;
  border: 1px solid;
  color: black;
  padding: 1em;
  margin-left: 2em;
  width: clamp(200px, 20vw, 300px);
}
.web-rings summary {
  font-weight: 600;
  margin: 1em;
}
.web-rings p {
  text-align: center;
}
.web-rings footer {
  border: none;
  font-size: smaller;
  text-align: center;
}

.string {
  margin-left: 0.75em;
}

.web-ring-index {
  max-width: 50%;
}

.web-rings-list {
  border: 1px solid rgb(167, 95, 177);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-height: 300px;
  scrollbar-color: rgb(171, 113, 189) transparent;
  scrollbar-width: thin;
}
.web-rings-list::-webkit-scrollbar-thumb {
  background-color: rgb(155, 96, 155) !important;
}
.web-rings-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 110, 190) !important;
}
.web-rings-list::-webkit-scrollbar-track-piece {
  background-color: rgba(112, 23, 134, 0.281) !important;
}
.web-rings-list h3 {
  text-align: center;
  padding: 0.75em;
  margin-top: 0;
  letter-spacing: 0.2em;
  font-stretch: expanded;
  font-weight: 600;
}
.web-rings-list p {
  margin: 0 auto;
  padding: 0.5em;
  border-bottom: 1px solid rgb(138, 85, 138);
  display: block;
}
.web-rings-list p:first-of-type {
  border-top: 1px solid rgb(138, 85, 138);
}
.web-rings-list img {
  image-rendering: pixelated;
}
.web-rings-list a {
  font-weight: 600;
  font-size: larger;
  display: inline-block;
  padding: 0.5em;
}

.pending {
  background-color: rgba(212, 82, 219, 0.1215686275);
}

.joined p:last-of-type {
  border-top: 1px solid rgb(138, 85, 138);
  border-bottom: none;
}

#resourceRing {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 0;
}
#resourceRing span {
  height: 31px;
}
#resourceRing a {
  padding: 0;
}

#vocaring {
  font-family: var(--font-3);
  font-stretch: semi-expanded;
  border: 1px solid rgb(22, 128, 117);
  margin: 2em auto;
  padding-top: 1em;
  background-color: rgba(64, 224, 208, 0.178);
  width: 70%;
}
#vocaring p {
  border: unset;
}
#vocaring .title {
  font-size: 1.5em;
  font-weight: 600;
  font-stretch: expanded;
}
#vocaring a {
  display: inline;
  padding: 0px;
}
#vocaring img {
  display: block;
  margin: 1em auto 0.5em;
}

.guestbook {
  border-radius: unset;
}
.guestbook .button-style {
  margin: 1.5em auto 0.75em;
  width: -moz-fit-content;
  width: fit-content;
}
.guestbook blockquote {
  margin: 1.5em auto auto;
  max-width: 100%;
  font-family: var(--font-3);
  font-weight: 600;
  font-size: larger;
}

@media all and (min-width: 1600px) {
  .layout {
    max-width: 1300px;
  }
}
@media all and (max-width: 1100px) {
  body {
    font-size: 1.2em;
    padding-top: 0;
  }
  article {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 15vw;
         column-gap: 15vw;
    padding: 5vh 10vw 10vh;
  }
  nav {
    font-size: 0.9em;
  }
  main {
    font-size: 0.9em;
  }
  #webmaster-identity {
    font-size: 1.25em;
  }
  .p-note {
    font-size: 0.9em;
  }
  .last-played {
    max-width: 270px;
  }
}
@media all and (max-width: 900px) {
  .layout {
    max-width: none;
    border-top: none;
    margin-top: 0;
  }
  h1 {
    line-height: 1.5em;
  }
  header .top {
    padding: 1vh;
  }
  header p {
    margin: 3vh auto;
  }
  nav {
    font-size: 1em;
  }
  main {
    font-size: 0.9em;
  }
  article {
    -moz-column-gap: 10vw;
         column-gap: 10vw;
    padding: 8vh 8vw;
  }
  .p-locality {
    font-size: 1.2em;
  }
  footer {
    width: 90%;
  }
}
@media all and (max-width: 768px) {
  .layout {
    margin-top: 0;
    max-width: none;
    border-left: none;
    border-right: none;
  }
  header {
    padding-top: 2vh;
  }
  header hgroup {
    margin-right: 20vw;
  }
  header hgroup p {
    font-size: clamp(1.5em, 3vw, 1.75em);
    line-height: 1.5em;
  }
  h1 {
    line-height: 1.5em;
  }
  nav {
    padding-left: 5%;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.95em;
  }
  main {
    font-size: 1em;
  }
  .notice-group {
    margin-top: 100vh;
    margin-right: 7vw;
  }
  #notice {
    width: 200px;
  }
  #pin {
    right: -5vw;
  }
  article {
    -moz-columns: 1;
         columns: 1;
  }
  article > section {
    width: clamp(250px, 60vw, 350px);
    margin-bottom: 15vh;
  }
  .p-note {
    font-size: 0.9em;
  }
  .time {
    max-width: 300px;
  }
  .latest-status {
    min-width: 70%;
  }
}
@media all and (max-width: 500px) {
  body {
    font-size: 1em;
  }
  header hgroup {
    margin-right: 0;
  }
  header hgroup p {
    font-size: 1.25em;
  }
  header .top {
    width: 80%;
    margin: auto;
    padding-top: 3vh;
  }
  h1 {
    margin-top: 0;
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.1em;
  }
  .ascii-img {
    width: 100%;
  }
  p .ascii-img {
    display: none;
  }
  #webmaster-identity {
    font-size: 1.1em;
  }
  .p-note {
    font-size: 1em;
  }
  .latest-status {
    min-width: 80vw;
  }
  .web-rings-list {
    max-height: 330px;
  }
}
@media all and (max-width: 400px) {
  h2 {
    font-size: 1.2em;
  }
  article > section {
    width: 90%;
  }
  .overflow {
    max-height: 40vh;
  }
}/*# sourceMappingURL=home.css.map */