.dark-mode {
  color: white;
  background-color: black;
}
.dark-mode .layout {
  background-color: var(--page-bg-dark);
  border-color: var(--page-border-dark);
}
.dark-mode .page-columns {
  background: url("/_assets/media/_shared/css/ooorganize-dark.svg");
}
.dark-mode header {
  color: white;
}
.dark-mode header nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--page-border-dark);
}
.dark-mode main {
  background: url("/_assets/media/_shared/css/ooorganize-dark.svg");
}
.dark-mode section,
.dark-mode .warning {
  background-color: var(--section-card-dark);
  color: white;
}
.dark-mode section {
  box-shadow: 10px 10px rgba(104, 59, 84, 0.75);
  border-color: #665085;
}
.dark-mode .button-gallery {
  background-color: transparent;
}
.dark-mode h2 {
  border-color: rgb(110, 62, 90);
}
.dark-mode h2,
.dark-mode h3 {
  color: var(--dark-mode-h);
}
.dark-mode a {
  color: var(--dark-mode-links);
}
.dark-mode a:hover {
  color: white;
}
.dark-mode button {
  background-color: var(--dark-button-bg);
  color: rgb(230, 214, 236);
}
.dark-mode button:hover {
  background-color: #712357;
}
.dark-mode button:active {
  background-color: rgb(207, 102, 102);
  color: white;
}
.dark-mode button:focus {
  background-color: #8b4f61;
}

.light-mode {
  background-color: var(--document-color-light);
  color: var(--font-color-light);
  font-weight: 450;
}
.light-mode .layout {
  background-color: var(--page-color-light);
}
.light-mode main {
  background: url("/_assets/media/_shared/css/ooorganize.svg");
}
.light-mode header {
  color: var(--h1-light);
}
.light-mode header nav {
  border-top: 1px solid rgb(82, 70, 82);
  border-bottom: 1px solid rgb(82, 70, 82);
}
.light-mode section {
  color: var(--font-color-light);
  border-color: rgb(190, 133, 141);
  background-color: var(--section-card-light);
  box-shadow: 10px 10px rgba(255, 149, 165, 0.5);
}
.light-mode .warning {
  background-color: var(--warning-bg);
  box-shadow: 10px 10px rgba(131, 36, 131, 0.5);
}
.light-mode .code {
  background-color: var(--button-code-txt);
  font-weight: 500;
}
.light-mode h2 {
  color: var(--h2-light);
  border-color: rgb(233, 166, 205);
}
.light-mode h3 {
  color: var(--h3-light);
}
.light-mode a {
  color: var(--link-color-light);
}
.light-mode a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(128, 0, 128, 0.637);
}
.light-mode button {
  background-color: #f5e9f5;
  color: rgb(51, 44, 44);
}
.light-mode button:hover {
  background-color: lightgoldenrodyellow;
}
.light-mode #gif-controls button {
  background-color: var(--gif-controls-bg);
  color: var(--gif-controls-font);
  border: var(--gif-controls-border);
}
.light-mode #gif-controls button:hover {
  background-color: var(--gif-controls-hover-bg);
}
.light-mode #gif-controls button:active {
  background-color: var(--gif-controls-active-bg);
}
.light-mode #gif-controls button:focus {
  background-color: var(--gif-controls-focus-bg);
}
.light-mode footer {
  color: var(--footer-font);
}/*# sourceMappingURL=link-gallery_theme.css.map */