/* sitemap */
@use 'font-2';
:root {
    --font-1: 'Instrument Sans', sans-serif;
    --bg-color-1: rgb(219, 202, 219);
    --bg-color-2: ghostwhite;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
html {
    scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
    scrollbar-width: thin;
}
body {
    font-family: var(--font-1);
    font-size: 1.1em;
    font-stretch: 95%;
    letter-spacing: .02em;
    max-width: 700px;
    margin: auto;
    margin-top: 5%;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    scrollbar-color: pink transparent;
    scrollbar-width: thin;
    }
        @media all and (max-width:768px) {
            body {
                width: fit-content;
            }
        }
    .layout {
        border: 1px solid;
    }
    .columns {
        columns: 2;
        column-gap: 5vw;
    }
        @media all and (max-width:650px) {
            .columns {
                columns: 1;
            }
        }
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
    text-align: right;
}
h3 ~ ul {
    margin-left: 1em;
}
h1, h2, h3 {
    font-weight: 600;
}
header {
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: .1em;
    display: flex;
    flex-direction: column-reverse;
}
header hgroup {
    display: flex;
    justify-content: space-between;
}
header hgroup p {
    text-align: right;
    align-self: center;
}
    @media all and (max-width:768px) {
        header hgroup {
            flex-direction: column;
        }
        header hgroup p {
            text-align: left;
            align-self: normal;
        }
    }
header time {
    font-weight: 600;
    display: block;
}
main {
    padding: 2% 5% 8%;
    & ul {
        padding-left: 0;
    }
}
li {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
}
li::before {
    content: '₊˚⊹♡';
    margin-right: .5em;
    color: rgb(177, 147, 152);
    font-weight: 600;
}
ul:first-child > li {
    border-bottom: 1px solid;
    padding: 2em 0 3em;
}
li ul li::before {
    content: '⋆ ˚｡⋆୨୧˚';
    font-weight: 400;
}
ul ul ul li::before {
    content: '⊹'
}
li li li {
    margin-left: 1em;
}
h3 ~ ul li::before {
    content: '୨♡୧';
    font-weight: 400;
}
a {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: .1em;
    transition: all 0.2s ease-out;
    text-decoration: underline dashed 1px;
    text-underline-offset: .3em;
    }
    a:hover {
    background-color: palevioletred;
    color: white !important;
    }
button {
  cursor: pointer;
  padding: .5em;
  font: inherit;
  border: 1px solid rgb(126, 98, 126);
  background-color: rgba(212, 103, 167, 0.192);
  transition: all .5s ease;
}
button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.514);
}
button:active {
    background-color: rgba(255, 189, 127, 0.253);
    filter: brightness(110%);
    box-shadow: 0px 0px 10px rgb(255, 255, 0);
}
#themeSwitch {
    display: block;
    margin-left: auto;
    border-radius: 50%;
}
::selection {
    background-color: rgb(248, 208, 170);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    }
    ::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background-color: plum;
    }
footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 3em;
    margin-bottom: 3em;
    }
    footer ul {
        padding: 0;
        list-style-type: none;
        }
        footer li:nth-child(1)::before {
            content: none;
        }
        footer li::before {
            content: "⬩";
            font-size: 1.25em;
            margin-right: 1em;
        }
        footer li {
            display: inline-block;
            margin-right: 1em;
        }
    footer time {
        font-weight: 600;
    }
:root {
    --light-border-color-1: rgb(163, 120, 127);
    --light-heading: rgb(77, 28, 92);
    --light-a: darkmagenta;
    --light-a-2: rgb(187, 77, 159);
    --light-a-3: rgb(161, 103, 179);
}
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bg-color-1);
    }
    .layout {
        background-color: var(--bg-color-2);
        border-color: var(--light-border-color-1);
    }
    header, h2, h3 {
        color: var(--light-heading);
    }
    a {
        color: var(--light-a);
    }
    li li a {
        color: var(--light-a-2);
    }
    li li li a {
        color: var(--light-a-3);
    }
}
.light-mode {
    color: initial;
    background-color: var(--bg-color-1);
    & .layout {
        background-color: var(--bg-color-2);
        border-color: var(--light-border-color-1);
    }
    & header, h2, h3 {
        color: var(--light-heading);
    }
    & a {
        color: var(--light-a);
    }
    & li li a {
        color: var(--light-a-2);
    }
    & li li li a {
        color: var(--light-a-3);
    }
}
:root {
    --dark-border-c-1: rgb(54, 34, 54);
    --dark-border-c-2: rgb(163, 113, 121);
    --dark-bg-c-2: rgb(22, 20, 22);
    --dark-a-1: rgb(218, 144, 218);
    --dark-a-2: rgb(218, 144, 218);
    --dark-a-3: rgb(173, 105, 194);
}
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
    .layout {
        border-color: var(--dark-border-c-1);
        background-color: var(--dark-bg-c-2);
    }
    a {
        color: var(--dark-a-1);
    }
    li li a {
        color: var(--dark-a-2);
    }
    li li li a {
        color: var(--dark-a-3);
    }
    ul:first-child > li {
        border-color: var(--dark-border-c-2);
    }
}
.dark-mode {
    color: white;
    background-color: black;
    & .layout {
        border-color: var(--dark-border-c-1);
        background-color: var(--dark-bg-c-2);
    }
    & a {
        color: var(--dark-a-1);
    }
    & li li a {
        color: var(--dark-a-2);
    }
    & li li li a {
        color: var(--dark-a-3);
    }
    & ul:first-child > li {
        border-color: var(--dark-border-c-2);
    }
}