/* subscription form after post */
@use 'font-1';
@use 'font-2';
@use 'font-3';

:root {
  --font-1: 'Instrument Sans', sans-serif;
  --font-2: 'Besley', serif;
  --font-3: 'Inconsolata', monospace;
  --font-color-light: #4e494e;
  --h1-light: #5a5463;
  --h2-light: #794668;
  --link-color-light: darkmagenta;
  --link-hover-bg-light: rgb(216, 112, 147);
  --document-color-light: thistle;
  --page-color-light: #fff6f6;
  --button-code-txt: rgb(255, 244, 244);
  --footer-font: rgb(97, 58, 97);
}

* {
  scrollbar-color: pink transparent;
  scrollbar-width: thin;
}
html {
  scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
  height: 100%;
}
body {
  font-family: var(--font-1);
  font-size: 1.2em;
  font-stretch: 95%;
  margin: auto;
}
.layout {
  width: 80%;
  max-width: 1000px;
  margin: 1em auto 3em;
  border: 1px solid rgb(105, 87, 105);
}
main {
  margin: auto;
}
main article {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 6fr;
  gap: 5vw;
  padding: 5%;
  font-weight: 450;
}
  @media all and (max-width: 900px) {
    main article {
      display: flex;
      flex-direction: column;
    }
  }
article > section {
  padding: 0 2em 1em;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}
h1 {
  font-size: 2em;
  font-family: var(--font-2);
  font-weight: 500;
  letter-spacing: .05em;
  margin-bottom: .25em;
  line-height: 1.25em;
}
#themeToggle {
  height: fit-content;
  font-size: smaller;
  margin: auto 0;
}
@media all and (max-width:768px) {
  .header-flex {
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;
  }
  h1 {
    margin: 1em auto;
  }
  #themeToggle {
    margin: auto;
  }
}

nav {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  font-size: 1em;
  letter-spacing: 1px;
}
nav ul {
  margin: 0;
  padding: 0;
  padding-top: .5em;
  padding-bottom: 1em;
}
nav li {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 0;
  padding-bottom: 0;
  white-space: nowrap;
}
nav li::before {
  content: "✧";
  font-size: 1.3em;
  margin-right: .5em;
  color: pink;
  font-weight: normal;
}
nav li:last-child::after {
  content: "✧";
  font-size: 1.3em;
  margin-left: .5em;
  color: pink;
  font-weight: normal;
}
nav a {
  text-decoration: none;
  color: purple;
  padding: 0px 5px 3px 5px;
}
#headernav #subscribe a {
  text-decoration: wavy underline 1px;
}
@media all and (max-width:768px) {
  nav {
    padding-left: 5%;
    overflow-x: auto;
    white-space: nowrap;
  }
  nav::-webkit-scrollbar-thumb {
    background-color: rgba(255, 192, 203, 0.445);
  }
}
a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
a:hover {
  text-decoration: none;
  color: white !important;
}
h2 {
  font-family: var(--font-2);
}
@media all and (max-width: 900px) {
  h2, p {
    text-align: center;
  }
}
button {
  cursor: pointer;
  padding: .5em 1em;
  width: fit-content;
  border: 1px solid;
  border-radius: 10px;
  font-family: var(--font-3);
  font-size: larger;
}
button, button:active, button:hover, button:focus {
  transition: all .5s ease;
}
hr {
  margin: 2em 0;
}
::selection {
  background-color: rgb(248, 208, 170);
  color: black;
}
footer {
  margin: auto;
  padding: 1em;
  border-top: 1px solid;
  text-align: center;
  font-size: .9em;
  font-stretch: semi-expanded;
}
  @media all and (max-width:768px) {
    footer {
      width: 90%;
    }
  }
footer ul {
   list-style-type: none;
   padding-left: 0;
}
footer li:nth-child(1)::before {
   content: none;
}
footer li::before {
   content: "⬩";
   font-size: 1.25em;
   margin-right: 15px;
}
footer li {
   display: inline-block;
   margin-right: 15px;
}
footer time {
  display: inline;
}
footer a img {
  text-decoration: none
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: inherit;
}
html ::-webkit-scrollbar-thumb {
  background-color: #8f53a1;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #694677;
}
body ::-webkit-scrollbar-thumb {
  background-color: pink;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--font-color-light);
    background-color: var(--document-color-light);
  }
  .layout {
    background-color: var(--page-color-light);
  }
  a {
    color: var(--link-color-light);
  }
  a:hover {
    background-color: var(--link-hover-bg-light);
  }
  h1 {
    color: var(--h1-light);
  }
  h2 {
    color: var(--h2-light);
  }
}

:root {
  --page-bg-dark: rgb(13, 13, 14);
  --page-border-dark: #503281;
  --dark-mode-links:  rgb(255, 192, 216);
  --link-hover-bg-dark: rgba(216, 112, 147, .5);
  --dark-mode-h: rgb(223, 154, 236);
  --dark-button-bg: #463646;
}

@media (prefers-color-scheme: dark) {
  body, footer {
    color: white;
  }
  body {
    background-color: black;
  }
  h1, header nav {
    color: white;
  }
  h2 {
    color: var(--dark-mode-h);
  }
  a, nav a {
    color: var(--dark-mode-links);
  }
  a:hover {
    color: white;
    background-color: var(--link-hover-bg-dark);
  }
  button {
    background-color: var(--dark-button-bg);
    color: rgb(230, 214, 236);
  }
  button:hover {
    background-color: #712357;
  }
  button:active {
    background-color: rgb(207, 102, 102);
    color: white;
  }
  button:focus {
    background-color: #8b4f61;
  }
}

.light-mode {
  background-color: var(--document-color-light);
  color: var(--font-color-light);
}
.light-mode .layout {
  background-color: var(--page-color-light);
}
.light-mode nav {
  color: var(--font-color-light);
}
.light-mode h1 {
  color: var(--h1-light);
}
.light-mode h2 {
  color: var(--h2-light);
}
.light-mode a {
  color: var(--link-color-light);
}
.light-mode a:hover {
  background-color: var(--link-hover-bg-light);
  color: white !important;
}
.light-mode button {
  background-color: #f5e9f5 !important;
  color: rgb(51, 44, 44) !important;
}
.light-mode button:hover {
  background-color: lightgoldenrodyellow !important;
}
.light-mode footer {
  color: var(--footer-font);
}

.dark-mode, .dark-mode .layout {
  background-color: black;
  color: white;
}
.dark-mode a {
  color: var(--dark-mode-links);
}
.dark-mode a:hover {
  color: white !important;
}
.dark-mode h1 {
  color: white;
}
.dark-mode h2, .dark-mode h3 {
  color: var(--dark-mode-h);
}
.dark-mode nav {
  border-color: #503281;
}
.dark-mode footer {
  color: white;
}