@mixin screen-1400 {
    @media all and (max-width: 1400px) {
        header {
            margin-top: 1vh;
            & #themeSwitch {
                grid-column: 1;
                margin: auto auto;
            }
            & hgroup {
                grid-column: 2 / 5;
            }
            & nav {
                grid-column: 1 / 5;
                & ul {
                    flex-wrap: wrap;
                }
                & li {
                    padding: .5em;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .form {
            top: 2vh;
            align-self: self-start;
        }
        .messages {
            margin-top: min(5vh, -200px);
        }
        main + footer {
            margin-bottom: 0;
            width: 100%;
        }
    }
}