@use 'assets/font_besley';
@use 'assets/font_instrument-sans';

@use 'animations/fade-in' as *;
@use 'screen_queries/guestbook/400' as *;

body {
    font-family: "Instrument Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90vw;
    max-width: 1200px;
}

@mixin heading-font {
    font-family: "Besley", serif;
}

header {
    grid-row: 1;
    margin-top: 3vh;
    display: grid;
    & #themeSwitch {
        width: fit-content;
        height: fit-content;
        padding: .5em;
        margin: auto 0;
    }
    & hgroup {
        grid-column: 2 / 10;
        @include heading-font();
        & h1 {
            margin-bottom: 0;
        }
        & p {
            margin-top: 0;
            font-size: larger;
        }
    }
    & nav {
        grid-column: 1 / 10;
        & ul {
            display: flex;
            flex-direction: row;
            margin-left: 0;
            padding-left: 0;
        }
        & li {
            margin: auto;
            &::marker {
                content: "✦ ";
            }
        }
    }
}

main {
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    @include fadeIn();
}

.form {
    position: sticky;
    bottom: 25vh;
    align-self: self-end;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    & .dialog {
        border: 1px solid;
        width: fit-content;
        padding: 1em;
        margin: 2em auto;
    }
    & h2 + p {
        width: 70%;
    }
}

form {
    display: grid;
    row-gap: .5em;
    margin-top: 2em;
    & input, textarea {
        padding: .5em;
        margin-bottom: 1em;
    }
    @for $i from 1 through 4 {
        & label:nth-of-type(#{$i}), input:nth-of-type(#{$i}) {
            grid-row: $i;
        }
    }
    & label {
        font-size: larger;
        font-weight: 600;
        grid-column: 1;
        &::after {
            margin-left: .25em;
        }
    }
    & label[for="message"] {
        $grid: span 5;
        grid-column: $grid;
        &::after {
            content: "*";
            color: red;
            font-size: larger;
        }
        & ~ textarea, ~ span {
            grid-column: $grid;
        }
    }
    & input {
        grid-column: 2 / 6;
        &[type="submit"] {
            grid-row: 7;
            width: fit-content;
            height: fit-content;
            margin: auto;
            margin-right: 0;
        }
    }
    & textarea {
        height: 12vh;
    }
}

.messages {
    position: relative;
    margin-top: min(10vh, -150px);
    & nav {
        text-align: center;
        margin: 2em auto;
        display: flex;
        flex-direction: row;
        width: fit-content;
        & span {
            width: fit-content;
            margin-right: 1em;
        }
        & .current a {
            color: red;
        }
    }
}

.message {
    border: 1px solid;
    padding: .25em 1em 1em 1em;
    margin-bottom: 3em;
    & h2 {
        font-size: 1.25em;
        @include heading-font();
    }
    & .reply-context {
        font-size: smaller;  
    }
    & .content {
    margin-left: 1em;
        & + footer {
            text-align: right;
        }
    }
}

main + footer {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    margin-top: 5em;
    margin-bottom: 3em;
    & ul {
        display: flex;
    }
    & li {
        margin-left: auto;
    }
}

@include screen-400();