@use 'assets/font_besley';
@use 'assets/font_instrument-sans';

@use 'animations/fade-in';

@import url("cactus-chat.css");

body {
    font-family: "Instrument Sans", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 90vw;
}

header {
    grid-row: 1;
    margin-top: 3vh;
    & nav ul {
        display: flex;
        flex-direction: row;
        & li {
            margin: auto;
        }
    }
}
h1 {
    font-family: "Besley", serif;
}
main {
    grid-row: 2;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
}

.form {
    position: sticky;
    top: 8vh;
    align-self: self-start;
    margin-left: auto;
    margin-right: auto;
    & .dialog {
        border: 1px solid;
        width: fit-content;
        padding: 1em;
        margin: 2em auto;
    }
    & h2 + p {
        width: 70%;
    }
}

form {
    display: grid;
    row-gap: .5em;
    max-width: 550px;
    & input, textarea {
        padding: .5em;
        margin-bottom: 1em;
    }
    @for $i from 1 through 4 {
        & label:nth-of-type(#{$i}), input:nth-of-type(#{$i}) {
            grid-row: $i;
        }
    }
    & label {
        font-size: larger;
        font-weight: 600;
        grid-column: 1;
        &::after {
            margin-left: .25em;
        }
    }
    & label[for="message"] {
        $grid: span 3;
        grid-column: $grid;
        &::after {
            content: "*";
            color: red;
            font-size: larger;
        }
        & ~ textarea, ~ span {
            grid-column: $grid;
        }
    }
    & input {
        grid-column: 2 / 4;
        &[type="submit"] {
            grid-column: 3;
            grid-row: 7;
            width: fit-content;
            height: fit-content;
            margin: auto;
            margin-right: 0;
        }
    }
    & textarea {
        height: 12vh;
    }
}

.messages {
    grid-column: 2;
    & nav {
        text-align: center;
        margin: 2em auto;
        display: flex;
        flex-direction: row;
        width: fit-content;
        & span {
            width: fit-content;
            margin-right: 1em;
        }
        & .current a {
            color: red;
        }
    }
}

.message {
    margin-bottom: 3em;
    font-size: smaller;
}
.message-content {
    font-size: larger;
    margin-left: 1em;
    & + footer {
        text-align: right;
    }
}

main + footer {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    & ul {
        display: flex;
    }
    & li {
        display: flex;
        text-align: right;
        margin-left: auto;
    }
}