@use 'assets/font_instrument-sans';

/* animations */
header, main, footer {
  opacity: 0;
  animation: fadeInPage .5s;
  animation-fill-mode: forwards;
}
section img {
  transition: transform 0.3s;
}
section img:hover {
  transform: translatey(-5px);
}
@keyframes fadeInSlide {
  0% {
      opacity: 0;
      transform: translatey(0);
  }
  100% {
      opacity: 1;
      transform: translatey(5px);
   }
}
@keyframes fadeInPage {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

:root {
  --font-1: 'Instrument Sans', sans-serif;
  --font-color-light: #4e494e;
  --header-bg-light: #fff6f6;
  --h1-light: #5a5463;
  --h2-light: #712357;
  --h3-light: #631863;
  --link-color-light: darkmagenta;
  --link-hover-bg-color: rgb(163, 75, 105);
  --button-font-color: rgb(51, 44, 44);
  --button-bg: #f5e9f5;
  --button-bg-hover: rgb(243, 228, 191);
  --button-border: 1px solid #8e629b;
  --document-color-light: thistle;
  --page-color-light: #fff6f6;
  --section-card-light: rgb(255, 239, 239);
  --theme-toggle-bg: #e3d7e9;
  --theme-toggle-hover-bg: #b084bd;
  --theme-toggle-active-bg: #8b4f61;
  --theme-toggle-focus-bg: #a175c5;
  --footer-font: rgb(97, 58, 97);

  --page-bg-dark: rgb(13, 13, 14);
  --page-border-dark: #503281;
  --section-card-dark: hsl(255, 5%, 16%);
  --dark-mode-links:  rgb(255, 192, 216);
  --dark-mode-h: rgb(223, 154, 236);
  --dark-button-bg: #463646;
  --button-font-dark: rgb(230, 214, 236);
  --button-hover-dark: #712357;
  --button-active-dark: rgb(207, 102, 102);
  --button-focus-dark: #8b4f61;
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--font-color-light);
    background-color: var(--document-color-light);
  }
  footer {
    color: var(--footer-font);
  }
  h1 {
    color: var(--h1-light);
  }
  h2 {
    color: var(--h2-light);
  }
  a {
    color: var(--link-color-light);
  }
}
@media (prefers-color-scheme: dark) {
  body, footer {
    color: white;
  }
  body {
    background-color: black;
  }
  header nav {
    border-color: var(--page-border-dark);
  }
  h1, header nav {
    color: white;
  }
  h2, h3 {
    color: var(--dark-mode-h);
  }
  a, nav a {
    color: var(--dark-mode-links);
  }
  a:hover {
    color: white;
  }
  button {
    background-color: var(--dark-button-bg);
    color: var(--button-font-dark);
  }
  button:hover {
    background-color: var(--button-hover-dark);
  }
  button:active {
    background-color: var(--button-active-dark);
    color: white;
  }
  button:focus {
    background-color: var(--button-focus-dark);
  }
}
/* non-native light mode */
.light-mode {
  background-color: var(--document-color-light);
  color: var(--font-color-light);
}
.light-mode .layout {
  background-color: var(--header-bg-light);
}
.light-mode nav {
  color: var(--font-color-light);
}
.light-mode main {
  background-color: var(--page-color-light);
}
.light-mode h1 {
  color: var(--h1-light);
}
.light-mode h2 {
  color: var(--h2-light);
}
.light-mode h3 {
  color: var(--h3-light);
}
.light-mode a {
  color: var(--link-color-light);
}
.light-mode a:hover {
  color: white;
}
.light-mode button {
  background-color: var(--button-bg);
  color: var(--button-font-color);
  border-color: var(--button-border);
}
.light-mode button:hover {
  background-color: var(--button-bg-hover);
}
.light-mode footer {
  color: var(--footer-font);
}

/* non-native dark mode */
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode a {
  color: var(--dark-mode-links);
}
.dark-mode h1 {
  color: white;
}
.dark-mode h2, .dark-mode h3 {
  color: var(--dark-mode-h) !important;
}
.dark-mode nav {
  border-color: #503281;
}
.dark-mode footer {
  color: white;
}

/* end of theme colors section */
* {
  scrollbar-color: pink transparent;
  scrollbar-width: thin;
}

html {
  scrollbar-color: rgb(184, 140, 184) rgb(242, 230, 250);
  height: 100%;
  text-rendering: optimizeLegibility;
}
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: inherit;
}
html ::-webkit-scrollbar-thumb {
  background-color: #8f53a1;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #694677;
}
body ::-webkit-scrollbar-thumb {
  background-color: pink;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: plum;
}
::selection {
  background-color: rgb(248, 208, 170);
}

a {
  background-color: transparent;
  transition: all 0.2s ease-out;
  text-decoration-style: dashed;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
a:hover {
  background-color: var(--link-hover-bg-color);
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  border: var(--button-border);
  font: inherit;
  height: fit-content;
  width: fit-content;
  padding: .5em;
  transition: all .5s;
}
button:hover {
  transition: all .5s;
}
button:active {
  transition: all .1s;
}
button:focus {
  transition: all .1s;
}
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed plum;
}

time {
  font-weight: 600;
  display: block;
}

/* semantic structure */
body {
  font-family: var(--font-1);
  font-size: .9em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.layout {
  display: flex;
  max-width: calc(100vw/1.5);
  margin-left: auto;
  margin-right: auto;
}
  @media all and (max-width:768px) {
    .layout {
      flex-direction: column;
      max-width: none;
    }
  }
.layout-col-2 {
  width: 100vw;
}
.layout-col-2 main, .layout-col-2 footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  @media all and (max-width:768px) {
    .layout-col-2 main, .layout-col-2 footer {
      width: 100%;
    }
  }

header {
  position: sticky;
  top: 0;
  background-color: inherit;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100vh;
  align-self: flex-start;
}
  @media all and (max-width:768px) {
    header {
      padding-left: 0;
      padding-right: 0;
      align-self: auto;
      height: fit-content;
    }
  }
header hgroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid;
  max-width: fit-content;
  padding-bottom: 2em;
}
header hgroup h1 {
  margin-top: 0;
  width: fit-content;
  font-size: calc(100% + 2vw);
  letter-spacing: .05em;
  font-weight: 600;
}
  @media all and (max-width:768px) {
    header hgroup {
      padding: 1em;
      padding-bottom: 0;
      flex-direction: row;
      max-width: none;
      border: none;
    }
    header hgroup h1 {
      font-size: 2em;
    }
    header hgroup .button-group {
      text-align: center;
    }
  }
header nav {
  height: fit-content;
  max-width: fit-content;
  margin-top: 1em;
  margin-bottom: auto;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
  letter-spacing: .05em;
}
header nav ul {
    margin: 0;
    padding: 0;
  }
  header nav li::marker {
    content: none;
  }
  header nav li::before {
    content: "✧";
    font-size: 1.3em;
    margin-right: .5em;
    color: pink;
    font-weight: normal;
  }
  header nav a {
    text-decoration: none;
    padding: 0px 5px 3px 5px;
  }

header nav summary {
  padding-top: .5em;
}
  @media all and (max-width:768px) {
    header {
      position: relative;
      flex-direction: column;
    }
    header nav {
      max-width: none;
      border-bottom: 1px solid;
      border-top: 1px solid;
    }
    header nav li {
      display: inline;
      margin-right: .5em;
      white-space: nowrap;
    }
  }

main {
  max-width: 90%;
  padding: 5%;
}
section {
  margin-left: auto;
  margin-right: auto;
}
h2 {
  border-bottom: 1px solid;
  padding-bottom: .5em;
  font-size: calc(100% + .5vw);
  letter-spacing: .05em;
}
footer {
  margin-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 1em;
  width: 50%;
  max-width: 500px;
}
  @media all and (max-width:768px) {
    footer {
      width: 90%;
    }
  }
  footer ul {
    list-style-type: none;
    padding-left: 0;
  }
  footer li:nth-child(1)::before {
    content: none;
  }
  footer li::before {
    content: "⬩";
    font-size: 1.25em;
    margin-right: 1em;
  }
  footer li {
    display: inline;
    margin-right: 15px;
  }
  footer time {
    display: inline;
  }