@mixin screen-768 {
    @media all and (max-width:768px) {
        body {
            font-size: 1.1em;
            flex-direction: column;
            padding: 0 0;
        }
        header {
            margin: 5% auto;
            padding: 0 5%;
            max-width: none;
            position: static;
            nav {
                ul {
                    display: inline-flex;
                    flex-wrap: wrap;
                    border: none;
                    padding: 0;
                    &:nth-child(2) {
                        li {
                            margin-right: 0;
                            padding-right: 0;
                            &::before {
                                content: none;
                            }
                        }
                    }
                }
                li {
                    padding-bottom: 0;
                    margin-right: 1em;
                    margin-bottom: 0;
                    display: inline;
                    flex-direction: row;
                    ul, li {
                        display: inline;
                        &::before {
                            content: '⟶';
                            margin-right: 1em;
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
        main {
            margin: auto;
            font-size: 1em;
            img {
                margin: 1vh auto;
            }
        }
        article {
            > section {
                border-left: none;
                border-right: none;
                padding-left: 0;
                padding-right: 0;
                p, ul, footer {
                    padding-right: 2em;
                }
            }
        }
        h2 {
            padding-right: 5vw;
        }
        footer {
            font-size: smaller;
        }
    }
}