//- copy template to yyyy/mm/dd directory, then change path to '../../../entry-template'
extends entry-layout

//- empty blocks will be omitted

block post title
  //- | title of blog post

block meta description
  //- meta(name='description' content='summmary of blog post, which should ideally be mirrored to XML and mastodon')

block publish date
  //- time.dt-published(datetime='2023-10-15') 15 october 2023

block post content 
  //- p filler text for blog post
    
block post styles
  //- link(rel='stylesheet' href='style.css' type='text/css' media='all')

block bridgy slug
  //- link(rel='alternate' type='application/activity+json' href='https://fed.brid.gy/r/https://jasm1nii.xyz/blog/notes')
  //- append '/yyyy/mm/dd' after '/notes'