@use '../assets/font_instrument-sans';

@use '../animations/fade-in' as *;
@use '../components/scrollbar' as *;
@use '../components/webkit_scrollbar' as *;

* {
    scrollbar-width: thin;
    @include scrollbar-style-1();
}

html {
    text-rendering: optimizeLegibility;
}

@-moz-document url-prefix() {
    body {
        font-weight: 450 !important;
    }
}

body {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    @include fadeIn();
    transition: all 0.25s ease-out;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();