@use '../assets/font_instrument-sans';

@use '../animations/fade-in' as *;
@use '../components/scrollbar' as *;
@use '../components/webkit_scrollbar' as *;

* {
    scrollbar-width: thin;
    @include scrollbar-style-1();
}

html {
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 450;
    @include fadeIn();
    transition: all 0.25s ease-out;
}

dl {
    margin-left: 2em;
    margin-right: 1em;
    display: grid;
    row-gap: 1em;
}
dt {
    font-weight: bolder;
    grid-column: 1;
}
dd {
    &:not(:last-child) {
        grid-column: 2 / 5;
        margin-left: 0;
        padding-left: .5em;
    }
    ul {
        padding-left: 0;
    }
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}
dt, dd {
    &:not(:last-child, :last-of-type) {
        border-bottom: 1px solid gray;
    }
    &:last-child {
        grid-column: span 4;
    }
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();