@use '../assets/font_besley';
@use '../assets/font_inconsolata';
@use '../assets/font_instrument-sans';

@use '../components/scrollbar' as *;
@use '../components/webkit_scrollbar' as *;

@use '../screen_queries/feeds/900' as *;

:root {
    --font-1: 'Instrument Sans', sans-serif;
    --font-2: 'Besley', serif;
    --font-3: 'Inconsolata', monospace;

    --font-color-light: #4e494e;
    --h1-light: #5a5463;
    --h2-light: #794668;
    --link-color-light: darkmagenta;
    --link-hover-bg-light: rgb(216, 112, 147);
    --document-color-light: thistle;
    --page-color-light: #fff6f6;

    --theme-toggle-bg: #e3d7e9;
    --theme-toggle-hover-bg: #b084bd;
    --theme-toggle-active-bg: #8b4f61;
    --theme-toggle-focus-bg: #a175c5;

    --page-bg-dark: rgb(24, 24, 26);
    --dark-mode-links: rgb(255, 192, 216);
    --link-hover-bg-dark: rgba(216, 112, 147, .5);
    --dark-mode-h: rgb(223, 154, 236);
    --dark-button-bg: #463646;
}

* {
    @include scrollbar-style-1();
}

html {
    height: 100%;
}

body {
    font-family: var(--font-1);
    font-size: 1.2em;
    font-stretch: 95%;
    margin: auto;
}

.layout {
    width: 80%;
    max-width: 1000px;
    margin: 1em auto 3em;
    border: 1px solid;
}

nav {
    font-weight: 500;
}

hr {
  margin: 2em 0;
}

footer {
  margin: auto;
  padding: 1em;
  border-top: 1px solid;
  text-align: center;
  font-size: .9em;
  font-stretch: semi-expanded;
}
footer ul {
   list-style-type: none;
   padding-left: 0;
}
footer li:first-child:before {
   content: none;
}
footer li::before {
   content: "⬩";
   font-size: 1.25em;
   margin-right: 15px;
}
footer li {
   display: inline-block;
   margin-right: 15px;
}
footer time {
    display: inline;
}
footer a img {
    text-decoration: none
}

a {
    background-color: transparent;
    transition: all 0.2s ease-out;
    text-decoration-style: dashed;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    &:hover {
        text-decoration: none;
        color: white !important;
    }
}

button {
    cursor: pointer;
    padding: .5em 1em;
    width: fit-content;
    border: 1px solid;
    border-radius: 10px;
    font-family: var(--font-3);
    font-size: larger;
}

button, button:active, button:hover, button:focus {
    transition: all .5s ease;
}

#themeSwitch {
    padding: .5em;
    border-radius: 0px;
    border: 1px solid #8e629b;
    height: fit-content;
    font-size: smaller;
    margin: auto 0;
}

::selection {
    background-color: rgb(248, 208, 170);
    color: black;
}

@include webkit-scrollbar-style-1();
@include screen-900();

$dark-border-color: #463646;

@mixin dark-mode-body {
    color: white;
    background-color: black;
}

@mixin dark-mode {
    .layout {
        background-color: rgb(10, 10, 10);
        border-color: $dark-border-color;
    }
    header {
        nav {
            border-color: $dark-border-color;
        }
    }
    article {
        > section {
            background-color: rgb(20, 20, 20);
        }
    }
    section {
        &:hover {
            h2 {
                color: rgb(255, 142, 198);
            }
        }
    }
    footer {
        border-color: $dark-border-color;
    }
    h2, h3 {
        color: var(--dark-mode-h);
    }
    a {
        color: var(--dark-mode-links);
        &:hover {
            color: white;
            background-color: var(--link-hover-bg-dark);
        }
    }
    button {
        background-color: var(--dark-button-bg);
        color: rgb(230, 214, 236);
        &:hover {
            background-color: #712357;
        }
        &:active {
            background-color: rgb(207, 102, 102);
            color: white;
        }
        &:focus {
            background-color: #8b4f61;
        }
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-mode-body();
    }
    @include dark-mode();
}

.dark-mode {
    @include dark-mode-body();
    @include dark-mode();
}

@mixin light-mode-body {
    background-color: var(--document-color-light);
    color: var(--font-color-light);
}

@mixin light-mode {
    .layout {
        background-color: var(--page-color-light);
    }
    article {
        > section {
            background-color: var(--page-color-light);
        }
    }
    section {
        &:hover {
            h2 {
                color: rgb(192, 90, 107);
            }
        }
    }
    h1 {
        color: var(--h1-light);
    }
    h2 {
        color: var(--h2-light);
    }
    a {
        color: var(--link-color-light);
        &:hover {
            background-color: var(--link-hover-bg-light);
            color: white;
        }
    }
    button {
        background-color: #f5e9f5;
        color: rgb(51, 44, 44);
        &:hover {
            background-color: lightgoldenrodyellow;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-mode-body();
    }
}

.light-mode {
    @include light-mode-body();
    @include light-mode();
}