{% extends layout %}

{% set title = 'bye neocities' %}

{% set summary = 'an unexpected change' %}

{% set keywords = 'blog, webmastery' %}

{% set published = '12 august 2023' %}

{% block content %}
  <p>
    hi, ichi.city!
  </p>
  <p>
    this website is a carbon copy of what used to be hosted on
    neocities. my site was taken down without warning, and i can't log
    into my profile there.
  </p>
  <p>
    therefore, there's probably a lot of broken links and out-of-context
    writing that's specific to neocities. i'll fix stuff eventually on
    my own time.
  </p>
  <p>
    for now, please abstain from linking to my old URL at <a href="https://jasm1nii.neocities.org/" rel="external me">https://jasm1nii.neocities.org/</a> until further notice - you can link to this one, instead.
  </p>
{% endblock %}

{# optional #}

{% set custom_style = false %}

{% set publish_to_bridgy = false %}

{% set enable_webmentions = true %}

{% set enable_comments = true %}