<section class="notes-format">
    <div>
        <img class="u-photo" alt="" src="/_assets/media/main/oingo-boingo.png" width="100" height="100"/>
    </div>
    <div class="h-entry">
        <p class="e-content">{{ block('content') }}</p>
        <time datetime="{{ published|date() }}">{{ published }}</time> | <a href="/blog/notes/{{ slug }}">view post with comments</a>
    </div>
</section>