<section class="notes-format">
    <img class="u-photo" alt="" src="/_assets/media/main/oingo-boingo.png" width="80" height="80"/>
    <section class="h-entry">
        <section class="e-content">{{ block('content') }}</section>
        <span>
            <time datetime="{{ published|date() }}">{{ published }}</time> | <a href="{{ slug }}">view post with comments</a>
        </span>
    </section>
</section>