{% extends layout %}

{% set title = "credits" %}

{% set description = "accessibility statement for the website" %}

{% block content %}
    <section>
        {% apply markdown_to_html %}
            ### visual assets

            <section>

            #### fonts
            * <a href="https://github.com/indestructible-type/Besley" rel="external">"besley"</a> by owen earl.
            * <a href="https://levien.com/type/myfonts/inconsolata.html" rel="external">"inconsolata"</a> by raph levien.
            * <a href="https://fonts.google.com/specimen/Instrument+Sans?query=instrument+sans" rel="external">"instrument sans"</a> by rodrigo fuenzalida and jordan egstad.

            </section>

            <section>
            
            #### graphics
            * site icon by <a href="https://openmoji.org/" rel="external">openmoji.</a>
            * background graphics generated with <a href="https://fffuel.co/" rel="external">fffuel</a> and <a href="https://heropatterns.com/" rel="external">hero patterns.</a>
            * additional site graphics from <a href="https://www.svgrepo.com/" rel="external">svg repo.</a>
                * pagination icons by catalin fertu and used under the [creative commons attribution license.](https://www.svgrepo.com/page/licensing#CC%20Attribution)
            * website button made with <a href="https://sadgrl.online/projects/88x31-button-maker" rel="external">88 &#x78; 31 button maker by sadness.</a>

            </section>
        {% endapply %}
    </section>

    <section>
        {% apply markdown_to_html %}
            ### scripts
            
            <section>
            
            #### javascript
            * <a href="https://codepen.io/paulera/pen/BPwPNw" rel="external">local timezone script</a> by paulo amaral.
            * <a href="https://github.com/biancarosa/lastfm-last-played" rel="external">last.fm script</a> by bianca rosa.
            * vanilla javascript theme changer script based on a <a href="https://gist.github.com/qaisarferoz/03b133e7fc535dd9f097e31d1f2d1303" rel="external">jquery snippet</a> by qaisar feroz.
            * <a href="https://github.com/ctrl-freaks/freezeframe.js" rel="external">freezeframe.js</a> set up with the help of <a href="https://bechnokid.neocities.org/" rel="external">bechno kid's tutorial.</a>
            * webmentions displayed with [seia.js.](https://seia.js.org/)

            </section>

            <section>

            #### PHP
            * [XML sitemap generator](https://github.com/vezaynk/Sitemap-Generator-Crawler) by slava knyazev for search engine crawling (not the actual sitemap page).
            * [twig template engine](https://twig.symfony.com/) by symfony.
            * [league/commonmark](https://commonmark.thephpleague.com/) by the PHP league for converting markdown to html.
            * [PHPMailer](https://github.com/PHPMailer/PHPMailer) for sending form responses as emails.

            </section>
        {% endapply %}
    </section>

    <section>
        {% apply markdown_to_html %}
            ### services
            * blog comments by <a href="https://cactus.chat/" rel="external">cactus comments.</a>
            * webmentions hosted by [webmention.io.](https://webmention.io/)
            * privacy-friendly visitor statistics by <a href="https://www.goatcounter.com/" rel="external">goat counter.</a>
            * web hosting provided by <a href="https://www.rumahweb.com/" rel="external sponsored">rumahweb indonesia.</a>
        {% endapply %}
    </section>
{% endblock %}