{% extends layout %}

{% block content %}
    <ul>
        <li>
            <a href="/">home</a> ⟶ current status, my other websites, web rings & site listings
        </li>
        <li>
            <a href="/about">about</a> ⟶ the website, the webmaster (<a href="/about#contact">contact info</a>)
            <ul>
                <li>
                    <a href="/about/changelog">change log</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/blog">blog</a>
            <ul>
                <li>
                    <a href="/blog/notes">notes</a>
                </li>
                <li>
                    <a href="/blog/articles">articles</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/resources/">resources</a> ⟶ blogging services, wellness, neurodiversity
            <ul>
                <li>
                    <a href="/resources/art-design">art & design</a>
                </li>
                <li>
                    <a href="/resources/organization-productivity">organization & productivity</a>
                </li>
                <li>
                    <a href="/resources/webdev">web development</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/link-gallery">link gallery</a> ⟶ site button, links to related sites
        </li>
        <li>
            <a href="/feeds">feeds</a>
        </li>
        <li>
            <a href="/credits">credits</a>
        </li>
        <li>
            <a href="/accessibility">accessibility</a>
        </li>
        <li>
            <a href="/guestbook">guestbook</a>
        </li>
    </ul>
{% endblock %}
