{% extends layout %}

{% set keywords = ['accountability', 'personal'] %}

{% set published = '23 november 2023' %}

{% block content %}
    <p>
        i've been painfully inconsistent with my yoga practice, but i finally hit the mat again today. i swear i used to be a lot less stiffer than this.
    </p>
    <iframe src="https://www.youtube-nocookie.com/embed/StLUjMxHZZE?si=c754A_97QweA5tVi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}

{# optional #}

{% set custom_style         = false %}
{% set publish_to_bridgy    = true  %}
{% set webmentions_301      = false %}
{% set enable_webmentions   = true  %}
{% set enable_comments      = true  %}